<template>
  <lm-popup-layer
    :is-pop.sync="isShow"

    @close="onClose"
  >
    <div class="popup_option_wrap">
      <div class="popup_content_wrap">
        <!-- <strong class="popup_title">
            옵션을 선택해 주세요.
        </strong> -->
<!--        <select class="select_boxline_type in_popup margin-b-20" name="" >-->
<!--          <option value="">옵션을 선택해주세요.</option>-->
<!--          <option value="">그레이</option>-->
<!--          <option value="">블랙</option>-->
<!--          <option value="">네이비</option>-->
<!--          <option value="">베이지</option>-->
<!--        </select>-->
        <select class="select_boxline_type margin-b-20" @click.prevent.stop="$selectPopup(option1, 'value', 'option_id', '선택', 'option1_val', $event, $data, null,null, 'store')" >
          <option value="0">옵션을 선택해주세요.</option>
            <option v-for="(item, index) in option1" :key="index" :value="item.option_id">{{item.value}}</option>

        </select>
<!--        <select class="select_boxline_type in_popup margin-b-20" name="" >-->
<!--          <option value="">옵션을 선택해주세요.ㄱ</option>-->
<!--          <option value="">160cm</option>-->
<!--          <option value="">150cm</option>-->
<!--          <option value="">140cm</option>-->
<!--        </select>-->
        <select class="select_boxline_type margin-b-20" v-if="!isSingle" id="sel_ov_1" @click.prevent.stop="$selectPopup(option2, 'value', 'option_id', '선택', 'option2_val', $event, $data, null,null, 'store')" >
          <option value="0">옵션을 선택해주세요.</option>
          <option :key="index" v-for="(item, index) in option2" :value="item.option_id">{{item.value}}<span v-if="item.amount > 0">(옵션가 : {{item.amount}}원)</span></option>
        </select>
        <!-- 선택 후 수량 영역 -->
        <div class="goods_option_wrap" v-for="(item, index ) in optionInfo" :key="item.idx" v-if="item.view_title">
          <div class="goods_option">
            <div class="goods_option_dtail">
              <span>{{ item.view_title }}</span>
            </div>
            <div class="btn_count_wrap">
              <div class="count_area lft">
                <button type="button" class="btn-count" @click="setQuantity(index, false)"></button>
                <span class="btn-count-num">
                                        {{ item.quantity }}
                                    </span>
                <button type="button" class="btn-count plus" @click="setQuantity(index, true)"></button>
              </div>
              <div class="count_area right">
                <span class="goods-price">{{ (item.quantity * (item.price + item.amount))|number }}</span>
                <span>원</span>
                <button type="button" @click="delOptionInfo(index)" class="ico-delete"></button>
              </div>
            </div>
          </div>
        </div>

        <!-- //선택 후 수량 영역 -->
        <div class="division_line"></div>

        <p class="in_popup_total">
          총 결제금액
          <span class="price">
                                {{ defaultPrice|number }}원
                            </span>
        </p>
        <div class="popup_btn_wrap col_2">
          <a class="btn btn_pink_line btn_box" @click="setCart">
            장바구니
          </a>
          <!-- a태그에 class="on" 붙일시 클릭효과 -->
          <a class="btn btn_pink btn_box on" @click="submitAction">
            바로구매
          </a>
        </div>
      </div>
    </div>
  </lm-popup-layer>
</template>

<script>
import Vue from 'vue'
// import IMP from 'vue-iamport'
import IMPpg from '@/lib/IMPpg'
import subviewStackMixin from '@/mixins/subview-stack-mixin'
import $ from 'jquery'
import Native from "@/lib/native";
// Vue.use(IMP, 'imp56251768')
// Vue.IMP().load()
export default {
  name: "StorePurchasePopup",
  mixins:[
     subviewStackMixin
  ],
  data () {
    return {
      isComplete: null,
      isShow: false,
      resolve: null,
      reject: null,
      optionId: 0,
      option1: null,
      option2: null,
      option1_val: '0',
      option2_val: '0',
      option2_check: true,
      totalAmount: 0,
      optionInfo: [],
      orderData: {
        'user_id':'',
        'device':101,
        'token':'9da0bfb08451e28aa7071b891e0e07c97545ee18783253ba8cc5a0b0335ab3e3',
        'user_type':'',
        'sku_ids':'',
        'quantities':'',
        'order_name':'',
        'order_phone':'',
        'address_name':'',
        'shipping_name':'',
        'shipping_phone':'',
        'shipping_zipcode':'',
        'shipping_address_1':'',
        'shipping_address_2':'',
        'shipping_msg':'',
        'set_address_default':false,
        'method':'card',
        'total':0,
        'shipping':0,
        'shipping_cnt':0,
        'add_shipping':0,
        'lmpay':0,
        'set_default_method':false,
        'bank':'',
        'holder':'',
        'account':'',
        'origin_price':0,
        'option_price':0,
        'promotion_price':0,
        'shipping_price':0,
        'total_price':0
      },
      defaultPrice: 0,
      isSingle: false
    }
  },
  props: {
    goodsId: {
      type: Number | String,
      default: 0
    },
    goodsInfo: {
      type: Object,
      default: null
    }
  },
  created () {
    Vue.prototype.$StorePurchaseOpen = {open: this.open, close: this.close}
    this.storePurchaseInfo()
  },
  watch: {
    option1_val (v) {
      if (parseInt(v) > 0) {
        this.option2_val = 0
        this.optionId = v
        // this.storePurchaseInfo()
        let idx = this.optionInfo.length
        // idx = this.option2_check ? idx : idx -1
        this.optionInfo[idx] = this.option1.filter(data => data.option_id === v)[0]
        this.optionInfo[idx]['goods_id'] = this.goodsId
        this.option2_check = false

        if (this.isSingle) {
          let tmepOp1 = this.option1
          let tempData = tmepOp1.filter(data => data.option_id === v)[0]
          let opInfo = this.optionInfo[idx]
          let Data = {
            'index': idx,
            'goods_id': opInfo.goods_id,
            'sku_id': tempData.sku_id,
            'title': opInfo.title,
            'value': opInfo.value,
            'amount': tempData.amount,
            'price': this.$parent.goodsDetail.promotion_price,
            'quantity': 1,
            'view_title': opInfo.title + ' : ' + opInfo.value,
            'amount_str': (parseInt(this.$parent.goodsDetail.promotion_price) + parseInt(tempData.amount)) + '원'
          }
          this.optionInfo[idx] = Data
          // this.defaultPrice = this.optionInfo[0].amount + this.optionInfo[0].price
          this.totalPrice()
          this.option2_check = true
          this.option1 = null
          this.option2 = null
          this.optionId = 0
          this.option1_val = '0'
          this.option2_val = '0'
        }
        this.storePurchaseInfo()
      }
    },
    option2_val (v) {
      if (parseInt(v) > 0) {
        this.optionId = v
        // this.storePurchaseInfo()
        let idx = this.optionInfo.length
        let tmepOp2 = this.option2
        let tempData = tmepOp2.filter(data => data.option_id === v)[0]
        let opInfo = this.optionInfo[idx-1]
        let Data = {
          'index': idx-1,
          'goods_id': opInfo.goods_id,
          'sku_id': tempData.id,
          'title': opInfo.title + ',' + tempData.title,
          'value': opInfo.value + ',' + tempData.value,
          'amount': tempData.amount,
          'price': this.$parent.goodsDetail.promotion_price,
          'quantity': 1,
          'view_title': opInfo.title + ' : ' + opInfo.value + ', ' + tempData.title + ' : '+tempData.value,
          'amount_str': (parseInt(this.$parent.goodsDetail.promotion_price) + parseInt(tempData.amount)) + '원'
        }
        this.optionInfo[idx-1] = Data
        // this.defaultPrice = this.optionInfo[0].amount + this.optionInfo[0].price
        this.totalPrice()
        this.option2_check = true
        this.option1 = null
        this.option2 = null
        this.optionId = 0
        this.option1_val = '0'
        this.option2_val = '0'
        this.storePurchaseInfo()
      }
    }
  },
  methods: {
    delOptionInfo (index) {
      this.optionInfo.splice(index, 1)
      this.totalPrice()
    },
    setQuantity (index, state) {
      let data = this.optionInfo
      if(state) {
        data[index] = this.optionInfo[index]
        data[index].quantity = data[index].quantity + 1
        this.optionInfo = data
      } else {
        if (data[index].quantity > 1) {
          data[index] = this.optionInfo[index]
          data[index].quantity = data[index].quantity - 1
          this.optionInfo = data
        }
      }
      let TempData = {
        'temp': 12
      }
      this.totalPrice()
      this.optionInfo.push(TempData)
      this.optionInfo.pop()

      console.log(this.optionInfo)
    },
    totalPrice () {
      let price = 0
      this.optionInfo.forEach(data => {
        if(data.view_title) {
          price += (data.price + data.amount) * data.quantity
        }
      })
      this.defaultPrice = price
    },
    submitAction () {
      this.makeMetaData(true, this.optionInfo)
    },
    makeMetaData(is_use_option, data_) {
      if((this.optionInfo.length <= 1 && !this.option2_check) || this.optionInfo.length === 0) {
        Native.alert('옵션을 선택해주세요.')
        return false
      }
      let url = "order/checkout/meta";
      let data = {
        'sku_ids': '',
        'quantities': ''
      };

      if (is_use_option) {
        let sku_ids = "";
        let quantities = "";
        for (var i = 0; i < data_.length; i++) {
          if (data_[i].sku_id && data_[i].quantity) {
            sku_ids += data_[i].sku_id + ",";
            quantities += data_[i].quantity + ",";
          }
        }

        sku_ids = sku_ids.slice(0, -1);
        quantities = quantities.slice(0, -1);
        data.sku_ids = sku_ids;
        data.quantities = quantities;
      } else {
        data.sku_ids = data_.sku_ids;
        data.quantities = data_.quantities;
      }

      this.close()
      this.$http.post(url,data).then(res => {
        console.log(res);
        // this.stackPush('GoodsOrder',null,res.data)

        this.$parent.parentStackPush(res.data)
        // this.$emit('parentStackPush',res.data)
      }).catch(e => {
        console.warn(e)
      })


    },
    storePurchaseInfo() {
      this.$http.get('store/goods/options/' + this.goodsId + '?optionId=' + this.optionId + '&isSingle=' + this.isSingle).then(res => {
        // this.$http.get('store/store').then(res => {

        if (parseInt(this.optionId) > 0) {
          this.option2 = res.data
        } else {
          this.option1 = res.data
          // this.option1.forEach(data => {
          //   if(data.amount > 0) {
          //     // data.value = data.value + ' (+' + Vue.filter('number')(data.amount)  + '원)'
          //     data.value = data.value
          //   }
          // })
        }

        console.log(res)
      }).catch(e => {
        console.warn(e)
      })
    },
    open (goodsId, isSingle) {
      return new Promise((resolve, reject) => {
        this.isSingle = isSingle
        this.storePurchaseInfo()
        this.defaultPrice = this.goodsInfo.promotion_price > 0 ? this.goodsInfo.promotion_price : this.goodsInfo.price
        this.isShow = true
        this.resolve = resolve
        this.reject = reject
      })
    },
    close () { // animation close
      this.option1 = null
      this.option2 = null
      this.optionId = 0
      this.option1_val = '0'
      this.option2_val = '0'
      this.resolve(this.isComplete)
      this.isShow = false
      this.optionInfo = []
    },
    onClose () {
      console.log('SsPop emit >>>> :: close')
      this.isComplete = null
      this.close()
    },
    setCart() {
      if((this.optionInfo.length <= 1 && !this.option2_check) || this.optionInfo.length === 0) {
        Native.alert('옵션을 선택해주세요.')
        return false
      }
      this.$msgFullPage('장바구니에<br> 상품이 담겼습니다.')
      let sku_ids = ''
      let quantities = ''
      this.optionInfo.forEach(data => {
        if (data.sku_id && data.quantity) {
          sku_ids = sku_ids + data.sku_id + ','
          quantities = quantities + data.quantity + ','
        }
      })

      let url = "cart/add"
      let data = {
        'device': 101,
        'non_user_id': null,
        'goods_id': this.goodsId,
        'sku_id': sku_ids,
        'quantity': quantities
      };


      this.close()
      this.$http.post(url,data).then(res => {
        console.log(res);
        this.$msgFullPage('장바구니에<br/> 상품이 담겼습니다.')
      }).catch(e => {
        console.warn(e)
      })


    }
  }
}
</script>

<style scoped>

</style>