<template>
  <div class="content-home">
    <div id="header">
      <div id="main_header">
        <div id="logo_wrap" class="wrap">
          <img id="logo" src="@/assets/image/icon/lm_logo.png">
        </div>
        <div id="search_wrap" class="wrap">
          <a href="javascript:void(0);" onclick="searchs();">
            <p><img src="@/assets/image/icon/ic-top-search-gray@2x.png">상품을 검색해보세요.</p>
          </a>
        </div>
        <div id="cart_wrap" class="wrap">
          <div id="cart_item">
<!--            <div @click="$router.push('userLogin')" style="height: 50px; width: 50px;">Login</div>-->
            <a class="cart_btn" @click="$router.push({name:'userLogin'})">
              <span id="cart_badge">0</span>
              <img src="@/assets/image/icon/ic-top-cart@2x.png">
            </a>
          </div>
        </div>
      </div>

    </div>
    <div id="sub_header" style="">
      <ul id="scroll_header" style="cursor: grab;">
        <li class="sub_menu_btn" v-for="item in menus" :key="item.key" :class="item.comp === homeTab ? 'selected' : ''" @click="changeTab(item.comp)">{{item.title}}</li>
      </ul>

    </div>
    <p id="seller_banner" style="display: none;"><span>러블리마켓 입점 브랜드 개 😘</span></p>

    <transition :name="slideDirection" >
      <component ref="comp" :is="curMenuComp" :tab="tab"></component>
    </transition>
  </div>
</template>

<script>

import Store from "@/views/Home/Store/StoreList";
import Brand from "@/views/Home/Store/StoreBrand";
import New from "@/views/Home/Store/StoreNew";
import Best from "@/views/Home/Store/StoreBest";
import Category from "@/views/Home/Store/StoreCategory";
import Exhibition from "@/views/Home/Store/StoreExhibition";

export default {
  name: "index",
  // eslint-disable-next-line vue/no-unused-components
  components: {Store, Brand, New, Best, Category, Exhibition},
  props: ['tabName', 'homeTab'],
  data () {
    return {
      curIdx: 0,
      tab: '',
      curMenu: '',
      curMenuComp: '',
      menus: [
        {'key': 'store', 'comp': 'Store', 'title': '스토어', 'icon': ''},
        {'key': 'brand', 'comp': 'Brand', 'title': '브랜드', 'icon': ''},
        {'key': 'new', 'comp': 'New', 'title': 'NEW', 'NEW': ''},
        {'key': 'best', 'comp': 'Best', 'title': 'BEST', 'BEST': ''},
        {'key': 'category', 'comp': 'Category', 'title': '카테고리', 'icon': ''},
        {'key': 'exhibition', 'comp': 'Exhibition', 'title': '기획전', 'icon': ''}
      ],
      slideDirection: 'slide-right'
    }
  },
  computed: {
    tabInfo () {
      return this.menus.find(m => { return m.key === this.curMenu })
    }
  },
  watch: {
    homeTab (n) {
      this.loadServiceHome({homeTab: n})
    }
  },
  created () {
    this.tab = this.homeTab
    this.loadServiceHome({homeTab: this.homeTab})
    // this.$bus.$on('resetHome', this.resetHome)
  },
  methods: {
    loadServiceHome (menu) {
      console.log('HomeBox::loadServiceHome::', menu, this.$route)
      console.log('HomeBox::loadServiceHome::this.menus::this.tabName::this.homeTab::', this.menus, this.tabName, this.homeTab)
      if (!menu.homeTab) return

      this.curMenu = menu.homeTab.toLowerCase()
      this.curMenuComp = this.menus.find(m => { return m.key === this.curMenu }).comp

      // 라우터 감지해서 동작 하는게 아니라서 여기서 파라미터로 받아서 처리 해야 정상동작한다.
      this.tab = menu.homeTab ? menu.homeTab : 0
    },
    changeTab (menu) {
      if (menu !== this.homeTab) {
        this.$router.replace('/Store/' + menu)
      }
    }

  }
}
</script>

<style scoped>
  .tab-menu>ul>li {
    position: relative;
    display: inline-block;
    padding: 0 1em;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    opacity: .8;
  }

  .fb {
    font-weight: bold !important;
  }

  #header {
    position: relative;
    width: 100%;
    height: auto;
    /*margin-left: 20%;*/
    /*border-bottom: 1px solid #f3f3f3;*/
    margin-bottom: 0;
    background-color: #fff;
    height: 49px;
  }


  #main_header {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 100%;
    max-width: 768px;
    height: 4.5rem;
    color: #fff;

    transition: background 0.6s;
    padding-left: 0.0rem;
    padding-right: 0.0rem;
    padding-top: 0.3em;
    padding-bottom: 0.3rem;

  }

  #main_header .wrap img{
    height: 100%;
  }

  #main_header #logo_wrap {
    /*width: 16%;*/
    /*height: 100%;*/
    /*text-align: center;*/

    text-align: center;
    width: 15%;
    height: 100%;

  }

  #logo {
    margin-left: 0.5rem;
    display: inline-block;
    height: 100%;
    max-height: 2rem;

  }


  #main_header #search_wrap {
    width: 70%;
    height: 80%;
    margin-top: 1%;
  }

  #main_header #search_wrap a p {
    width: 95%;
    font-size: 0.9rem;
    color: #c0c0c0;
    background-color: #fafafa;

    line-height: 1.8rem;
    margin: 0;
    padding: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.8rem;
    vertical-align: middle;
    font-family: NanumSquareRoundB;
    /*NanumSquareRoundB*/
  }

  #main_header #search_wrap p img {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.3rem;
    vertical-align: middle;
  }

  #main_header #cart_wrap {
    display: table;
    width: 10%;
    height: 100%;
    vertical-align: middle;
  }

  #main_header #cart_wrap #cart_item {
    display: table-cell;
    height: 100%;
    vertical-align: middle;

    text-align: left;
  }

  #main_header #cart_wrap #cart_item a {
    position: relative;
  }

  #main_header #cart_wrap #cart_item a img {
    height: 1.1538461538rem;
    margin-right: .7692307692rem;
  }

  #main_header #cart_wrap #cart_item a #cart_badge {
    position: absolute;
    right: -50%;
    top: -0.7rem;
    background: #eb7c94;
    text-align: center;
    border-radius: 2rem 2rem 2rem 2rem;
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 0.5rem;
  }

  #cart_wrap img {
    max-height: 3rem;
  }


  #sub_header {
    margin: auto;
    width: 100%;
    max-width: 768px;
    background: #fff;
    z-index: 100;
    margin: auto;
    text-align: left;
    /*overflow:hidden; overflow-x:auto; white-space: nowrap;*/
    position: sticky; position: -webkit-sticky; top: 0; left: 0;
    border-bottom: 1px solid #f3f3f3;
  }


  #sub_header ul {
    position: relative;
    background-color: #fff;
    font-size: 0;
    list-style-type:none;
    white-space:nowrap;
    overflow-x:auto;
    text-align: left;
    margin-bottom: 0;
  }

  #sub_header ul li {
    display: inline-block;
    /*padding: 0.7rem 0.7rem;*/
    margin-left: 1rem;
    margin-right: 1rem;
    color: #1c1c1c;
    font-size: .8125rem;
    font-family: NanumGothicR;
    padding-top: .625rem;
    padding-bottom: .625rem;
    box-sizing: content-box!important;
  }

  #sub_header ul li a {
    text-decoration: none;

  }

  #sub_header.fixed {
    position: fixed;
    left: 50%;
    top: 0;
    width: inherit;
    max-width: inherit;
    transform: translate(-50%, 0%);
  }

  #sub_header ul {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  #sub_header ul::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  #sub_header li {

    display: inline;

    vertical-align: top;
    width: auto;
    /*font-size: 15px;*/
    text-align: center;
    margin-right: auto;
  }

  #sub_header li.sub_menu_btn a {
    display: inline-block;
    font-size: 1.0rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    color: #000;

    font-family: NanumSquareRoundR;
  }

  #sub_header li.sub_menu_btn.selected {
    border-bottom: 0.05rem solid #000;
    font-weight: bold;
    font-family: NanumSquareRoundEB;
  }

  .cart_btn img {
    height: 1.1538461538rem;
    margin-right: .7692307692rem;
  }
</style>