<template>
  <div class="content-home store-home-contents" v-cloak>

    <div class="max_wrap padding" v-if="!isNative && isLoad">


      <template v-if="goodsList.length > 0" >
        <div class="goods_item" :key="index" v-for="(item, index) in goodsList">
          <a href="javascript:void(0);" @click="stackSubPush('GoodsDetail', item.id)">
            <div class="img_wrap">
              <img :src="item.imgs">
            </div>
            <div class="info_wrap">
              <p class="seller_name">{{item.seller_name}}</p>
              <p class="goods_title">{{item.title}}</p>
              <p class="price">
                <span class="discount_price">{{item.percent}}%</span>
                <span class="sale_price">{{item.promotion_price|number}}</span>
                <span class="origin_price">{{item.price|number}}</span>
              </p>
              <p class="view">
                <input type="hidden" class="hd_hotdeal" value="0">
                <img src="@/assets/image/remake/store/icView.png"><span class="goods_cnt">{{item.view}}명이 본 상품</span>
                <input type="hidden" class="hd_input_hotdeal" value="0">
              </p>
            </div>
          </a>
        </div>
      </template>
      <template>
        <div>
<!--          상품 내역이 없습니다.-->
        </div>
      </template>
    </div>
    <div class="max_wrap padding" v-else>
      <span v-if="isLoad">네트워크가 안정적이지 않습니다.</span>
    </div>
    <div class="max_wrap padding" style="    text-align: center;    width: 100%;    display: block;" v-if="!isLoad">
     로딩중입니다.
    </div>
  </div>
</template>

<script>
import Native from "@/lib/native";

export default {
  name: "StoreList",
  data () {
    return {
      goodsList: [],
      isLoad: false
    }
  },
  computed: {
    isNative () {
      return Native.isHybrid()
    }
  },
  created() {
    if (!this.isNative) {
      this.getList()
    }
  },
  methods: {
    getList () {
      this.$http.get('store/store/list').then(res => {
        this.goodsList = res.data.data
        this.isLoad = true
        console.log(res)
      }).catch(e => {
        this.isLoad = true
        console.warn(e)
      })
    }
  }
}
</script>

<style>
/*@import "/src/assets/css/store/comm_mobile.css";*/
@import '/src/assets/css/common.css';

</style>