/*---------- Button component ----------*/
.btn {
  display: block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
}

.ico {
  display: block !important;
}

.btn-s-text {
  display: block;
  width: 100%;
}

.btn-ico {
  display: block;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 20px;
  cursor: pointer;
}

.title_ico {
  font-style: normal;
}

/* 핫딜 버튼 베너 */
.hotdeal_banner_wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  height: 35px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);

  .hotdeal_text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    line-height: 35px;

    i {
      margin-right: 2px;
      display: inline-block;
      transform: translateY(-1px);
    }

    .hotdeal_time {
      color: rgba(255, 255, 255, 0.8);
      font-weight: 500;
      padding: 2px;
    }
  }
}

/* 버튼 포지션 */
/* pc */
@media screen and (min-width: 768px) {
  .btn_wrap_bottom {
    -webkit-overflow-scrolling: touch;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    &.bottom_round {
      bottom: 15px;
      margin: 0 20px;

      .btn {
        margin: 0 auto;
        max-width: 728px;
      }
    }
  }

}

/* movile */
@media screen and (max-width: 768px) {
  .btn_wrap_bottom {
    -webkit-overflow-scrolling: touch;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    &.bottom_round {
      bottom: 15px;
      margin: 0 20px;

      .btn {
        margin: 0 auto;
        max-width: 728px;
      }
    }
  }

}

.btn_wrap_right {
  position: relative;

  .btn,
  .btn-ico {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0px;
  }
}

.btn_wrap_left {
  position: relative;

  .btn {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0px;
  }

  .btn-ico {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 8px;
  }

  span {
    padding-left: 20px;
  }
}

.btn_wrap_float {

  .btn.left {
    float: left;
  }

  .btn.right {
    float: right;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.btn {
  &.top {
    top: 10px;
  }

  &.top_25 {
    top: 25px;
  }

  &.top_right {
    right: 20px;
    transform: translateY(-70%);
  }

  &.bottom {
    top: auto;
    bottom: 7px;
  }
}

/* 버튼 형태 */
/* 상품상세 */
.btn_wid_100 {
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  height: 60px;
  line-height: 64px;
  font-size: 16px;

  .btn_100_text {
    display: block;
    padding: 0 0 0 60px;
    width: calc(100% - 60px);
    max-width: 738px;
    float: left;
  }

  .ico-fleapop-cock-wrap {
    display: block;
    width: 60px;
    height: 60px;
    transition: all 0.3s;
    float: left;

    .ico-fleapop-cock-100 {
      display: inline-block;
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
      background: url(../image/ic-btn-cock-off.png)no-repeat center center;
    }

    &.on {
      .ico-fleapop-cock-100 {
        background: url(../image/ic-btn-cock-on@2x.png)no-repeat center center;
        background-size: 24px 24px;
      }
    }
  }
}

.btn_box {
  width: 100%;
  height: 52px;
  border-radius: 5px;
  line-height: 52px;
}

.btn_box_round {
  width: 100%;
  height: 52px;
  border-radius: 52px;
  line-height: 52px;
  font-size: 14px;
}

.btn_box_line {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn_wrap_col_4 {
  display: flex;
  justify-content: space-between;

  .btn {
    width: 25%;
    height: 50px;
    margin-right: 8px;
    position: relative;

    &:last-of-type {
      margin-right: 0;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 13px;
      line-height: 16px;
      font-weight: 500;
    }

    // .on_line {
    //   border: 1px solid #;
    // }
  }
}

@media screen and (max-width: 767px) {
  .btn_wrap_col_4 {
    flex-wrap: wrap;

    .btn {
      width: calc(50% - 4px);
      margin-right: 8px;
      margin-bottom: 8px;

      &:nth-of-type(even) {
        margin-right: 0;
      }
    }
  }

}

// M
@media screen and (max-width: 360px) {
  .btn_wid_100 {
    height: 48px;
    line-height: 52px;
    font-size: 14px;
  }

  .btn_box {
    width: 100%;
    height: 42px;
    line-height: 42px;
    border-radius: 5px;
  }

  .btn_box_round {
    height: 42px;
    border-radius: 42px;
    line-height: 42px;
  }

}

.btn_box_round_s {
  font-size: 13px;
  display: inline-block;
  padding: 9px 8px 7px 8px;
  min-width: 55px;
  border-radius: 32px;
  //text-indent: 2px;
  letter-spacing: -0.2px;
}

.btn_box_round_m {
  font-size: 13px;
  display: inline-block;
  padding: 9px 10px 7px 10px;
  min-width: 55px;
  border-radius: 32px;
  letter-spacing: -0.2px;
}

.btn_box_round_line_ss {
  font-size: 13px;
  display: inline-block;
  padding: 5px 8px 3px 8px;
  min-width: 55px;
  border-radius: 22px;
}

.btn_box_round_s_pink {
  font-size: 12px;
  display: inline-block;
  padding: 2px 8px;
  min-width: 35px;
  min-height: 20px;
  border-radius: 20px;
  border: 1px solid $primary-950;

  span {
    color: $primary-950;
    line-height: 15px;
  }
}

.input_btn_ss_wrap {
  padding-top: 5px;

  .input_btn_ss {
    display: inline-block;
    min-width: 55px;
    text-align: center;
    height: 18px;
    line-height: 20px;
    border-radius: 10px;
    background-color: #ccc;
    color: #fff;
    margin-right: 5px;
    font-size: 12px;

    &.on {
      background-color: #ff7474;
    }
  }
}

/* 버튼 색상 */
.btn_pink {
  background-color: #f4f4f4;
  color: #aaa;
  transition: all 0.3s;

  span {
    color: #aaa;
  }

  .primary_text {
    color: $primary-950;
  }

  /* &:hover,
  &:focus, */
  &.on {
    background-color: $primary-950;
    color: #fff;

    span {
      color: #fff;
    }

    .primary_text {
      color: #fff;
    }

  }
}

.btn_pink_cock {
  background-color: $primary-950;

  span {
    color: #fff;
  }
}

.btn_pink_line {
  border: 1px solid $primary-950;
  color: $primary-950;

  span {
    color: $primary-950;
  }
}

.btn_gray {
  background-color: #f7f7f7;
  color: #606060;
}

.btn_gray_line {
  border: 1px solid #eaeaea;
  color: #aaa;

  span {
    color: #aaa;
  }
}

.btn_pink2 {
  background-color: #fceaea;
  color: #ff7474;
}

.btn_blue {
  border: 1px solid $point-blue-deeq;
  color: $point-blue-deeq;
}

.btn_side_gray_line {
  border: 1px solid #eaeaea;
  color: #606060;
}

/* icon */
.ico-top-cart {
  width: 18px;
  height: 24px;
  background: url(../image/icon-top-cart.png)no-repeat center center;
  background-size: 24px 24px;
}

.ico-top-noti {
  width: 24px;
  height: 24px;
  background: url(../image/icon-top-noti.png)no-repeat center center;
  background-size: 24px 24px;
}

.ico-top-pin {
  width: 24px;
  height: 24px;
  background: url(../image/icon-top-pin.png)no-repeat center center;
  background-size: 24px 24px;
}

.ico-top-sarch {
  width: 24px;
  height: 24px;
  background: url(../image/icon-top-search.png)no-repeat center center;
  background-size: 24px 24px;
}

.ico-top-sarch-s {
  width: 16px;
  height: 16px;
  background: url(../image/icon-top-search-s.png)no-repeat center center;
  background-size: 16px 16px;
}

.ico_arrow_left {
  width: 18px;
  height: 18px;
  background: url(../image/icon-back@2x.png)no-repeat center center;
  background-size: 18px 18px;
}

.ico_arrow_right {
  width: 18px;
  height: 18px;
  background: url(../image/icon-back@2x.png)no-repeat center center;
  background-size: 18px 18px;
  transform: rotate(180deg) !important;
}

.ico_arrow_toggle {
  width: 12px;
  height: 12px;
  background: url(../image/icon-arrow-toggle@2x.png)no-repeat center center;
  background-size: 12px 12px;
}

.ico_arrow_toggle_15 {
  width: 15px;
  height: 15px;
  background: url(../image/icon-arrow-toggle@2x.png)no-repeat center center;
  background-size: 15px 15px;
}

.ico-quest {
  width: 20px;
  height: 20px;
  background: url(../image/ic-que.png)no-repeat center center;
  background-size: 11px 15px;
}

.ico_basket {
  width: 18px;
  height: 20px;
  background: url(../image/ico-top-cart2.png)no-repeat center center;
  background-size: 24px 24px;
}

.ico-share-line {
  width: 28px;
  height: 28px;
  border: solid 1px #ccc;
  border-radius: 50%;
  background: url(../image/icon-share.png)no-repeat center center;
  background-size: 16px 16px;
}

.ico-fleapop-cock {
  width: 24px;
  height: 24px;
  background: url(../image/ic-btn-cock-off@2x.png)no-repeat center center;
  background-size: 24px 24px;
}

.ico-pin-on {
  width: 18px;
  height: 18px;
  background: url(../image/icon-pin-on.png)no-repeat center center;
  background-size: 18px 18px;
}

.ico-reply {
  width: 18px;
  height: 18px;
  background: url(../image/icon-reply.png)no-repeat center center;
  background-size: 18px 18px;
}

.ico-sns-facebook {
  width: 56px;
  height: 56px;
  background: url(../image/social-facebook.png)no-repeat center center;
  background-size: 56px 56px;
}

.ico-sns-kakao {
  width: 56px;
  height: 56px;
  background: url(../image/social-kakao.png)no-repeat center center;
  background-size: 56px 56px;
}

.ico-sns-naver {
  width: 56px;
  height: 56px;
  background: url(../image/social-naver.png)no-repeat center center;
  background-size: 56px 56px;
}

.ico-sns-url {
  width: 56px;
  height: 56px;
  background: url(../image/social-url.png)no-repeat center center;
  background-size: 56px 56px;
}

@media screen and (max-width: 400px) {
  .ico-sns-facebook {
    width: 46px;
    height: 46px;
    background: url(../image/social-facebook-m.png)no-repeat center center;
    background-size: 46px 46px;
  }

  .ico-sns-kakao {
    width: 46px;
    height: 46px;
    background: url(../image/social-kakao-m.png)no-repeat center center;
    background-size: 46px 46px;
  }

  .ico-sns-naver {
    width: 46px;
    height: 46px;
    background: url(../image/social-naver-m.png)no-repeat center center;
    background-size: 46px 46px;
  }

  .ico-sns-url {
    width: 46px;
    height: 46px;
    background: url(../image/social-url-m.png)no-repeat center center;
    background-size: 46px 46px;
  }
}

.ico-popup-close {
  width: 20px;
  height: 20px;
  background: url(../image/icon-popup-close.png)no-repeat center center;
  background-size: 20px 20px;
}

.ico-popup-back {
  width: 11px;
  height: 18px;
  background: url(../image/ico-popup-top-back.png)no-repeat center center;
  background-size: 11px 18px;
}

.ico-close {
  width: 20px;
  height: 20px;
  background: url(../image/icon-close.png)no-repeat center center;
  background-size: 20px 20px;
}

.ico-close-white {
  width: 20px;
  height: 20px;
  background: url(../image/icon-close-white.png)no-repeat center center;
  background-size: 20px 20px;
}

.ico-delete {
  width: 20px;
  height: 20px;
  background: url(../image/fp_b_delete.png)no-repeat center center;
  background-size: 20px 20px;
}

.ico-stars-on {
  width: 14px;
  height: 14px;
  background: url(../image/ico-star@2x.png)no-repeat center center;
  background-size: 12px 11px;
}

.ico-stars-half {
  width: 14px;
  height: 14px;
  background: url(../image/ico-star-half@2x.png)no-repeat center center;
  background-size: 12px 11px;
}

.ico-stars-off {
  width: 14px;
  height: 14px;
  background: url(../image/ico-star-off@2x.png)no-repeat center center;
  background-size: 12px 11px;
}

/* 별5점 그룹 */
.stars_wrap {
  display: flex;

  i {
    margin-right: 1px;
  }
}

/* 팝업 아이콘 */
.ico-wite-anspick {
  width: 24px;
  height: 24px;
  background: url(../image/ico-wite-anspick.png)no-repeat center center;
  background-size: 24px 24px;
}

.ico-wite-bag {
  width: 24px;
  height: 24px;
  background: url(../image/ico-wite-bag.png)no-repeat center center;
  background-size: 24px 24px;
}

.ico-wite-camra {
  width: 24px;
  height: 24px;
  background: url(../image/ico-wite-camra.png)no-repeat center center;
  background-size: 24px 24px;
}

.ico-wite-ifeduck {
  width: 24px;
  height: 24px;
  background: url(../image/ico-wite-ifeduck.png)no-repeat center center;
  background-size: 24px 24px;
}

.ico-popup-arrow {
  width: 14px;
  height: 14px;
  background: url(../image/icon-popup-arrow.png)no-repeat center center;
  background-size: 14px 14px;
}

.ico-bottom-plus-close {
  width: 44px;
  height: 44px;
  background: url(../image/icon-bottom-plus-close.png)no-repeat center center;
  background-size: 44px 44px;
}

.ico-comu-write {
  width: 44px;
  height: 44px;
  background: url(../image/btn-comu-write.png)no-repeat center center;
  background-size: 44px 44px;
}

.ico-menu-3-circle {
  width: 14px;
  height: 13px;
  background: url(../image/ico-menu-3-circle.png)no-repeat right center;
  background-size: 4px 13px;
}

.ico-banner-arrow {
  width: 10px;
  height: 10px;
  background: url(../image/ico-banner-arrow.png)no-repeat right center;
  background-size: 10px 10px;
}

.ico-comu-infoplus {
  width: 24px;
  height: 24px;
  background: url(../image/ico-selet-arrow2.png)no-repeat right center;
  background-size: 10px 10px;
}

.btn-ico-round {
  display: block;
  width: 36px;
  height: 36px;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  position: relative;

  .ico-ic-cock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    background: url(../image/ic-cock-off.png)no-repeat right center;
    background-size: 18px 18px;
  }

  .ico-reply {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: normal;
    line-height: 1.4;

    span {
      color: transparent;
    }
  }

  &:hover,
  &.on {
    border: 1px solid #ff7474;

    .ico-ic-cock {
      background: url(../image/ic-cock-on.png)no-repeat right center;
      background-size: 18px 18px;
    }
  }

  &.gray_line {

    &:hover,
    &.on {
      border: 1px solid #eaeaea;

      .ico-reply {
        background: none;

        span {
          color: #ccc;
        }
      }
    }
  }
}

.btn-ico-round-xl {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  position: relative;

  .ico-ic-cock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background: url(../image/ic-cock-off24.png)no-repeat right center;
    background-size: 24px 24px;
  }

  .ico-reply {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: normal;
    line-height: 1.5;
    width: 22px;
    height: 22px;
    background: url(../image/icon-reply24.png)no-repeat right center;
    background-size: 22px 22px;

    span {
      font-size: 14px;
      color: transparent;
    }
  }

  &:hover,
  &.on {
    border: 1px solid #ff7474;

    .ico-ic-cock {
      background: url(../image/ic-cock-on24.png)no-repeat right center;
      background-size: 24px 24px;
    }
  }

  &.gray_line {

    &:hover,
    &.on {
      border: 1px solid #eaeaea;

      .ico-reply {
        background: none;

        span {
          color: #ccc;
        }
      }
    }
  }
}

.ico-tags-arrow {
  width: 12px;
  height: 12px;
  background: url(../image/ico-tags-arrow.png)no-repeat right center;
  background-size: 12px 12px;
}


.ico-comu-reply {
  width: 24px;
  height: 24px;
  background: url(../image/btn-comu-reply-reply.png)no-repeat center center;
  background-size: 24px 24px;
}

.ico-pick-card-menu {
  width: 50px;
  height: 50px;
  background: url(../image/ico-menu-big.png)no-repeat center center;
  background-size: 50px 50px;

  @media screen and (max-width: 767px) {
    width: 31px;
    height: 31px;
    background: url(../image/btn-menu-cricle.png)no-repeat center center;
    background-size: 31px 31px;
  }
}

.ico-mypick-heart {
  width: 124px;
  height: 110px;
  background: url(../image/ic-pickduck-mypick-heart-motion@2x.png)no-repeat center center;
  background-size: 124px 110px;

  @media screen and (max-width: 767px) {
    width: 62px;
    height: 55px;
    background-size: 62px 55px;
  }
}

// 마이페이지

.ico-shoppingbag-tag {
  width: 20px;
  height: 20px;
  background: url(../image/ico-shoppingbag-tag.png)no-repeat center center;
  background-size: 20px 20px;
}

.ico-settings-fill {
  width: 16px;
  height: 16px;
  background: url(../image/ico-settings-fill.png)no-repeat center center;
  background-size: 16px 16px;
}

.ico-hotdeal-timer {
  width: 13px;
  height: 16px;
  background: url(../image/ico-hotdeal-timer.png)no-repeat center center;
  background-size: 13px 16px;
}

.btn-goto-circle-pink {
  width: 16px;
  height: 16px;
  background: url(../image/btn-goto-circle-pink.png)no-repeat center center;
  background-size: 15px 15px;
}

.ico-eyes {
  width: 22px;
  height: 13px;
  background: url(../image/ico-eyes.png)no-repeat center center;
  background-size: 22px 13px;
}

.ico-lock {
  width: 10px;
  height: 12px;
  background: url(../image/ico-lock.png)no-repeat center center;
  background-size: 10px 12px;
}

.ico-goto-light {
  width: 15px;
  height: 14px;
  background: url(../image/ico-goto-light.png)no-repeat center center;
  background-size: 15px 14px;
}

.ico-eye-off {
  width: 25px;
  height: 26px;
  background: url(../image/icon-eye-off.png)no-repeat center center;
  background-size: 25px 26px;
}

.ico-truck {
  width: 30px;
  height: 30px;
  background: url(../image/icon-truck.png)no-repeat center center;
  background-size: 30px 30px;
}

.ico-my-review {
  width: 30px;
  height: 30px;
  background: url(../image/icon-my-review.png)no-repeat center center;
  background-size: 30px 30px;
}

.ico-my-bell {
  width: 30px;
  height: 30px;
  background: url(../image/icon-my-bell.png)no-repeat center center;
  background-size: 30px 30px;
}

.ico-footer-facebook {
  width: 22px;
  height: 22px;
  background: url(../image/ico-footer-facebook.png)no-repeat center center;
  background-size: 22px 22px;
}

.ico-footer-insta {
  width: 22px;
  height: 22px;
  background: url(../image/ico-footer-insta.png)no-repeat center center;
  background-size: 22px 22px;
}

.ico-footer-kakao {
  width: 22px;
  height: 22px;
  background: url(../image/ico-footer-kakao.png)no-repeat center center;
  background-size: 22px 22px;
}

.ico-kakao-fill {
  width: 14px;
  height: 14px;
  background: url(../image/ico-kakao-fill.png)no-repeat center center;
  background-size: 14px 14px;
}

.ico-qna-pink {
  width: 13px;
  height: 17px;
  background: url(../image/ico-qna-pink.png)no-repeat center center;
  background-size: 13px 17px;
}

.ico-camera-fill {
  width: 20px;
  height: 18px;
  background: url(../image/ico-camera_fill.png)no-repeat center center;
  background-size: 20px 18px;
}

/* 알림 */
.ico-noti-bag {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../image/ico-noti-shape.png)no-repeat center center;
  background-size: 12px 13px;
}

.ico-noti-bag-off {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../image/ico-noti-shape-0.png)no-repeat center center;
  background-size: 12px 13px;
}

.ico-noti-talk {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../image/ico-noti-talk.png)no-repeat center center;
  background-size: 12px 13px;
}

.ico-noti-talk-off {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../image/ico-noti-talk-0.png)no-repeat center center;
  background-size: 12px 13px;
}

.ico-noti-pin {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../image/ico-noti-pin.png)no-repeat center center;
  background-size: 14px 14px;
}

.ico-noti-pin-off {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../image/ico-noti-pin-0.png)no-repeat center center;
  background-size: 14px 14px;
}

.ico-plus-circle-add {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../image/ico-plus-circle-add@2x.png)no-repeat center center;
  background-size: 18px 18px;
}

/* 인풋 아이콘 */
.ico-eye-on {
  width: 26px;
  height: 26px;
  background: url(../image/ico-eye-on.png)no-repeat center center;
  background-size: 26px 26px;
  cursor: pointer;
}

.ico-eye-off {
  width: 26px;
  height: 26px;
  background: url(../image/ico-eye-off.png)no-repeat center center;
  background-size: 26px 26px;
  cursor: pointer;
}

.ico-textclear {
  width: 26px;
  height: 26px;
  background: url(../image/icon-textclear.png)no-repeat center center;
  background-size: 18px 18px;
  cursor: pointer;
}

.ico-agree {
  display: inline-block;
  width: 20px;
  height: 18px;
  background: url(../image/txt-emo-login-01.png)no-repeat center center;
  background-size: 18px 18px;
  transform: translateY(-4px);
}

.ico-txt-emo02 {
  display: inline-block;
  width: 20px;
  height: 18px;
  background: url(../image/txt-emo-login-02.png)no-repeat center center;
  background-size: 18px 18px;
  transform: translateY(-4px);
}

.ico-txt-emo03 {
  display: inline-block;
  width: 20px;
  height: 18px;
  background: url(../image/txt-emo-login-03.png)no-repeat center center;
  background-size: 18px 18px;
  transform: translateY(-4px);
}

.ico-complete {
  display: inline-block;
  width: 38px;
  height: 43px;
  background: url(../image/ico-complete.png)no-repeat center center;
  background-size: 38px 43px;
}

.ico-selet-arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../image/ico-selet-arrow_fff.png)no-repeat center center;
  background-size: 10px 10px;
  transform: translateY(-1px);
}

.ico-arrow-btn-top {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url(../image/ico-arrow-btn-top.png)no-repeat center center;
  background-size: 11px 11px;
  transform: translateY(-1px);
}

.ico-arrow-btn-lmpay {
  width: 14px;
  height: 14px;
  background: url(../image/ico-arrow-btn-lmpay.png)no-repeat center center;
  background-size: 14px 14px;
}

.ico-scan {
  width: 20px;
  height: 20px;
  background: url(../image/icon-scan.png)no-repeat center center;
  background-size: 20px 20px;
}

.ico-paylist {
  width: 20px;
  height: 20px;
  background: url(../image/icon-paylist.png)no-repeat center center;
  background-size: 20px 20px;
}

.icon-payrefund {
  width: 20px;
  height: 20px;
  background: url(../image/icon-payrefund.png)no-repeat center center;
  background-size: 20px 20px;
}

.icon-payinfo {
  width: 20px;
  height: 20px;
  background: url(../image/icon-payinfo.png)no-repeat center center;
  background-size: 20px 20px;
}

.ico-del-pay {
  width: 24px;
  height: 24px;
  background: url(../image/btn-del-pay.png)no-repeat center center;
  background-size: 24px 24px;
}

.ico-bottom-btn-img {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../image/ico-bottom-btn-img.png)no-repeat center center;
  background-size: 18px 18px;
}

.ico-bottom-btn-recycling {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../image/ico-bottom-btn-recycling.png)no-repeat center center;
  background-size: 20px 20px;
  margin-left: -3px;
}

.ico-lmpay-point {
  display: inline-block;
  width: 7px;
  height: 7px;
  background: url(../image/ico-lmpay-point.png)no-repeat center center;
  background-size: 7px 7px;
}

.ico-arrow-info-use {
  width: 12px;
  height: 12px;
  background: url(../image/ico-arrow-info-use.png)no-repeat center center;
  background-size: 12px 12px;
}

/* 검색 */
.ico-close-search {
  width: 20px;
  height: 20px;
  background: url(../image/ico-close-search.png)no-repeat center center;
  background-size: 20px 20px;
}

.ico-search-gray {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../image/ico-search-gray.png)no-repeat center center;
  background-size: 17px 17px;
}

.ico-recent-del {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: url(../image/ico-recent-del.png)no-repeat center center;
  background-size: 8px 8px;
}

.ico-search-gray-mini {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../image/ico-search-gray-mini.png)no-repeat center center;
  background-size: 16px 16px;
}

.ico-search-txt-del {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../image/ico-search-txt-del.png)no-repeat center center;
  background-size: 15px 15px;
}

.img-goods-favorite {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../image/img-favorite-6060.png)no-repeat center center;
  background-size: 12px 12px;
}

.img-goods-delivery {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../image/img-delivery-6060.png)no-repeat center center;
  background-size: 12px 12px;
}

.img-goods-money {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../image/img-money-6060.png)no-repeat center center;
  background-size: 12px 12px;
}

.icon-arrow-goood-on {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../image/icon-arrow-goood-on.png)no-repeat center center;
  background-size: 12px 12px;
}

.icon-arrow-goood-off {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../image/icon-arrow-goood-off.png)no-repeat center center;
  background-size: 12px 12px;
}

/*---------- Button component end ----------*/