/* 카테고리 택 공통 */
.category_tag {
  font-size: 12px;
  font-weight: 500;
  color: #ff7474;
  padding-bottom: 3px;
  display: inline-block;

  &:after {
    content: '';
    display: block;
    height: 1px;
    background-color: #ff7474;
  }

  &.loveletter {
    color: #7574ff;

    &:after {
      background-color: #7574ff;
    }
  }
}

/* 프로필 공통 */
.profile_wrap {
  display: flex;
  padding-bottom: 8px;

  p {
    display: flex;
    flex-direction: column;

    .profile_name {
      font-size: 14px;
      font-weight: bold;
    }

    .profile_time {
      font-size: 12px;
      color: #aaa;
    }
  }

  .ico-menu-3-circle {
    top: 30%;
  }

}

@media screen and (max-width: 767px) {
  .profile_wrap {
    p {
      .profile_name {
        font-size: 12px;
        font-weight: bold;
      }
    }

    .ico-menu-3-circle {
      top: 30%;
    }
  }
}

/* 네비 공통 뉴 표식 */
.ico-new-nav {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #ff0143;
  border-radius: 50%;
  border: 2px solid #fff;
}

/* 순위 뱃찌 공통 */
.ranking_tag_pink {
  position: relative;
  height: 0;

  span {
    position: absolute;
    top: 4px;
    left: 15px;
    width: 30px;
    height: 30px;
    background: linear-gradient(#ffc1c1, #ff7070);
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    z-index: 1;

    &.ranking_tag_line {
      background: #fff !important;
      border: 1px solid #ff7474;
      color: #ff7474;
    }
  }
}

.fleapopLiving_list_col3 {
  margin: 0 20px;
  max-width: 728px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  .fleapopLiving_list_wrap {
    width: calc((322px * 4) - 20px);

    li {
      margin-right: 20px;
      overflow: hidden;
      float: left;
      height: 100%;
      border: 1px solid #eee;
      border-radius: 10px;

      button {
        width: 302px;
        display: block;
        text-align: left;

        img {
          width: 100%;
        }
      }

      &:last-of-type {
        margin-right: -20px;
      }

      .living_title {
        padding: 10px 15px 15px 15px;

        p {
          font-size: 15px;
          height: 22px;
          margin-top: 5px;
          font-weight: 500;
          white-space: nowrap;
          overflow: hidden;
          word-wrap: break-word;
          text-overflow: ellipsis;

          .title_ico {
            font-size: 14px;
            line-height: 14px;
          }
        }

      }
    }
  }
}

@media screen and (max-width: 400px) {
  .fleapopLiving_list_col3 {
    margin: 0 20px;
    max-width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    .fleapopLiving_list_wrap {
      width: calc((200px * 4) - 10px);

      li {
        margin-right: 10px;

        button {
          width: 190px;
        }

        &:last-of-type {
          margin-right: -10px;
        }

        .living_title {
          padding: 10px 12px 12px 12px;

          p {
            font-size: 12px;
            height: 18px;
            margin-top: 3px;

            .title_ico {
              font-style: normal;
              font-size: 10px;
              line-height: 10px;
            }
          }
        }
      }
    }
  }
}

.loduckLife_write_box {
  padding: 20px;

  .loduckLife_write_box_wrap {
    display: block;
    text-align: left;
    width: 100%;
    padding: 20px 15px;
    border: 1px dashed #eee;
    border-radius: 10px;
  }

  p {
    font-size: 16px;
    color: #1c1c1c;

    .title_ico {
      font-size: 15px;
      line-height: 15px;
    }
  }

  .ico-comu-write {
    right: 35px;
  }
}

@media screen and (max-width: 400px) {
  .loduckLife_write_box {
    padding: 20px 20px 0 20px;

    .loduckLife_write_box_wrap {
      padding: 20px 15px;
      border: 1px dashed #eee;
      border-radius: 10px;
    }

    p {
      font-size: 14px;

      .title_ico {
        font-size: 13px;
        line-height: 13px;
      }
    }

    .ico-comu-write {
      margin-top: 10px;
    }
  }
}

.loduck_box_wrap {
  margin: 0 20px;
  padding-bottom: 80px;

  .loduck_box_list {
    margin: 0 -5px;

    li {
      width: calc(50% - 10px);
      margin: 0 5px;
      padding: 15px;
      border: 1px solid #eee;
      border-radius: 10px;
      margin-bottom: 15px;
      float: left;

      .profile_wrap {
        border-bottom: 1px solid #eee;
      }

      .text_wrap {
        padding: 12px 0;

        p {
          padding-top: 8px;
          font-size: 13px;
        }
      }

      .loduck_box_img_col_1 {
        margin-bottom: 14px;

        .img_wrap {
          display: block;
          width: 100%;
          overflow: hidden;
          border: 1px solid #eee;
          border-radius: 5px;
          margin: 1px;

          img {
            width: 100%;
          }
        }

      }

      .loduck_box_img_col_2 {
        margin-bottom: 14px;

        .img_wrap {
          display: block;
          float: left;
          width: calc(50% - 2px);
          overflow: hidden;
          border: 1px solid #eee;
          border-radius: 5px;
          margin: 1px;

          &:last-child {
            transform: translateX(2px);
          }

          img {
            width: 100%;
          }
        }

      }

      .loduck_box_img_col_3 {
        margin-bottom: 14px;

        .img_wrap {
          display: block;
          float: left;
          width: calc(50% - 2px);
          overflow: hidden;
          border: 1px solid #eee;
          border-radius: 5px;
          margin: 1px;

          &:first-child {
            width: 100%;
            max-height: 160px;
          }

          &:last-child {
            transform: translateX(2px);
          }

          img {
            width: 100%;
          }
        }

      }

      .loduck_box_img_row_3 {
        margin-bottom: 14px;

        .img_wrap {
          display: block;
          float: left;
          width: calc(50% - 2px);
          height: calc(230px / 2);
          overflow: hidden;
          border: 1px solid #eee;
          border-radius: 5px;
          margin: 1px;
          transform: translateX(1px);

          &:first-child {
            transform: translateX(0px);
            height: 100%;

            img {
              width: 100%;
              min-height: 230px;
              min-width: 230px;
              height: 100%;
            }
          }

          img {
            width: 100%;
          }
        }

      }

      .btn_wrap_col_2 {
        display: flex;
        justify-content: space-between;

        .btn {
          position: relative;
          width: calc(50% - 5px);

          .btn-ico {
            left: 25px;
          }

          span {
            padding-left: 15px;
          }
        }
      }

    }
  }
}

@media screen and (max-width: 767px) {
  .loduck_box_wrap {
    margin: 0 20px;
    padding-bottom: 80px;

    .loduck_box_list {
      margin: 0;

      li {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
        padding: 15px;

        .btn_wrap_col_2 {

          .btn {

            .btn-ico {
              left: 14%;
            }
          }
        }
      }
    }
  }
}

/* 러덕핏 */
.bestpit_banner_wrap {
  padding: 20px;

  .bestpit_btn {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    height: 100%;
    border-radius: 10px;

    p {
      color: #fff;
      font-size: 16px;
      margin-top: 2px;
      letter-spacing: 1px;
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

      &.text-N {
        font-size: 13px;
        display: inline-block;

        .ico {
          float: right;
          margin-top: 2px;
        }
      }
    }

    &.month-1 {
      background: url(../image/community-banner-1.png)no-repeat center center;
    }

    &.month-2 {
      background: url(../image/community-banner-2.png)no-repeat center center;
    }

    &.month-3 {
      background: url(../image/community-banner-3.png)no-repeat center center;
    }

    &.month-4 {
      background: url(../image/community-banner-4.png)no-repeat center center;
    }

    &.month-5 {
      background: url(../image/community-banner-5.png)no-repeat center center;
    }

    &.month-6 {
      background: url(../image/community-banner-6.png)no-repeat center center;
    }

    &.month-7 {
      background: url(../image/community-banner-7.png)no-repeat center center;
    }

    &.month-8 {
      background: url(../image/community-banner-8.png)no-repeat center center;
    }

    &.month-9 {
      background: url(../image/community-banner-9.png)no-repeat center center;
    }

    &.month-10 {
      background: url(../image/community-banner-10.png)no-repeat center center;
    }

    &.month-11 {
      background: url(../image/community-banner-11.png)no-repeat center center;
    }

    &.month-12 {
      background: url(../image/community-banner-12.png)no-repeat center center;
    }
  }

  .bestpit_top_title {
    font-size: 20px;
    color: #1c1c1c;
    font-weight: 500;

    .text_under_line {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 1px;
        display: block;
        height: 7px;
        width: 100%;
        opacity: 0.2;
        background-color: #eb7c94;
      }
    }

    .ico-best-standard {
      margin: 4px 6px;
      display: inline-block;
      width: 14px;
      height: 14px;
      background-color: #ddd;
      border-radius: 50%;
      text-align: center;

      span {
        display: block;
        font-size: 12px;
        color: #fff;
      }
    }

    .text_sub {
      display: block;
      padding-top: 4px;
      font-size: 12px;
      line-height: 15px;
      color: #ccc;
    }
  }
}

.loduckfit_scroll_nav {
  display: flex;
  align-items: center;
  padding: 0 20px;

  li {
    text-align: center;

    button {
      display: block;
      width: 60px;
      height: 30px;
      margin-right: 10px;
      padding: 6px;
      border-radius: 5px;
      background-color: #f5f5f5;
      position: relative;

      span {
        font-size: 14px;
        line-height: 1;
        color: #909090;
      }
    }

    &.on {
      button {
        background-color: #fff4f4;

        span {
          color: #ff7474;
        }
      }
    }
  }
}

.loduckfit_list {
  padding-bottom: 70px;

  >li {
    &+li {
      margin-top: 20px;
    }
  }
}

.loduckfit_contents {
  padding: 20px;
  border-bottom: 1px solid #f8f8f8;

  .loduckfit_img_wrap {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin-top: 4px;
    margin-bottom: 10px;

    .img_list {
      display: flex;
      width: calc((50% * 5) + 24px);

      li {
        width: calc(50% - 8px);
        margin-right: 8px;

        img {
          width: 100%;
        }
      }
    }
  }

  .img_dot_nav_wrap {
    position: relative;
    margin-bottom: 30px;
  }

  .img_dot_nav {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    li {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      margin-right: 8px;
      background-color: #aaa;
      opacity: 0.4;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &.on {
        opacity: 1;
      }
    }
  }
}

.comu_profile_area {
  display: flex;

  .profile_img_m_wrap {
    display: block;
    flex: 0 0 auto;
  }

  .comu_profile_text {
    margin-left: 10px;
    max-width: 600px;

    .profile_title {
      display: inline-block;
      margin-top: 5px;
      font-weight: normal;
      font-size: 14px;
      color: #333;
      line-height: 1;
    }

    p {
      margin-top: 5px;
    }

    .profile_sub {
      font-size: 12px;
      color: #ccc;
      line-height: 1;
    }

    .price {
      font-weight: bold;
      margin-right: 5px;
    }

    .price_sub {
      text-decoration: line-through;
    }
  }
}

.comu-coments-btn {
  display: flex;
  margin-top: 20px;
  position: relative;

  .profile_img_m_wrap {
    flex: 0 0 auto;
    position: absolute;
  }

  .input_wrap {
    width: 100%;
    margin-left: 52px;
    cursor: pointer;

    .ico-wrap {
      display: flex;
      margin-right: 5px;

      i {
        font-style: normal;
        margin-right: 10px;
      }
    }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 123%;
    transform: translateY(-5px);
    left: -20px;
    width: calc(100% + 40px);
    height: 8px;
    background-color: #f8f8f8;
  }
}

.review_pit {
  position: relative;

  .review_pit_tag {
    opacity: 0.4;
    padding: 5px 8px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #000;
    display: flex;
    text-align: center;

    span {
      font-size: 12px;
      line-height: 15px;
      color: #fff;
      padding-top: 2px;
    }
  }
}

// M
@media screen and (max-width: 767px) {
  .bestpit_banner_wrap {
    padding-bottom: 0;

    .bestpit_btn {}
  }

  .loduckfit_list {
    padding-bottom: 70px;

    >li {
      &+li {
        margin-top: 40px;
      }

    }
  }

  .loduckfit_contents {
    padding: 0;

    .profile_wrap {
      margin: 20px 20px 0 20px;
    }

    .loduckfit_img_wrap {
      .img_list {
        display: flex;
        width: calc((100% * 5) + 40px);

        li {
          width: 100%;
          margin-right: 10px;

          img {
            width: 100%;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .img_dot_nav_wrap {
      position: relative;
      top: -30px;
      margin-bottom: 10px;
    }

    .img_dot_nav {
      li {
        background-color: #fff;
        opacity: 0.4;
      }
    }
  }

  .comu_profile_area {
    padding: 0 12px 12px 12px;
    display: flex;
    position: relative;

    .comu_profile_text {
      margin-left: 10px;
      margin-right: 40px;

      .profile_title {
        line-height: 1.4;
      }
    }

    .btn,
    .btn-ico {
      right: 12px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -18px;
      left: 20px;
      width: 0px;
      height: 0px;
      border-top: 10px solid none;
      border-bottom: 10px solid #fff;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
    }
  }
}

/* 러덕핏 상세 */
.goods_tag_wrap {
  border-radius: 10px;
  border: solid 1px #eeeeee;

  .tag_list {
    li {
      button {
        display: block;
        width: 100%;
        text-align: left;
        padding: 15px;

        p {
          margin-right: 20px;

          span {
            color: #1c1c1c;
            font-size: 14px;
            padding-right: 5px;
          }
        }

        .tags_title {
          color: #aaa;
        }

        .tads_name {
          font-weight: bold;
        }

        .btn-ico {
          right: 15px;
        }
      }

      &+li {
        border-top: 1px solid #eee;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .goods_tag_wrap {
    margin: 20px;
    margin-bottom: 0;

    .tag_list {
      li {
        button {
          display: block;
          padding: 12px 15px;

          p {
            margin-right: 20px;

            span {
              font-size: 13px;
              padding-right: 5px;
            }
          }
        }
      }
    }

    &+.comments_area_more_veiw {
      margin: 0 20px;
      margin-bottom: 20px;
    }
  }
}

/* 댓글 페이지 */
.comments_page_wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 768px;

  .comments_area_wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    .comments_list {
      display: block;
      padding-top: 62px;
      padding-bottom: 146px;
    }

    .comments_container {
      display: flex;
      margin: 20px;

      .profile_img_wrap {
        flex: 0 0 auto;
      }

      .comments_content {
        p {
          display: flex;

          span {
            margin-right: 5px;
          }
        }

        .comments_name {
          font-size: 15px;
          font-weight: bold;
        }

        .comments_time {
          font-size: 12px;
          color: #aaa;
        }

        .comments_amend {
          font-size: 12px;
          color: #ccc;

          &:before {
            content: '';
            display: inline-block;
            width: 1px;
            height: 10px;
            background-color: #ddd;
          }
        }

        .comments_wrap {
          margin-right: 65px;

          .btn-ico {
            right: -35px;
          }
        }

        .comments {
          margin: 4px 0;
          display: inline-block;
          padding: 10px 15px;
          border-radius: 20px;
          font-size: 14px;
          line-height: 1.4;
          background-color: #f4f4f4;
          position: relative;
          text-align: left;

          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            left: 0;
            width: 12px;
            height: 8px;
            background: url(../image/spearch-box-tail.png)no-repeat right center;
            background-size: 12px 8px;
          }

          .comments_reply {
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid #eee;
            padding-bottom: 4px;
            margin-bottom: 8px;

            span {
              float: left;
              display: block;
              color: #072053;
              font-size: 14px;
              line-height: 1.4;
              padding-right: 8px;
              font-weight: 500;
            }

            .last_ments {
              font-size: 12px;
              line-height: 22px;
              color: #333;
            }
          }
        }
      }

      &.my_comments {
        flex-direction: row-reverse;

        .profile_img_wrap {
          margin-right: 0;
          margin-left: 8px;
        }

        .comments_content {
          p {
            flex-direction: row-reverse;

            span {
              margin-right: 0;
              margin-left: 5px;
            }
          }

          .comments_amend {
            &:before {
              display: none;
            }

            &:after {
              content: '';
              display: inline-block;
              width: 1px;
              height: 10px;
              background-color: #ddd;
            }
          }

          .comments_wrap {
            margin-right: 0;
            margin-left: 65px;

            .comments {
              background-color: #072053;
              color: rgba(255, 255, 255, 0.7);

              &:before {
                display: none;
              }

              &:after {
                content: '';
                display: block;
                position: absolute;
                top: 2px;
                right: 0;
                width: 12px;
                height: 8px;
                background: url(../image/my-spearch-box-tail-rev.png)no-repeat right center;
                background-size: 12px 8px;
              }

              .comments_reply {
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                span {
                  color: #f7f7f7;
                }

                .last_ments {
                  color: rgba(255, 255, 255, 0.5);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .comments_page_wrap .comments_area_wrap .comments_container {
    margin: 20px 15px;
  }
}

/* 답정러 */

.loduckpick_wrap {
  .loduckpick_list {
    padding-top: 30px;
    padding-bottom: 1155px;
    position: relative;

    .loduckpick_card {
      z-index: 1;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 633px;
      max-height: 1045px;
      min-height: 920px;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);

      .loduckpick_card_img_wrap {
        background-color: #000;

        .loduckpick_card_img {
          width: 50%;
          float: left;
          min-height: 420px;

          .loduckpick_card_text {
            min-height: 420px;
            position: relative;

            span {
              position: absolute;
              top: 50%;
              left: 50%;
              padding: 0 40px;
              transform: translate(-50%, -50%);
              width: 100%;
              max-height: 100px;
            }
          }
        }
      }

      .loduckpick_card_img {
        display: block;
        position: relative;

        img {
          max-height: 420px;
          cursor: pointer;
        }

        .pick_btn_wrap {
          position: absolute;
          top: 12px;
          left: 12px;
          opacity: 0;
          transition: .3s;

          .btn-round-full {
            min-width: 40px;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 33px;
            display: inline-block;
            padding: 4px 10px;

            &+.btn-round-full {
              margin-left: 5px;
            }

            &.full_red {
              background-color: rgba(255, 1, 67, 0.8);
            }

            &.full_blue {
              background-color: rgba(72, 45, 253, 0.8);
            }

            .ico-pick-btn-heart {
              width: 14px;
              height: 12px;
              background: url(../image/ico-pick-btn-heart.png)no-repeat right center;
              background-size: 14px 12px;
              opacity: 0.8;
              display: inline-block;
              margin-right: 2px;
            }

            .count_per {
              font-size: 14px;
              display: inline-block;
              line-height: 25px;
              color: #fff;
              opacity: 0.8;
            }
          }

        }

        .ico-mypick-heart {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: .3s;
        }
      }

      .loduckpick_card_text {
        padding: 20px 40px;
        background-color: #000;
        text-align: center;

        span {
          display: inline-block;
          color: rgba(255, 255, 255, 0.8);
          font-size: 18px;
          line-height: 1.4;
        }
      }

      .loduckpick_card_profile {
        padding: 25px;
        display: flex;
        align-items: center;
        background-color: #fff;

        .profile_name {
          font-size: 18px;
          font-weight: 500;
          margin-left: 10px;
        }

        .card_btn_wrap {
          right: 25px;
          display: flex;

          .ico-ic-cock-wrap {
            margin-right: 10px;
          }
        }
      }

      .ico-pick-card-menu {
        right: 12px;
        top: 12px;
        transform: translateY(0);
      }

      &.on,
      &:hover {
        .pick_btn_wrap {
          opacity: 1;
        }
      }
    }

    .loduckpick_card_back {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      width: calc(633px - 110px);
      height: 115px;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: calc(633px - 60px);
        height: 100px;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
      }

      &.bottom-top {
        bottom: 13%;
      }

      &.bottom-row {
        bottom: 9%;
      }
    }

    li {
      &.off {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .loduckpick_wrap {

    .loduckpick_list {
      padding-top: 30px;
      padding-bottom: 644px;

      .loduckpick_card {
        max-width: 320px;
        max-height: 544px;
        min-height: 490px;

        .loduckpick_card_img_wrap {
          .loduckpick_card_img {
            width: 50%;
            float: left;
            min-height: 212px;

            .loduckpick_card_text {
              min-height: 212px;

              span {
                padding: 0 20px;
              }
            }
          }
        }

        .loduckpick_card_img {
          img {
            max-height: 212px;
          }

          .pick_btn_wrap {
            .btn-round-full {
              min-width: 30px;
              border-radius: 27px;
              padding: 4px 8px;

              .count_per {
                font-size: 12px;
                line-height: 18px;
              }
            }

          }
        }

        .loduckpick_card_text {
          padding: 10px 20px;

          span {
            padding-top: 2px;
            font-size: 12px;
            line-height: 1.4;
          }
        }

        .loduckpick_card_profile {
          padding: 12px;

          .profile_img_m_wrap {
            transform: scale(0.9);
          }

          .profile_name {
            font-size: 13px;
            margin-left: 10px;
          }

          .card_btn_wrap {
            right: 12px;

            .ico-ic-cock-wrap {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }

      .loduckpick_card_back {
        position: absolute;
        bottom: 12%;
        width: calc(320px - 110px);
        height: 60px;

        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: calc(320px - 60px);
          height: 50px;
        }

        &.bottom-top {
          bottom: 15%;
        }

        &.bottom-row {
          bottom: 11%;
        }
      }

    }
  }
}

@media screen and (max-width: 320px) {
  .loduckpick_wrap {

    .loduckpick_list {

      .loduckpick_card {
        max-width: 300px;
        max-height: 544px;

        .loduckpick_card_img {
          img {
            max-height: 212px;
          }
        }
      }

    }
  }
}

/* 매거진 */
.magazine_hot_wrap {
  margin-bottom: 10px;

  .magazine_hot_list {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 100%;
      padding: 0 20px;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;

      .magazine_hot_item {
        display: block;
        text-align: left;
        width: calc(50% - 8px);
        border-radius: 20px;
        overflow: hidden;

        .img_wrap {
          img {
            width: 100%;
          }
        }

        .magazine_text {
          padding: 12px;
          background-color: #343434;
          overflow: hidden;

          span {
            display: inline-block;
            font-size: 14px;
            line-height: 15px;
            padding: 3px 5px;
            color: rgba(255, 255, 255, 0.9);
            width: 100%;
          }
        }
      }
    }
  }
}

.magazine_wrap {
  padding-top: 30px;
  padding-bottom: 60px;

  .magazine_list {
    li {
      width: 100%;
      padding: 0 20px;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;

      .magazine_hot_item {
        display: block;
        text-align: left;
        width: calc(50% - 8px);
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);

        .img_wrap {
          img {
            width: 100%;
          }
        }

        .magazine_text {
          padding: 12px;
          background-color: #fff;
          overflow: hidden;

          span {
            display: inline-block;
            font-weight: bold;
            font-size: 15px;
            line-height: 15px;
            padding: 3px 5px;
            width: 100%;
          }

          p {
            padding: 2px 5px 3px 5px;
            width: 100%;
            color: #606060;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .magazine_hot_wrap {
    margin-bottom: 10px;

    .magazine_hot_list {

      li {
        padding-bottom: 10px;

        .magazine_hot_item {
          width: calc(50% - 4px);
          border-radius: 10px;

          .magazine_text {
            padding: 10px;

            span {
              font-size: 12px;
              padding: 3px 5px;
            }
          }
        }
      }
    }
  }

  .magazine_wrap {
    .magazine_list {
      li {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 0;

        .magazine_hot_item {
          width: 100%;
          border-radius: 10px;
          margin-bottom: 20px;

          .magazine_text {
            padding: 12px;

            span {
              font-size: 14px;
            }

            p {
              font-size: 12px;
            }
          }

        }
      }
    }
  }
}

/* 매거진 상세 */
.magazine_detail {
  .img_wrap {
    padding: 20px;

    img {
      width: 100%;
    }
  }

  .magazine_detail_info {
    padding: 10px 20px;
    padding-bottom: 30px;

    .category_title {
      display: inline-block;
      color: #7574ff;
      font-size: 16px;
      border-bottom: 1px solid #7574ff;
    }

    .magazine_detail_title {
      font-size: 20px;
      padding-top: 10px;
      line-height: 1.2;
      word-wrap: break-word;
      margin-bottom: 5px;
    }

    .magazine_detail_sub {
      color: #aaa;
      font-size: 14px;
    }
  }

  .magazine_detail_contants {
    .magazine_detail_list {
      width: 100%;
      padding: 20px;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 15px;

      li {
        width: calc(50% - 8px);

        .items {
          width: 100%;
          display: block;

          img {
            width: 100%;
          }

          .items_info {
            font-size: 13px;
            padding: 15px 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .magazine_detail {
    .img_wrap {
      padding: 0;
    }

    .magazine_detail_info {
      padding: 0 20px;
      padding-top: 20px;
      padding-bottom: 30px;

      .category_title {
        font-size: 14px;
      }

      .magazine_detail_title {
        font-size: 18px;
        padding-top: 10px;
      }

      .magazine_detail_sub {
        font-size: 14px;
      }
    }

    .magazine_detail_contants {
      .magazine_detail_list {

        li {
          width: 100%;

          .items {

            .items_info {
              font-size: 13px;
              padding: 15px 20px;
            }
          }
        }
      }
    }
  }
}

/* 프로젝트 */
.project_list_wrap {
  .project_list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 55px;

    li {
      padding: 30px;
      width: 100%;
      border-bottom: 8px solid #f8f8f8;

      .items {
        display: flex;
        cursor: pointer;

        .img_wrap {
          width: 100%;
          max-width: 220px;
          min-width: 120px;
          overflow: hidden;
          margin-right: 30px;

          img {
            border-radius: 10px;
            width: 100%;
          }
        }

        .project_info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 20px 0;

          .project_title {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;
            max-width: 400px;

            span {
              font-size: 30px;
              line-height: 1.4;
              font-weight: 500;
            }
          }

          .project_date {
            span {
              display: block;
              font-size: 14px;
              color: #aaa;
            }
          }
        }
      }

      &.project_off {
        .items {
          .img_wrap {
            position: relative;

            &:after {
              content: '종료';
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 14px;
              color: #fff;
              font-weight: 500;
              position: absolute;
              top: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.5);
              border-radius: 10px;
            }
          }
        }

      }
    }
  }
}

.project_tag {
  span {
    display: inline-block;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    height: 28px;
    line-height: 24px;
    border-radius: 28px;
    background-image: linear-gradient(104deg, #e96698 0%, #ac9dc8 98%);
  }

  &.yellow {
    span {
      background-image: none;
      background-color: #eeb25e;
    }
  }

  &.pink {
    span {
      background-image: none;
      background-color: $primary-1000;
    }
  }

  // &.green {
  //   span {
  //     background-image: none;
  //     background-color: $point-green;
  //   }
  // }

  // &.blue {
  //   span {
  //     background-image: none;
  //     background-color: $point-blue-deeq;
  //   }
  // }

}

@media screen and (max-width: 767px) {
  .project_list_wrap {
    .project_list {

      li {
        padding: 20px;

        .items {
          display: flex;

          .img_wrap {
            width: 50%;
            max-width: 220px;
            min-width: 120px;
            margin-right: 15px;
          }

          .project_info {
            flex: 0 0 auto;
            padding: 10px 0;

            .project_title {
              padding-right: 10px;
              padding-bottom: 10px;
              width: calc(360px - 160px);

              span {
                padding: 0;
                font-size: 20px;
              }
            }

            .project_date {
              span {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  .project_tag {
    span {
      font-size: 12px;
      height: 22px;
      line-height: 18px;
      border-radius: 20px;
    }
  }
}

@media screen and (max-width: 320px) {
  .project_list_wrap {
    .project_list {

      li {
        padding: 15px;

        .items {

          .project_info {

            .project_title {
              width: calc(320px - 160px);

              span {
                padding: 0;
                font-size: 16px;
              }
            }

            .project_date {
              span {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }
}

/* 프로젝트 상세 */
.project_detail {
  .img_wrap {
    img {
      width: 100%;
    }
  }

  .project_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px;

    .project_title {
      padding-top: 15px;
      font-size: 30px;
      text-align: center;
      word-break: keep-all;
    }

    .project_date {
      padding-top: 15px;
      color: #aaa;
      font-size: 15px;
    }
  }

  .project_detail_contants {
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .project_detail {
    .img_wrap {
      img {
        width: 100%;
      }
    }

    .project_info {
      padding: 20px 40px;

      .project_title {
        padding-top: 15px;
        font-size: 20px;
      }

      .project_date {
        padding-top: 10px;
        font-size: 14px;
      }
    }
  }
}

/* 주문/ 배송조회 */
.delivery_top_area {
  padding: 20px;

  .delivery_top_tab {
    .delivery_top_tab_list {
      display: flex;
      width: 130px;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 15px;

      li {
        font-size: 16px;
        color: #7b7b7b;
        font-weight: normal;
        cursor: pointer;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          top: 45%;
          right: -10px;
          transform: translateY(-50%);
          display: inline-block;
          width: 1px;
          height: 12px;
          background: #eee;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }

        &.on {
          color: #1c1c1c;
          font-weight: 500;
        }
      }
    }
  }

  .delivery_date_btn_wrap {
    .delivery_date_btn_list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-bottom: 20px;

      li {
        width: calc((100% / 4) - 5px);
        text-align: center;
        background-color: #f1f1f1;
        padding: 10px;
        height: 40px;
        line-height: 25px;
        cursor: pointer;
        font-size: 15px;
        color: #909090;

        &.on {
          background-color: #ff7474;
          color: #fff;
        }
      }
    }

    .date_detail_list {
      padding: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;

      li {
        padding-top: 15px;
        text-align: center;
        cursor: pointer;

        .detail_num {
          font-size: 18px;
          display: block;
        }

        .detail_tit {
          font-size: 14px;
          padding-top: 8px;
          display: block;
        }

        &.on {
          .detail_num {
            font-weight: bold;
            color: #ff7474;
          }

          .detail_tit {
            color: #ff7474;
          }
        }
      }
    }
  }
}

.date_goods_list_area {
  .date_goods_list_wrap {
    border-bottom: 8px solid #f8f8f8;

    .date_goods_detail_btn {
      padding: 20px;
      cursor: pointer;

      .date_goods_title {
        display: block;
        font-size: 20px;
        font-weight: 500;
        padding: 5px 0;
      }

      .date_goods_place {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        color: #ff7474;
        padding-right: 10px;
      }

      .date_goods_code {
        display: inline-block;
        font-size: 15px;
        color: #333;
        position: relative;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 45%;
          transform: translateY(-50%);
          left: -7px;
          width: 1px;
          height: 12px;
          background-color: #eee;
        }
      }

      .ico_arrow_right {
        right: 20px;
        top: 45%;
      }
    }

    .date_goods_name {
      display: block;
      font-size: 15px;
      font-weight: bold;
      color: #1c1c1c;
      margin: 0 20px;
      padding-top: 20px;
      border-top: 1px solid #eee;
    }

    .date_goods_list {
      padding: 0 20px;

      li {
        display: flex;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid #eee;

        .goods_list_img_wrap {
          width: 90px;
          height: 90px;
          border-radius: 5px;
          overflow: hidden;
          border: 1px solid #eee;
          margin-right: 15px;
          flex: 0 0 auto;

          img {
            width: 100%;
          }
        }

        .goods_list_text_area {
          display: flex;
          flex-direction: column;
          width: calc(100% - 108px);

          p {
            word-break: break-word;
            width: 100%;
          }

          .goods_list_title {
            padding-top: 3px;
            font-size: 14px;
            color: #ff0143;
          }

          .goods_list_sub_tit {
            padding-top: 3px;
            font-size: 16px;
            color: #333;
          }

          .goods_list_option {
            padding: 3px 0;
            color: #aaa;
            font-size: 14px;
          }

          .goods_list_price {
            padding-right: 4px;
            font-size: 16px;
            font-weight: bold;

            .price_sub {
              font-size: 14px;
              font-weight: normal;
              color: #909090;
            }
          }
        }

        &:last-child {
          border-bottom: 1px solid transparent;
        }
      }
    }

  }
}

@media screen and (max-width: 767px) {
  .delivery_top_area {
    padding: 20px 15px;

    .delivery_top_tab {
      .delivery_top_tab_list {
        width: 106px;

        li {
          font-size: 13px;
        }
      }
    }

    .delivery_date_btn_wrap {
      .delivery_date_btn_list {
        padding-bottom: 15px;

        li {
          width: calc((100% / 4) - 3px);
          height: 30px;
          line-height: 12px;
          font-size: 12px;
        }
      }

      .date_detail_list {
        padding: 5px 0;

        li {
          min-width: 45px;
          padding-top: 10px;

          .detail_num {
            font-size: 15px;
          }

          .detail_tit {
            font-size: 11px;
          }
        }
      }
    }
  }

  .date_goods_list_area {
    .date_goods_list_wrap {
      .date_goods_detail_btn {

        .date_goods_title {
          font-size: 18px;
        }

        .date_goods_place {
          font-size: 12px;
        }

        .date_goods_code {
          font-size: 13px;
        }

      }

      .date_goods_name {
        font-size: 13px;
      }

      .date_goods_list {
        padding: 0 15px;

        li {
          padding: 15px 0;

          .goods_list_img_wrap {
            width: 82px;
            height: 82px;
          }

          .goods_list_text_area {
            width: calc(100% - 98px);

            .goods_list_title {
              font-size: 11px;
            }

            .goods_list_sub_tit {
              font-size: 13px;
            }

            .goods_list_option {
              font-size: 12px;
            }

            .goods_list_price {
              font-size: 13px;

              .price_sub {
                font-size: 13px;
              }
            }
          }
        }
      }

    }
  }

}

/* 주문/ 배송조회 상세 */
.date_goods_detail_area {
  .date_goods_detail_top {
    padding: 20px;
    padding-top: 30px;
    border-bottom: 8px solid #f8f8f8;

    .date_goods_title {
      display: block;
      font-size: 16px;
      font-weight: normal;
      padding: 5px 0;
      color: #aaa;
    }

    .date_goods_place {
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      color: #ff7474;
      padding-right: 10px;
    }

    .date_goods_code {
      display: inline-block;
      font-size: 18px;
      color: #333;
      font-weight: bold;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        left: -7px;
        width: 1px;
        height: 12px;
        background-color: #eee;
      }
    }

  }

  .date_goods_name_num {
    display: block;
    padding: 20px;
    padding-bottom: 0;
    font-size: 16px;
    font-weight: 500;
  }

  .date_goods_list {
    padding: 0 20px;
    border-bottom: 8px solid #f8f8f8;

    >li {
      padding: 20px 0;
      border-bottom: 1px solid #eee;

      .date_goods_contents {
        display: flex;
        align-items: center;
      }

      .goods_list_img_wrap {
        width: 90px;
        height: 90px;
        border-radius: 5px;
        overflow: hidden;
        border: 1px solid #eee;
        margin-right: 15px;
        flex: 0 0 auto;

        img {
          width: 100%;
        }
      }

      .goods_list_detail_btn_wrap {
        padding: 20px 0;

        .goods_detail_btn_list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          border: 1px solid #ddd;
          border-radius: 5px;

          .goods_list_detail_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            line-height: 48px;
            font-size: 15px;
            font-weight: 500;
            color: #1c1c1c;
            border-right: 1px solid #ddd;
            cursor: pointer;
            width: 100%;

            &.col_2 {
              width: 50%;
            }

            &.col_3 {
              width: 33.3333%;
            }

            &:last-child {
              border-right: 1px solid transparent;
            }
          }

          &.pink_type {
            border: 1px solid #ff7474;

            .goods_list_detail_btn {
              color: #ff7474;
            }
          }
        }
      }

      .goods_list_text_area {
        display: flex;
        flex-direction: column;
        width: calc(100% - 108px);

        p {
          word-break: break-word;
          width: 100%;
        }

        .goods_list_title {
          padding-top: 3px;
          font-size: 13px;
          font-weight: 500;
          color: #ff0143;
        }

        .goods_list_sub_tit {
          padding-top: 3px;
          font-size: 16px;
          color: #333;
        }

        .goods_list_option {
          padding: 3px 0;
          color: #aaa;
          font-size: 14px;
        }

        .goods_list_price {
          padding-right: 4px;
          font-size: 16px;
          font-weight: bold;

          .price_sub {
            font-size: 14px;
            font-weight: normal;
            color: #909090;
          }
        }
      }

      &:last-child {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

.payment_info_detail_area {
  .arcodian_list.white_type_list {
    li {
      .arcodian_title {
        padding: 20px;
        padding-top: 23px;
        border-bottom: 1px solid #eee;

        .arcodian_contents_title {
          font-weight: normal;
          width: calc(100% - 65px);

          &.sub {
            padding-top: 4px;
            font-size: 12px;
            font-weight: normal;

            .sub_text {
              padding-right: 5px;
              position: relative;

              &:after {
                content: '';
                display: block;
                width: 1px;
                height: 12px;
                background-color: #eee;
                position: absolute;
                top: 45%;
                transform: translateY(-50%);
                right: 3px;
              }

              &:last-child {
                &:after {
                  display: none;
                }
              }
            }
          }
        }
      }

      .arcodian_side_contents_wrap {
        padding: 20px;
        display: none;
        border-bottom: 1px solid #eee;

        .contents_side_text {
          padding: 5px 0;

          .side_text_title {
            font-size: 14px;
            letter-spacing: -0.1px;
            color: #aaa;
          }

          .right {
            font-size: 14px;
            float: right;
            color: #333333;
          }

          &.total {
            padding-bottom: 0;

            .side_text_title {
              font-size: 16px;
              color: #1c1c1c;
              font-stretch: normal;
            }
          }
        }

        p.division_line {
          margin: 8px 0;
        }
      }

      &.on {
        .arcodian_title {
          border-bottom: 1px solid transparent;

          .arcodian_contents_title {
            &.sub {
              display: none;
            }
          }
        }

        .arcodian_side_contents_wrap {
          padding-top: 0;
          display: block;
        }

      }
    }
  }
}

@media screen and (max-width: 767px) {
  .date_goods_detail_area {
    .date_goods_detail_top {
      padding: 15px;
      padding-top: 30px;

      .date_goods_title {
        font-size: 14px;
      }

      .date_goods_place {
        font-size: 15px;
      }

      .date_goods_code {
        font-size: 16px;
      }

    }

    .date_goods_name_num {
      font-size: 14px;
    }

    .date_goods_list {
      padding: 0 15px;

      >li {
        padding: 15px 0;
        border-bottom: 1px solid #eee;

        .goods_list_img_wrap {
          width: 82px;
          height: 82px;
        }

        .goods_list_detail_btn_wrap {
          padding: 15px 0;

          .goods_detail_btn_list {
            .goods_list_detail_btn {
              font-size: 13px;
            }
          }
        }

        .goods_list_text_area {
          width: calc(100% - 98px);

          .goods_list_title {
            font-size: 11px;
          }

          .goods_list_sub_tit {
            font-size: 12px;
          }

          .goods_list_option {
            font-size: 12px;
          }

          .goods_list_price {
            font-size: 13px;

            .price_sub {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

/* 문의 하기 상세 */
.date_goods_contents_info {
  padding: 20px;
  display: flex;
  align-items: center;

  .goods_contents_img_wrap {
    width: 90px;
    height: 90px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #eee;
    margin-right: 15px;
    flex: 0 0 auto;

    img {
      width: 100%;
    }
  }

  .goods_contents_text_area {
    display: flex;
    flex-direction: column;
    width: calc(100% - 108px);

    p {
      word-break: break-word;
      width: 100%;
    }

    .goods_contents_title {
      padding-top: 3px;
      font-size: 13px;
      font-weight: 500;
      color: #1c1c1c;
    }

    .goods_contents_sub_tit {
      padding-top: 3px;
      font-size: 16px;
      color: #333;
    }

    .goods_contents_option {
      padding: 3px 0;
      color: #aaa;
      font-size: 14px;
    }

    .goods_contents_price {
      padding-right: 4px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 767px) {
  .date_goods_contents_info {
    padding: 15px;

    .goods_contents_img_wrap {
      width: 82px;
      height: 82px;
    }

    .goods_contents_text_area {
      width: calc(100% - 98px);

      .goods_contents_title {
        font-size: 12px;
      }

      .goods_contents_sub_tit {
        font-size: 12px;
      }

      .goods_contents_option {
        font-size: 12px;
      }

      .goods_contents_price {
        font-size: 13px;
      }
    }
  }
}

/* 교환 반품 신청 */
.attach_pictures_wrap {
  padding: 20px;

  .detail_sub_title_ss {
    padding-top: 0;
    padding-bottom: 5px;
  }

  .detail_sub_title_sub {
    padding-bottom: 15px;
  }

  .pictures_tit {
    padding-top: 15px;
    padding-bottom: 10px;

    .pictures_num {
      font-size: 12px;
      height: 12px;
      line-height: 12px;
      color: #ccc;

      .pictures_num_on {
        color: #ff7474;
      }
    }
  }

  .attach_pictures_btn {
    text-align: center;
    cursor: pointer;

    .btn-text {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
    }

    .ico-camera-fill {
      display: inline-block;
      margin-right: 5px;
    }
  }

  .uploaded_pictures {
    display: flex;
    flex-wrap: wrap;


    .goods_contents_img_wrap {
      width: 92px;
      height: 92px;
      border-radius: 5px;
      overflow: hidden;
      border: 1px solid #eee;
      margin-right: 10px;
      margin-bottom: 10px;
      flex: 0 0 auto;
      position: relative;

      img {
        width: 100%;
      }

      .ico-close-ss {
        position: absolute;
        right: 5px;
        top: 5px;
        display: block;
        width: 18px;
        height: 18px;
        background: rgba(0, 0, 0, 0.6) url(../image/ico-close-ss.png)no-repeat center center;
        background-size: 8px 8px;
        border-radius: 50%;
        border: 1px solid #fff;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}