/*---------- 상품상세 시작 ----------*/

.goods_img_slide_wrap {
  overflow: hidden;
  width: 100%;
  position: relative;

  img {
    width: 100%;
  }

  .goods_imgs_list {
    width: calc(100% * 5);
    display: flex;
    max-height: 768px;

    .img_wrap {
      width: calc(100% / 5);
    }
  }

  .goods_imgs_list_nav {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);

    .nav_btn_wrap {
      display: flex;
      justify-content: space-around;
      width: calc(20px * 5);

      .nav_btn {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #fff;
        opacity: 0.5;
        border-radius: 50%;
        transform: scale(0.8);

        &.on {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}

/* 상품명 및 가격 */
.goods_title_wrap {
  padding: 20px;

  .goods_top_title {
    dt {
      max-width: 650px;
      line-height: 22px;
      padding-bottom: 10px;
    }

    dd {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        margin-right: 8px;
      }

      .price {
        font-size: 24px;
        font-weight: bold;
      }

      .price_sub {
        text-decoration: line-through;
        font-size: 18px;
        padding-bottom: 2px;
      }

      .ico-share-line {
        transform: translateY(-100%);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .goods_title_wrap {
    padding: 15px 20px;

    .goods_top_title {
      dt {
        max-width: 650px;
        line-height: 22px;
        padding-bottom: 4px;
        font-size: 16px;
      }

      dd {
        .price {
          font-size: 22px;
          font-weight: bold;
        }

        .price_sub {
          text-decoration: line-through;
          font-size: 16px;
          padding-bottom: 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .goods_title_wrap {
    .goods_top_title {
      dt {
        max-width: 650px;
        line-height: 18px;
        font-size: 14px;
      }

      dd {
        .price {
          font-size: 18px;
          font-weight: bold;
        }

        .price_sub {
          text-decoration: line-through;
          font-size: 14px;
          padding-bottom: 2px;
        }

        .ico-share-line {
          transform: translateY(-100%);
        }
      }
    }
  }
}

/* 상품 상세 상단 아코디언 */
.goods_info_wrap {
  padding: 0 20px;

  table {
    display: table;
    width: 100%;

    tr {
      line-height: 25px;

      th {
        font-size: 0.875rem;
        font-weight: 500;
        color: #aaa;

        i.up {
          transform: translateY(-2px);
        }
      }

      .info_txt {
        font-size: 12px;
        line-height: 20px;
        font-weight: normal;
        color: #aaa;
        text-indent: 15px;
        padding-bottom: 10px;
        word-break: keep-all;
      }

      .padding-t-8 {
        padding-top: 8px;
      }

      .padding-r-10 {
        padding-right: 10px;
      }

      .padding-l-10 {
        padding-left: 10px;
      }
    }

    td {
      align-items: center;
      font-size: 0.875rem;
      font-weight: normal;
      color: #1c1c1c;
    }

    .line {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        width: 1px;
        height: 12px;
        background-color: #ccc;
        transform: translate(0, -60%);
      }
    }

    .border {
      position: relative;
      overflow: hidden;

      td {
        content: '';
        display: block;
        height: 1px;
        background-color: #eee;
        position: absolute;
        right: 0;
        left: 0;
      }
    }

    .btn {
      right: 0;
    }
  }

  .goods_info_delivery {
    padding-bottom: 15px;

    li {
      width: 50%;
      float: left;
      display: flex;
      align-items: center;
      position: relative;

      >span {
        padding: 0 15px;
        font-size: 18px;
        color: #aaa;
      }

      >p {
        line-height: 22px;
        font-size: 15px;
      }

      &:after {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #ff7474;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .goods_info_delivery_days {
    margin-bottom: 5px;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 12px 15px;

    li {
      padding: 5px 0;

      .delivery_days {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;

        .delivery_days_tit {
          width: 60px;
          color: #606060;
        }

        .delivery_days_bar {
          width: 80%;
          height: 4px;
          background-color: #eee;
          border-radius: 4px;
          position: relative;

          .per_bar {
            position: absolute;
            left: 0;
            height: 4px;
            background-color: #ccc;
            border-radius: 4px;
          }

          .width_100 {
            width: 100%;
          }
        }

        .delivery_days_per {
          width: 36px;
          text-align: right;
          color: #606060;
        }
      }
    }
  }

  .goods_info_delivery_sub {
    padding-bottom: 12px;
    font-size: 12px;
    color: #aaa;
  }
}


@media screen and (max-width: 767px) {

  .goods_info_delivery {
    padding-bottom: 12px;

    li {

      >span {
        padding: 0 10px;
        font-size: 14px;
      }

      >p {
        line-height: 22px;
        font-size: 14px;
      }
    }
  }

  .goods_info_delivery_days {
    padding: 12px 15px;

    li {
      padding: 2px 0;

      .delivery_days {
        font-size: 12px;

        .delivery_days_bar {
          width: 70%;
        }
      }
    }
  }
}



/* 브랜드 택 영역 */
.goods_brand {
  margin: 20px;
  height: 42px;

  .profile_img_m_wrap {
    float: left;
    margin-right: 20px;
  }

  .brand_profile_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;

    .profile_name {
      color: #333;
      font-size: 15px;
      height: 22px;
      line-height: 24px;
      margin-right: 70px;
    }

    .profile_sub {
      color: #aaa;
      font-size: 14px;
      height: 20px;
      line-height: 22px;
      margin-right: 70px;
    }
  }
}

/* 상품 상세 탭 영역 */
.goods_detail_tab {
  .goods_detail_tab_nav {
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;

    li {
      width: calc(100% / 4);
      text-align: center;
      padding: 10px;
      border-bottom: 2px solid transparent;
      cursor: pointer;

      button {
        display: inline-block;
        font-weight: normal;
        padding-top: 2px;
        font-size: 15px;
        color: #ccc;
        font-weight: 500;
      }
    }

    &.col_3 {
      li {
        width: calc(100% / 3);
      }
    }
  }
}

.goods_detail {
  margin: 20px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.goods_detail_review {
  .goods_review_graph {
    padding: 0 20px;
    height: 176px;

    .goods_review_satisfy {
      width: 250px;
      font-size: 18px;
      letter-spacing: -0.2;
      padding: 42px;
      margin-right: 20px;
      word-break: keep-all;
      text-align: center;
      border: 1px solid #ff7474;
      border-radius: 5px;
      color: #ff7474;
      float: left;
    }

    .goods_review_graph_bar {
      float: left;
      width: calc(100% - 270px);
      padding-top: 4px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .goods_review_graph_tit {
        font-size: 15px;
      }

      .goods_review_graph_sub {
        display: flex;
        font-size: 15px;

        span {
          display: inline-block;
          text-align: right;
          margin-left: 4px;
          width: 40px;
          font-weight: 500;
        }
      }

      .bar {
        height: 6px;
        width: 100%;
        margin: 4px 0;
        background-color: #eee;
        border-radius: 6px;
        position: relative;

        .per_bar {
          position: absolute;
          left: 0;
          height: 6px;
          background-color: #ff7474;
          border-radius: 6px;
        }

        .width_100 {
          width: 100%;
        }
      }
    }

    .goods_review_graph_join {
      float: right;
      color: #aaa;
      font-size: 14px;
      padding-top: 4px;
    }
  }
}

.goods_review_filter {
  margin: 20px;
}

.goods_detail_review_list {
  li {
    padding: 30px 20px;
    border-bottom: 8px solid #f8f8f8;

    &:last-child {
      padding-bottom: 90px;
    }
  }

  .goods_review_profile {
    display: flex;
    margin-bottom: 10px;

    .review_profile_img {
      width: 28px;
      height: 28px;
      border-radius: 10px;
      overflow: hidden;
      border: 1px solid #eee;
      margin-right: 10px;

      img {
        width: 100%;
      }
    }

    .review_profile_sub {
      font-size: 12px;
      color: #aaa;
      padding-top: 2px;
    }
  }

  .goods_review_text {
    margin-top: 8px;
    font-size: 13px;
    line-height: 20px;
    max-height: 62px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}

.square_img_col_3 {
  margin-top: 15px;
  max-width: 728px;
  overflow-x: hidden;

  .square_img_col_wrap {
    width: calc((33% * 3) + 20px);
    max-height: 230px;
  }

  .img_wrap {
    display: block;
    width: calc(33.3333% - 10px);
    height: 100%;
    max-height: 230px;
    overflow: hidden;
    margin-right: 10px;
    float: left;

    img {
      width: 100%;
    }

    &:last-of-type {
      margin-right: -10px;
    }
  }

  &.square_img_col_4 {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    .square_img_col_wrap {
      width: calc((33% * 4) + 30px);
      max-height: 230px;
    }

    .img_wrap {
      width: calc(25% - 10px);
    }
  }

  &.square_img_col_5 {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    .square_img_col_wrap {
      width: calc((33% * 5) + 40px);
      max-height: 230px;
    }

    .img_wrap {
      width: calc(20% - 10px);
    }
  }
}

.goods_detail_QnA {
  padding-bottom: 90px;
}

.goods_detail_QnA_wrap {
  margin: 0 20px;
}

.goods_detail_orderinfo {
  padding-bottom: 90px;
}

@media screen and (max-width: 767px) {

  /* 상품 상세 탭 영역 타블릿*/
  .goods_detail_tab {
    .goods_detail_tab_nav {
      li {
        button {
          font-size: 13px;
        }
      }
    }
  }

  .goods_detail_review {
    .goods_review_graph {
      padding: 0 20px;
      height: 216px;

      .goods_review_satisfy {
        width: 100%;
        font-size: 16px;
        padding: 20px;
        margin-right: 0;
        margin-bottom: 12px;
        float: left;
      }

      .goods_review_graph_bar {
        float: left;
        width: 100%;
        padding-top: 4px;

        .goods_review_graph_tit {
          font-size: 13px;
        }

        .goods_review_graph_sub {
          font-size: 13px;
        }

      }

      .goods_review_graph_join {
        font-size: 12px;
      }
    }
  }

}

/*---------- 상품상세 end ----------*/