/*---------- header component ----------*/

.top_title {
  height: 42px;
  background: #fff;
  border-bottom: 1px solid #eee;
  width: 100%;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  z-index: 3;

  .top_title_wrap {
    line-height: 42px;
    margin: 0 auto;
    max-width: 768px;
    min-width: 320px;
    height: inherit;
    text-align: center;

    @media screen and (min-width: 768px) {
      padding: 0 25px 0 15px;
    }

    @media screen and (max-width: 768px) {
      padding: 0 20px;
    }

    h3.top_title {
      font-size: 16px;
      font-weight: 500;
      width: auto;
      display: inline-block;
      transform: translateX(-50%);
    }

    .top_title_categ {
      font-size: 20px;
      margin-top: 0 !important;
    }

    .top_left {
      margin-top: 10px;
      float: left;
    }

    .top_right {
      margin-top: 9px;
      float: right;

      &+.top_right {
        margin-right: 8px;
      }
    }

    .text_top_btn {
      float: right;
      display: block;
      color: #ff7474;
      line-height: 40px;
      font-size: 14px;
      height: 40px;
      padding: 2px 0;
      cursor: pointer;
    }

  }

  &.top_category {
    position: absolute;
    top: 0;
    height: 50px;

    .top_title_wrap {
      line-height: 50px;
    }

    .top_right {
      margin-top: 13px;
      float: right;
    }

    &+.contents_area {
      padding-top: 0;
    }

    &.top_off {
      top: -50px
    }
  }


  &.search {
    padding-top: 8px;
    height: auto;

    .top_title_wrap {
      padding: 0 15px;
    }
  }
}

.ico+.top_title {
  margin-left: -8px;
}

.ico {
  position: relative;

  .ico-new {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: #ff0143;
    border-radius: 50%;
    border: 2px solid #fff;
  }

  .ico-new-num {
    display: inline-block;
    position: absolute;
    left: 8px;
    top: -4px;
    min-width: 15px;
    min-height: 15px;
    background-color: #ff0143;
    border-radius: 15px;

    i {
      display: block;
      font-style: normal;
      font-size: 10px;
      padding: 2px 5px;
      line-height: 12px;
      color: #fff;
    }
  }
}

@media screen and (max-width: 767px) {
  // .top_title_wrap {
  //   margin-right: 12px !important;
  // }

  h3.top_title {
    font-size: 14px !important;
  }
}

/* 커뮤니티 네비 */
.category_tab_nav {
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  background-color: #fff;

  li {
    width: calc(100% / 5);
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;

    button {
      display: inline-block;
      padding-top: 2px;
      font-size: 15px;
      color: #ccc;
      font-weight: normal;
    }
  }

  &.scroll_on {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 768px;
    -webkit-overflow-scrolling: touch;
  }

  &.col_3 {
    li {
      width: calc(100% / 3);
    }
  }
}

// @media screen and (min-width: 768px) {
//   .category_tab_nav {
//     transform: translateX(-8px);
//   }
// }

// @media screen and (max-width: 768px) {
//   .category_tab_nav {
//     transform: translateX(0);
//   }
// }

/* 하단 공통 네비 */
.fleapop_gnb_nav {
  z-index: 3;
  position: fixed;
  transform: translateX(-50%);
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  width: 100%;
  max-width: 768px;
  background-color: #fff;
  border-top: 1px solid #eee;
  height: 56px;
  padding: 0 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  li {
    width: clac(100% / 5);

    button {
      .ico-bottom-commu {
        width: 28px;
        height: 28px;
        background: url(../image/icon-bottom-commu-off.png)no-repeat center center;
        background-size: 28px 28px;
      }

      .ico-bottom-lm {
        width: 28px;
        height: 28px;
        background: url(../image/icon-bottom-lm-off.png)no-repeat center center;
        background-size: 28px 28px;
      }

      .ico-bottom-my {
        width: 30px;
        height: 30px;
        background: url(../image/icon-bottom-my-off.png)no-repeat center center;
        background-size: 30px 30px;
      }

      .ico-bottom-my-img {
        width: 30px;
        height: 30px;
        border: 1px solid #eee;
        border-radius: 10px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .ico-bottom-plus {
        width: 32px;
        height: 32px;
        background: url(../image/icon-bottom-plus.png)no-repeat center center;
        background-size: 32px 32px;
      }

      .ico-bottom-store {
        width: 28px;
        height: 28px;
        background: url(../image/icon-bottom-store-off.png)no-repeat center center;
        background-size: 28px 28px;
      }

      .btn {
        position: relative;

        .ico-new-s {
          display: block;
          position: absolute;
          top: 3px;
          right: 0;
          width: 4px;
          height: 4px;
          background-color: #ff7474;
          border-radius: 50%;
        }
      }
    }

    &:hover,
    &.on {
      button {
        .ico-bottom-commu {
          background: url(../image/icon-bottom-commu-on.png)no-repeat center center;
        }

        .ico-bottom-lm {
          background: url(../image/icon-bottom-lm-on.png)no-repeat center center;
        }

        .ico-bottom-my {
          background: url(../image/icon-bottom-my-on.png)no-repeat center center;
        }

        .ico-bottom-my-img {
          border: 1px solid #ff7474;
        }

        .ico-bottom-plus {
          background: url(../image/icon-bottom-plus.png)no-repeat center center;
        }

        .ico-bottom-store {
          background: url(../image/icon-bottom-store-on.png)no-repeat center center;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .fleapop_gnb_nav {
    left: calc(50% - 8px);
  }
}

@media screen and (max-width: 768px) {
  .fleapop_gnb_nav {
    left: 50%;
  }
}

@media screen and (max-width: 440px) {

  .category_tab_nav {
    padding: 0 10px;

    li {
      width: calc(100% / 5);
      padding: 8px 2px;

      button {
        font-size: 12px;
      }
    }

  }
}


/* 러덕생활 */
.list_nav {
  padding: 20px;
  display: flex;
  align-items: center;

  li {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .list_nav {
    transform: translateX(-8px);
  }
}

@media screen and (max-width: 768px) {
  .list_nav {
    transform: translateX(0);
  }
}

.loduckLife_tab_nav {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid #f8f8f8;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  li {
    margin-right: 20px;

    button {
      span {
        display: inline-block;
        padding-top: 4px;
        line-height: 15px;
        font-size: 12px;
        letter-spacing: -1px;
        color: #909090;

        &:after {
          content: '';
          display: block;
          height: 1px;
          background-color: transparent;
        }
      }

      .ico-cate-comu-all {
        width: 48px;
        height: 48px;
        background: url(../image/cate-comu-all-off.png)no-repeat center center;
        background-size: 48px 48px;
      }

      .ico-cate-comu-beau {
        width: 48px;
        height: 48px;
        background: url(../image/cate-comu-beau-off.png)no-repeat center center;
        background-size: 48px 48px;
      }

      .ico-cate-comu-etc {
        width: 48px;
        height: 48px;
        background: url(../image/cate-comu-etc-off.png)no-repeat center center;
        background-size: 48px 48px;
      }

      .ico-cate-comu-fashion {
        width: 48px;
        height: 48px;
        background: url(../image/cate-comu-fashion-off.png)no-repeat center center;
        background-size: 48px 48px;
      }

      .ico-cate-comu-shot {
        width: 48px;
        height: 48px;
        background: url(../image/cate-comu-shot-off.png)no-repeat center center;
        background-size: 48px 48px;
      }

      .ico-cate-comu-scre {
        width: 48px;
        height: 48px;
        background: url(../image/cate-comu-scre-off.png)no-repeat center center;
        background-size: 48px 48px;
      }
    }

    &:hover,
    &.on {
      button {
        span {
          color: #ff7474;

          &:after {
            background-color: #ff7474;
          }
        }

        .ico-cate-comu-all {
          width: 48px;
          height: 48px;
          background: url(../image/cate-comu-all-on.png)no-repeat center center;
          background-size: 48px 48px;
        }

        .ico-cate-comu-beau {
          width: 48px;
          height: 48px;
          background: url(../image/cate-comu-beau-on.png)no-repeat center center;
          background-size: 48px 48px;
        }

        .ico-cate-comu-etc {
          width: 48px;
          height: 48px;
          background: url(../image/cate-comu-etc-on.png)no-repeat center center;
          background-size: 48px 48px;
        }

        .ico-cate-comu-fashion {
          width: 48px;
          height: 48px;
          background: url(../image/cate-comu-fashion-on.png)no-repeat center center;
          background-size: 48px 48px;
        }

        .ico-cate-comu-shot {
          width: 48px;
          height: 48px;
          background: url(../image/cate-comu-shot-on.png)no-repeat center center;
          background-size: 48px 48px;
        }

        .ico-cate-comu-scre {
          width: 48px;
          height: 48px;
          background: url(../image/cate-comu-scre-on.png)no-repeat center center;
          background-size: 48px 48px;
        }
      }
    }
  }

  &.scroll_off {
    display: none;
  }
}

.loduckLife_scroll_nav {
  max-width: 768px;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  display: none;

  li {
    margin-right: 12px;

    button {
      display: inline-block;
      border-radius: 30px;
      padding: 5px 12px;
      background-color: #f4f4f4;
      position: relative;

      span {
        font-size: 14px;
        color: #aaa;
      }
    }

    &:hover,
    &.on {
      button {
        background-color: #ff7474;

        span {
          color: #fff;
          font-weight: 500;
        }
      }
    }
  }

  &.scroll_on {
    display: flex;
    width: 100%;
    max-width: 768px;
  }
}

/*---------- header component end ----------*/