/* 러마페이 */
.lomapay_top_tit_box {
  padding: 20px;

  .lomapay_top_tit {
    display: inline-block;
    font-size: 25px;
  }

  .lomapay_top_passward_btn {
    right: 20px;
    background-color: #f0f0f0;
    color: #606060;
    font-size: 12px;
    font-weight: 500;
    height: 30px;
    padding: 10px 12px;
    border-radius: 30px;
  }
}

/* 상단 러마페이 충전카드 */
.lomapay_card_box {
  margin: 0 20px;

  .lomapay_card_box_top {
    border-radius: 10px 10px 0 0;
    padding: 30px 20px 20px;
    background-color: #0042a7;

    .img_wrap {
      width: 100%;
      float: left;
    }

    .lmpay_total {
      display: block;
      font-size: 20px;
      font-weight: 300;
      float: left;
      color: #fff;
      padding-top: 8px;

      .total_num {
        font-size: 25px;
        font-weight: 500;
        color: #fff;
      }
    }

    .lmpay_btn_wrap {
      float: right;

      .lmpay_btn {
        display: inline-block;
        color: #072053;
        font-size: 13px;
        font-weight: 500;
        background-color: #fff;
        padding: 8px 15px;
        border-radius: 16px;
      }
    }
  }

  .lomapay_card_box_bottom {
    padding: 12px;
    background-color: #00378d;
    border-radius: 0 0 10px 10px;

    .lomapay_card_box_btn {
      float: left;
      width: 50%;
      display: block;
      text-align: center;
      position: relative;

      .btn_txt {
        display: inline-block;
        width: 100%;
        color: #afb8ca;
        font-size: 13px;
        font-weight: normal;
      }

      &:before {
        content: '';
        display: block;
        width: 1px;
        height: 38px;
        background-color: #fff;
        opacity: 0.08;
        position: absolute;
        bottom: -2px;
        right: 0;
      }

      &:last-child {
        &:before {
          display: none;
        }
      }
    }
  }
}

/* 러마페이 버튼 리스트 */
.lomapay_btn_list_warp {
  .lomapay_btn_list {
    padding-top: 15px;

    li {
      padding: 10px 20px;

      .lomapay_btn {
        display: block;
        width: 100%;
        padding: 20px 15px;
        text-align: left;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);

        i {
          display: inline-block;
        }

        span {
          display: inline-block;
          font-size: 14px;
          font-weight: 500;
          color: #1c1c1c;
          padding: 3px 5px;
        }

        .btn {
          right: 15px;
        }
      }

      &:first-child {
        padding-bottom: 30px;
        position: relative;

        .lomapay_btn {
          border: 1px solid #ccc;
        }

        &::after {
          content: '';
          display: block;
          width: 10%;
          height: 1px;
          background-color: #ddd;
          position: absolute;
          left: 50%;
          bottom: 10px;
          transform: translateX(-50%);
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .lomapay_btn_list_warp {
    .lomapay_btn_list {
      padding-top: 8px;

      li {
        padding: 6px 20px;

        .lomapay_btn {
          display: block;
          width: 100%;
          padding: 20px 15px;
          text-align: left;
          background-color: #fff;
          border-radius: 10px;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);

          i {
            display: inline-block;
          }

          span {
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            color: #1c1c1c;
            padding: 3px 5px;
          }

          .btn {
            right: 15px;
          }
        }

        &:first-child {
          padding-bottom: 15px;

          &::after {
            width: 45px;
            bottom: 4px;
          }
        }
      }
    }
  }
}

/* 러마페이 비밀번호 설정 */
.lomapay_passward_box {
  margin: 0 auto;
  padding-top: 50%;
  transform: translateY(-30%);
  text-align: center;

  .lomapay_passward_logo {
    display: inline-block;
  }

  .lomapay_passward_tit {
    padding: 15px 0;
    width: 100%;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #0042a7;
  }

  .lomapay_passward_sub {
    width: 100%;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    color: #aaa;
  }

  .lomapay_passward_link {
    margin-top: 30px;
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    color: #aaa;
    text-decoration: underline;
  }
}

.lomapay_passward_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(120px + 24px);
  margin: 0 auto;
  padding: 20px 0;

  li {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #eee;
    position: relative;
    border-radius: 2.5px;

    input:focus {
      outline: none;
    }

    .lomapay_passward {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: inline-block;
      width: 100%;
      opacity: 0;
    }

    &.on {
      background-color: #fff;
      border: 1px solid #0042a7;
      position: relative;

      &:after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        background-color: #0042a7;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.lomapay_charge_pay {
  padding-top: 40px;
  text-align: center;

  .charge_pay_tit {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 12px;
  }

  .charge_pay_txt {
    font-size: 14px;
    font-weight: normal;
    color: #828893;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
  }

  .input_wrap {
    display: inline-block;
    border-bottom: 2px solid #eee;
    //padding-right: 30px;
    position: relative;

    .ico-del-pay {
      position: absolute;
      top: 50%;
      right: -30px;
      transform: translateY(-70%);
    }

    &.on_pink {
      border-bottom: 2px solid #ff7474;

      .charge_pay_total {
        width: fit-content;
        color: #ff7474;
      }

      .charge_pay_total_sub {
        position: static;
        color: #ff7474;
        padding-left: 3px;
      }
    }
  }

  .charge_pay_total {
    border: none;
    width: 185px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    color: #1c1c1c;

    &::placeholder {
      text-align: center;
      color: #cccccc;
      font-size: 35px;
      font-weight: 500;
    }
  }

  .charge_pay_total_sub {
    font-size: 35px;
    font-weight: normal;
    width: 30px;
    height: 50px;
    position: absolute;
    right: 3px;
    top: 3px;
  }
}

.lomapay_charge_btn_wrap {
  margin: -20px;

  .btn_list {
    width: 100%;

    li {
      width: 33.3333%;
      float: left;
      background-color: #838892;
      text-align: center;

      .charge_btn {
        display: block;
        width: 100%;
        padding: 15px;
        font-size: 12px;
        font-weight: 500;
        color: #ddd;
      }
    }
  }

  .charge_btn_full {
    border-radius: 0;
  }
}

.lomapay_charge_pay_how {
  float: left;
  width: 100%;

  .charge_pay_how_tit {
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 12px;
  }

  .charge_pay_how_list {
    padding-bottom: 20px;
    width: 100%;

    li {
      width: calc(50% - 6px);
      float: left;

      .pay_how_btn {
        display: flex;
        width: 100%;
        height: 60px;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #eee;
        border-radius: 5px;
        margin-bottom: 12px;

        &.on {
          color: #ff7474;
          border: 1px solid #ff7474;
        }
      }

      &:nth-of-type(odd) {
        margin-right: 12px;
      }
    }
  }
}

.lomapay_charge_barcode {
  width: 100%;
  text-align: center;

  img {
    width: 100%;
    max-width: 320px;
  }

  .lomapay_charge_barcode_num {
    display: inline-block;
    width: 100%;
    padding-top: 8px;
    color: #606060;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 500;
  }

  .lomapay_charge_barcode_txt {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: #606060;
    padding: 8px 0;

    .ico-lmpay-point {
      margin: 0 5px;
    }
  }
}

.lomapay_btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  .lomapay_ico_btn {
    display: block;
    padding: 12px 0;
    border: 1px solid #ff7474;
    width: calc(50% - 5px);
    margin-left: 10px;
    border-radius: 50px;

    i {
      margin-right: 3px;
    }

    span {
      color: #ff7474;
      font-size: 13px;
      line-height: 13px;
      padding-top: 3px;
      font-weight: 500;
      display: inline-block;
    }

    &:first-child {
      margin-left: 0px;
    }

    &.min_wid {
      min-width: 190px;
    }
  }
}

.lomapay_info_use_btn_wrap {
  padding: 30px 0;

  .lomapay_info_use_btn {
    padding: 15px 20px;
    height: 50px;
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 12px;
    border: 1px solid #eee;
    border-radius: 50px;

    span {
      font-size: 13px;
      line-height: 20px;
      font-weight: 500;
    }

    .btn {
      right: 20px;
    }
  }
}

.lomapay_info_use_img_wrap {
  margin-top: 5px;

  img {
    width: 100%;
  }
}

/* 러마페이 이용내역 */
.lomapay_usage_top {
  padding: 30px 20px 20px;

  .lomapay_usage_tit {
    font-size: 16px;
    font-weight: bold;
    color: #1c1c1c;
  }

  .lomapay_usage_tit_num {
    font-size: 16px;
    font-weight: normal;
    color: #7b7b7b;
    padding-left: 3px;
  }

  .lomapay_usage_btn_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 20px;

    li {
      width: calc((100% / 4) - 5px);
      text-align: center;
      background-color: #f1f1f1;
      padding: 12px;
      height: 40px;
      margin-bottom: 8px;

      .lomapay_usage_btn {
        width: 100%;
        display: block;
        font-size: 15px;
        color: #909090;
      }

      &.on {
        background-color: #ff7474;

        .lomapay_usage_btn {
          color: #fff;
        }
      }
    }
  }

}

.lomapay_usage_goods_list_area {
  .lomapay_usage_date {
    padding: 15px 20px;
    text-align: center;
    border-bottom: 1px solid #eee;

    .lomapay_usage_num {
      font-size: 14px;
      font-weight: 500;
      color: #1c1c1c;
    }

    .btn {
      transform: translateY(2px);
    }

    .left {
      transform: translateY(2px) rotate(180deg);
    }
  }
}

.lomapay_usage_goods_list_wrap {
  padding: 15px 20px;
  border-bottom: 1px solid #eee;

  .goods_list_day {
    font-size: 12px;
    font-weight: bold;
    color: #606060;
  }

  .lomapay_usage_goods_list {
    padding: 5px 0;

    li {
      padding: 15px 0;

      .lomapay_usage_good {

        .img_wrap {
          float: left;
          width: 40px;
          height: 40px;

          img {
            width: 100%;
          }

          &.line {
            border: 1px solid #ff7474;
            border-radius: 50%;
          }
        }

        .text_wrap {
          float: left;
          width: calc(80% - 40px);
          padding-bottom: 2px;
          padding-left: 12px;
          padding-right: 2px;
          padding-top: 3px;
          height: 40px;

          .usage_good_name {
            display: block;
            width: 100%;

            .good_name {
              display: inline-block;
              max-width: 80%;
              font-size: 14px;
              font-weight: normal;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              word-wrap: break-word;
            }

            .usage_good_num {
              display: inline-block;
              width: 40px;
              font-size: 12px;
              font-weight: normal;
              color: #aaa;
            }
          }

          .usage_good_time {
            float: left;
            font-size: 12px;
            font-weight: normal;
            color: #aaa;
            padding-top: 3px;
          }
        }

      }

      .usage_good_price {
        float: left;
        text-align: right;
        width: 20%;
        height: 40px;
        padding: 2px 0;
        padding-top: 3px;

        .price {
          font-size: 13px;
          font-weight: bold;
          color: #606060;
          display: inline-block;
          width: 100%;

          &.plus {
            color: #0042a7;
          }

          &.minus {
            color: #f5450c;
          }
        }

        .state {
          font-size: 11px;
          font-weight: normal;
          color: #aaa;
          display: inline-block;
          width: 100%;
          padding-top: 3px;
        }
      }
    }
  }
}

/* 러마페이 이용내역 m : 400px */
@media screen and (max-width: 400px) {
  .lomapay_usage_top {
    padding: 20px 15px;

    .lomapay_usage_tit {
      font-size: 14px;
    }

    .lomapay_usage_tit_num {
      font-size: 14px;
    }

    .lomapay_usage_btn_list {
      padding-top: 15px;

      li {
        width: calc((100% / 4) - 4px);
        padding: 8px 12px;
        height: 30px;
        margin-bottom: 4px;

        .lomapay_usage_btn {
          font-size: 12px;
        }
      }
    }

  }

  .lomapay_usage_goods_list_area {
    .lomapay_usage_date {
      padding: 15px;

      .lomapay_usage_num {
        font-size: 13px;
      }
    }
  }

  .lomapay_usage_goods_list_wrap {
    padding: 15px;

    .lomapay_usage_goods_list {

      li {
        position: relative;

        .lomapay_usage_good {

          .text_wrap {
            .usage_good_name {

              .good_name {
                display: inline-block;
                max-width: calc(100% - 35px);
                font-size: 13px;
              }

              .usage_good_num {
                display: inline-block;
                width: 30px;
                font-size: 11px;
              }
            }
          }

        }

        .usage_good_price {
          width: inherit;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

/* 이용내역 팝업 */
.popup_title_wrap {
  display: inline-block;
  padding-bottom: 15px;
  width: 100%;

  .popup_title_sub {
    padding-top: 3px;
    display: block;
    font-size: 12px;
    font-weight: normal;
    color: #ccc;
  }

  &.btn_wrap_left {
    .btn {
      left: 70px;
      transform: translateY(-1px);
    }
  }

  .popup_title_btn {
    top: 0;
    display: inline-block;
    border-radius: 30px;
    border: solid 1px #ddd;
    height: 22px;

    span {
      line-height: 22px;
      font-size: 12px;
      font-weight: 500;
      color: #aaa;
      padding: 5px 8px;
    }
  }
}

.lomapay_info_use_wrap {
  padding-top: 15px;

  .lomapay_info_top {
    padding: 12px 0;
    border-bottom: 1px solid #eee;

    .lomapay_info_top_tit {
      width: 100%;
      display: inline-block;
      font-size: 15px;
      font-weight: 500;
      color: #1c1c1c;
    }
  }

  .lomapay_info_body {
    padding: 12px 0;

    &+.lomapay_info_body {
      border-top: 1px solid #eee;
    }

    .content {
      width: 50%;

      &.left {
        float: left;
      }

      &.right {
        text-align: right;
        float: right;
      }

      .lomapay_info_tit {
        display: inline-block;
        width: 100%;
        font-size: 13px;
        font-weight: normal;
      }

      .lomapay_info_sub {
        display: inline-block;
        width: 100%;
        font-size: 12px;
        font-weight: normal;
        color: #aaa;
      }

      .lomapay_info_pay {
        display: inline-block;
        padding-top: 10px;
        font-size: 20px;
        font-weight: bold;
      }

      .lomapay_info_pay_sub {
        display: inline-block;
        padding-top: 10px;
        font-size: 13px;
        font-weight: normal;
      }

      .lomapay_info_num {
        display: inline-block;
        width: 100%;
        font-size: 13px;
        font-weight: bold;

        &.red {
          color: #f5450c;
        }
      }
    }

    .img_wrap {
      float: left;
      width: 40px;
      height: 40px;

      img {
        width: 100%;
      }

      &.line {
        border: 1px solid #ff7474;
        border-radius: 50%;
      }
    }

    .text_wrap {
      float: left;
      width: calc(100% - 40px);
      padding-bottom: 2px;
      padding-left: 12px;
      padding-right: 2px;
      padding-top: 3px;
      height: 40px;

      .usage_good_name {
        display: block;
        width: 100%;

        .good_name {
          display: inline-block;
          max-width: calc(100% - 45px);
          font-size: 15px;
          font-weight: 500;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
        }

        .usage_good_num {
          display: inline-block;
          width: 40px;
          font-size: 12px;
          font-weight: normal;
          color: #ccc;
        }
      }

      .usage_good_time {
        float: left;
        font-size: 12px;
        font-weight: normal;
        color: #aaa;
        padding-top: 3px;
      }
    }
  }
}

/* 러마페이 환불하기 */

.top_text_banner {
  &.red {
    margin: 0;
    background-color: #fff6f3;
    color: #f5450c;
    word-break: keep-all;
  }
}

.lomapay_refund_box {
  .lomapay_refund_list {
    padding: 10px 20px;

    li {
      .refund_list_txt_wrap {
        padding: 15px 0;
        border-bottom: 1px solid #eee;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .refund_list_tit {
          font-size: 16px;
          font-weight: 500;
          color: #1c1c1c;
        }

        .refund_list_pay {
          font-size: 20px;
          font-weight: bold;
          color: #ff7474;

          .refund_list_pay_sub {
            font-size: 20px;
            font-weight: normal;
            color: #ff7474;
          }
        }

        .refund_list_txt {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .refund_list_txt_sub {
            width: 100%;
            height: 20px;
            line-height: 20px;
            font-size: 14px;
            font-weight: normal;
          }
        }

        .refund_list_acount {
          .refund_list_acount_sub {
            display: block;
            width: 100%;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            font-weight: normal;
          }
        }

        .refund_acount_btn {
          height: 22px;
          line-height: 18px;
          padding: 2px 8px;
          border-radius: 11px;
          border: solid 1px #ddd;

          span {
            font-size: 12px;
            font-weight: normal;
            color: #aaa;
          }
        }

        .refund_list_btn_wrap {
          display: block;
          width: 100%;
        }
      }

      &:last-child {
        .refund_list_txt_wrap {
          border-bottom: none;
        }
      }

      .refund_list_btn_wrap {
        padding-bottom: 10px;

        .refund_list_btn {
          display: block;
          width: 100%;
          height: 48px;
          line-height: 48px;
          font-size: 13px;
          font-weight: 500;
          color: #ff7474;
          border: 1px solid #ff7474;
          border-radius: 5px;
        }
      }
    }
  }

  .lomapay_refund_info_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;

    li {
      padding: 0 12px;
      flex: 1 1 0;

      &+li {
        border-left: 1px solid #eee;
      }

      .lomapay_refund {
        width: 100%;
        text-align: center;

        .refund_txt {
          display: inline-block;
          width: 100%;
          padding-bottom: 5px;
        }
      }
    }
  }

  .refund_txt_wrap {
    text-align: center;
    padding: 20px;

    .refund_tit {
      padding-top: 20px;
      display: inline-block;
      width: 100%;
      font-size: 14px;
      font-weight: bold;
      color: #1c1c1c;
    }

    .refund_pay {
      padding-top: 10px;
      display: inline-block;
      width: 100%;
      color: #ff7474;
      font-size: 30px;
      font-weight: bold;

      .refund_pay_sub {
        display: inline-block;
        color: #ff7474;
        font-weight: normal;
      }
    }
  }
}

.lomapay_refund_info {
  border-top: 1px solid #eee;
  background-color: #fafafa;
  padding: 0 20px;
  padding-bottom: 60px;

  .refund_info_tit {
    display: block;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #1c1c1c;
  }

  .refund_info_list {
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;

    &:last-child {
      border-bottom: none;
    }

    li {
      padding: 5px 12px;
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        top: 9px;
        left: 1px;
        background-color: #333;
      }

      .refund_info_list_tit {
        display: block;
        font-size: 12px;
        font-weight: 500;
        padding-bottom: 3px;
      }

      .refund_info_list_txt {
        display: block;
        font-size: 12px;
        font-weight: normal;
        color: #606060;
      }
    }
  }
}

.lomapay_refund_banks {
  .lomapay_refund_bank_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-top: 5px;

    li {
      width: calc((100%/3) - 8px);
      border: 1px solid #e4e4e4;
      border-radius: 5px;
      margin-bottom: 8px;
      margin-right: 8px;
      text-align: center;

      .bank_btn {
        width: 100%;
        height: 48px;
        line-height: 48px;
        display: block;
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
}

.lomapay_refund_complete_box {
  padding: 20px;
  text-align: center;

  .lomapay_refund_complete_top {
    padding-top: 40px;

    .lomapay_refund_complete_tit {
      display: inline-block;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
      color: #1c1c1c;
    }

    .lomapay_refund_complete_txt {
      font-size: 12px;
      font-weight: normal;
      color: #aaa;
    }

  }

  .lomapay_refund_table {
    margin-top: 30px;
    border-top: 1px solid #ccc;

    .lomapay_refund_side {
      padding-top: 15px;
      padding-bottom: 0;

      span {
        font-size: 14px;
        font-weight: normal;
      }

      .right {
        float: right;
      }

      .left {
        float: left;
      }

      &.lomapay_refund_total {
        padding: 18px 0;
        border-bottom: 1px solid #eee;
      }

      &:last-child {
        padding-bottom: 15px;
        border-bottom: 1px solid #eee;
      }
    }

  }

}