.myPage_title_tab {
  width: 206px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  li {

    .top_tab_title {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-weight: 500;
      color: #ccc;
      font-size: 20px;
    }
  }
}

.tab_top_info {
  display: flex;
  justify-content: space-between;

  .title_btn_wrap {
    padding-right: 20px;
    padding-top: 20px;

    button {
      min-width: 50px;
      height: 28px;
      padding: 8px 10px 7px 10px;
      float: left;

      &.select_linenone_type {
        padding: 8px 20px 7px 10px;

        &.on {
          border: 1px solid #ff7474;
          color: #fff;
          background: #ff7474 url(../image/ico-selet-arrow_fff.png) no-repeat right 8px center;
        }
      }
    }
  }
}

.myPage_profile {
  padding: 10px 20px;
  display: flex;
  align-items: center;

  .myPage_profile_info {
    margin-left: 12px;
    width: 100%;

    .myPage_profile_name {
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      color: #1c1c1c;
      padding-bottom: 5px;
    }

    .profile_follow_count {
      display: flex;

      li {
        padding-right: 15px;
        position: relative;

        .follow_tag_name {
          display: inline-block;
          font-size: 14px;
          color: #606060;

          .follow_num {
            font-weight: bold;
            padding: 0 3px;
            color: #333;
          }
        }

        &:after {
          content: '';
          display: block;
          width: 5px;
          height: 5px;
          background-color: #ddd;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 8px;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .myPage_profile {

    .myPage_profile_info {

      .myPage_profile_name {
        font-size: 14px;
      }

      .profile_follow_count {
        display: flex;

        li {
          padding-right: 15px;
          position: relative;

          .follow_tag_name {
            font-size: 12px;
          }

        }
      }

      .btn {
        top: 5px;
      }
    }
  }
}

.myPage_info_text {
  padding: 0 22px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 20px;

  p {
    padding-top: 5px;

    .over-text {
      font-size: 13px;
      line-height: 20px;
      height: 62px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
  }
}

.myPage_top_btn_wrap {
  padding: 20px;
  position: relative;

  .btn-shoppingBag {
    display: inline-block;
    height: 32px;
    min-width: 140px;
    padding: 12px 15px;
    border-radius: 32px;
    background-color: #fa7787;
    text-align: left;
    position: relative;

    span {
      padding-left: 25px;
      color: #fff;
      font-weight: 500;
    }

    .ico-shoppingbag-tag {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .ico-banner-arrow {
      display: inline-block;
      margin-left: 30px;
      transform: translateY(-3px);
    }
  }

}

.btn-edit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 32px;
  font-size: 13px;
  display: inline-block;
  padding: 7px 10px;
  min-width: 55px;
  border-radius: 32px;
  letter-spacing: -0.2px;

  .ico-settings-fill {
    display: inline-block;
  }
}

/* 탭 러덕핏 */
.loduckfit_contents_list {
  padding: 10px 20px;
  padding-bottom: 60px;

  li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

    .img_wrap {
      width: calc(50% - 1.25%);
      display: block;
      border-radius: 10px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .tab_top_info {
    .title_btn_wrap {
      padding-top: 15px;
      padding-right: 15px;
    }
  }

  .loduckfit_contents_list {
    padding: 10px 15px;

    li {
      padding-bottom: 2%;

      .img_wrap {
        width: calc(50% - 1.25%);
      }
    }
  }
}

/* 탭 답정러 */

.answerPick_contents_list {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  li {
    width: calc(50% - 10px);
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;

    .answerPick_item {
      display: block;
      width: 100%;
      max-height: 245px;
      background-color: #000;

      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .answerPick_contents_list {
    li {
      width: calc(50% - 5px);
      margin-bottom: 10px;

      .answerPick_item {
        min-height: 112px;
      }
    }
  }
}

/* 탭 콕 */
.cock_contents_wrap {
  padding: 55px 20px 60px 20px;

  .cock_contents_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      width: calc(50% - 20px);
      position: relative;
      cursor: pointer;

      .cock_imgs_wrap {
        border-radius: 10px;
        overflow: hidden;

        img {
          width: 100%;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: -16px;
          left: 50%;
          transform: translateX(-50%);
          width: 95%;
          height: 16px;
          background: url(../image/img-cock-box-top.png)no-repeat center center;
          background-size: contain;
        }
      }

      .cock_list_title {
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
        padding: 12px;
        padding-bottom: 5px;
      }

      .cock_list_sub {
        font-size: 15px;
        color: #aaa;
        padding: 0 12px 40px 12px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .cock_contents_wrap {
    padding: 35px 20px 60px 20px;

    .cock_contents_list {

      li {
        width: calc(50% - 10px);

        .cock_imgs_wrap {

          &:after {
            top: -4.5%;
            width: 90%;
            height: 16px;
          }
        }

        .cock_list_title {
          font-size: 13px;
          padding: 12px 10px;
          padding-bottom: 3px;
        }

        .cock_list_sub {
          font-size: 12px;
          padding: 0 10px 30px 10px;
        }
      }
    }
  }
}

/* 콕 상세  */
.cock_goods_list {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  li {
    width: calc(50% - 10px);
    cursor: pointer;

    .cock_imgs_wrap {
      border-radius: 10px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .goods_cock_text_area {
      padding-top: 15px;
      padding-bottom: 30px;

      p {
        padding: 2px 0;
      }

      .goods_cock_title {
        font-size: 15px;
        font-weight: 500;
      }

      .goods_cock_sub_tit {
        font-size: 15px;
      }

      .goods_cock_price {
        font-size: 18px;
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;

        .goods_price_point {
          color: #ff305d;
          padding-right: 5px;
        }

        .goods_price_main {
          padding-right: 5px;
        }

        .goods_price_sub {
          font-weight: normal;
          text-decoration: line-through;
          color: #ccc;
        }
      }

      .goods_cock_view {
        font-size: 13px;
        color: #ccc;

        .ico-eyes {
          display: inline-block;
        }
      }
    }
  }

  &.goods_list_brand {
    margin-top: 10px;
    padding-bottom: 60px;

    .goods_cock_text_area {
      .pit_profile_area {
        display: flex;
        align-items: center;

        .profile_img_s_wrap {
          display: inline-block;
          border-radius: 5px;
        }

        .profile_name {
          width: 100%;
          line-height: 1.4;
          font-size: 15px;
          font-weight: 500;
        }
      }
    }

    .pit_sub_tit {
      width: 100%;
      padding: 5px 0;
      font-size: 14px;
      color: #a6a6a6;
    }

    .body_profile_tag {
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .cock_goods_list {
    padding: 0 15px;

    li {
      width: calc(50% - 5px);

      .goods_cock_text_area {
        padding-top: 10px;
        padding-bottom: 20px;

        p {
          padding: 2px 0;
        }

        .goods_cock_title {
          font-size: 12px;
          font-weight: 500;
        }

        .goods_cock_sub_tit {
          font-size: 12px;
        }

        .goods_cock_price {
          font-size: 15px;
        }

        .goods_cock_view {
          font-size: 12px;
        }
      }
    }

    &.goods_list_brand {

      .goods_cock_text_area {
        .pit_profile_area {

          .profile_name {
            font-size: 12px;
          }
        }
      }

      .pit_sub_tit {
        font-size: 12px;
      }

      .body_profile_tag {
        font-size: 12px;
      }
    }
  }
}

.cock_magazine_list {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  li {
    width: calc(50% - 10px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    cursor: pointer;

    .cock_imgs_wrap {
      img {
        width: 100%;
      }
    }

    .goods_magazine_text_area {
      background-color: #fff;
      padding: 12px 15px;

      .goods_magazine_title {
        font-size: 15px;
        color: #1c1c1c;
        font-weight: bold;
      }

      .goods_magazine_sub_tit {
        font-size: 12px;
        color: #606060;
        padding: 3px 0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .cock_magazine_list {

    li {
      width: 100%;

      .goods_magazine_text_area {
        background-color: #fff;
        padding: 12px 15px;
      }
    }
  }
}

/* 쇼핑백 */
.mybag_top_title_wrap {
  padding: 30px 20px 15px 20px;

  .mybag_title {
    font-size: 30px;
    color: #00e3a3;
  }

  .text_under_line_green {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 2px;
      display: block;
      height: 10px;
      width: 100%;
      opacity: 0.2;
      background-color: #00e3a3;
    }
  }

  .toggle_btn_wrap {
    right: 20px;
    margin-top: 5px;
  }
}

.mybag_title_sub {
  padding: 5px 20px 30px;
  color: #aaa;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .mybag_title_sub {
    padding: 0 20px 25px;
    font-size: 12px;
  }
}

.follow_top_wrap {
  padding: 20px;
}

.search_btn_wrap {
  padding: 5px 10px;
  background-color: #f7f7f7;
  margin-top: 40px;
  border-radius: 10px;
  position: relative;

  .search_btn {
    background-color: #f7f7f7;
    width: calc(100% - 25px);
    border: none;
    height: 30px;
    margin-left: 25px;
  }

  .ico-top-sarch-s {
    position: absolute;
    top: 48%;
    left: 14px;
    transform: translateY(-50%);
    display: inline-block;
  }
}

/* 팔로우 쇼셜 페이지 */
.profile_list_wrap {
  .follow_list {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;

    li {
      width: 50%;
      padding: 15px;

      .profile_img_m_wrap {
        border-radius: 15px;
        float: left;
      }

      .profile_text_wrap {
        float: left;
        padding-left: 12px;
        display: flex;
        flex-direction: column;

        .profile_name {
          display: inline-block;
          width: fit-content;
          padding: 5px 0 2px;
          font-size: 14px;

          &.ico-new {
            position: relative;

            &:after {
              content: '';
              display: block;
              position: absolute;
              top: 3px;
              right: -5px;
              width: 4px;
              height: 4px;
              background-color: #ff7474;
              border-radius: 50%;
            }
          }

          .text-new {
            position: relative;
            font-style: normal;
            color: #ff7474;
            font-size: 10px;
            font-weight: normal;
            display: inline-block;
            padding-bottom: 2px;
            padding-left: 12px;

            &:before {
              content: '';
              display: block;
              position: absolute;
              top: 45%;
              transform: translateY(-50%);
              left: 4px;
              width: 3px;
              height: 3px;
              background-color: #ff7474;
              border-radius: 50%;
            }
          }
        }

        .profile_txt_sub {
          display: block;
          font-size: 12px;
          color: #aaa;
          width: 100%;
        }
      }

      .btn {
        right: 15px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .profile_list_wrap {
    .follow_list {
      padding: 0;

      li {
        width: 100%;
        padding: 10px 15px;

        .profile_text_wrap {

          .profile_name {
            font-size: 13px;
          }

          .profile_txt_sub {
            display: inline-block;
            font-size: 11px;
          }
        }
      }
    }
  }
}

/* 스냅 */
.snap_contents_wrap {
  .brand_snap_list {
    margin-top: 10px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 80px;

    li {
      width: calc(100% / 3);
      cursor: pointer;

      .imgs_wrap {
        border: 1px solid #fff;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .snap_contents_wrap {
    .brand_snap_list {
      margin-top: 10px;
      padding: 0px;
      padding-bottom: 80px;
    }
  }
}

.snap_detail_textarea {
  padding: 40px 20px;
  width: 100vw;
  overflow: hidden;
  word-break: break-all;

  p {
    white-space: pre-line;
    color: #555;
    line-height: 1.4;
    font-size: 15px;
  }
}

/* 프로필 편집 */
.edit_profile_top {
  padding: 60px 0;

  .edit_profile_img_wrap {
    width: 88px;
    height: 88px;
    margin: 0 auto;
    border-radius: 35px;
    border: 1px solid #eee;
    overflow: hidden;
    margin-bottom: 15px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  .edit_profile_text {
    font-size: 14px;
    font-weight: 500;
    color: #ff7474;
    text-align: center;
  }
}

.edit_profile_inputarea {
  padding: 20px;
  padding-bottom: 40px;

  .edit_profile_input_wrap {
    height: 52px;
    border-bottom: 1px solid #f8f8f8;
    padding: 15px 0;
    position: relative;

    .edit_profile_input_label {
      color: #aaa;
      font-size: 15px;
      font-weight: 500;
      display: block;
      padding-top: 3px;
      min-width: 50px;
      padding-right: 12px;
      float: left;

      &.border_right {
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          width: 1px;
          height: 12px;
          background-color: #ddd;
        }
      }
    }

    .edit_profile_input {
      border: none;
      width: calc(100% - 55px);
      display: block;
      float: left;
      height: 22px;
      padding: 0 10px;
    }

    .select_linenone_type {
      font-size: 12px;
    }

    .edit_profile_btn {
      width: 48px;
      height: 26px;
      background-color: #ccc;
      border-radius: 5px;
      float: left;
      margin-right: 5px;

      span {
        font-size: 13px;
        color: #fff;
        padding-top: 2px;
        line-height: 26px;
      }

      &.on {
        background-color: #ff7474;
      }
    }

    .ico-lock {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }

    .text_area_box {
      width: calc(100% - 50px);
      float: left;
      border: 1px solid #eee;
    }
  }
}

.edit_profile_bottom {
  padding-bottom: 40px;

  .edit_profile_btn_list {

    li {
      border-bottom: 1px solid #f8f8f8;
      padding: 0 20px;
      cursor: pointer;

      .edit_profile_btn {
        padding: 15px 0;
        height: 52px;

        span {
          font-size: 15px;
          line-height: 24px;
        }
      }
    }
  }

  .edit_profile_del {
    display: block;
    width: 60px;
    height: 20px;
    border: 1px solid #ddd;
    font-size: 11px;
    color: #aaa;
    border-radius: 5px;
    float: right;
    margin: 10px 30px 0 0;
  }

}

@media screen and (max-width: 767px) {
  .edit_profile_top {
    padding: 40px 0;

    .edit_profile_img_wrap {
      width: 80px;
      height: 80px;
    }

    .edit_profile_text {
      font-size: 12px;
    }
  }

  .edit_profile_inputarea {
    padding: 15px 20px;
    padding-bottom: 40px;

    .edit_profile_input_wrap {

      .edit_profile_input_label {
        font-size: 13px;
      }

      .edit_profile_input {
        font-size: 13px;
      }
    }
  }

  .edit_profile_bottom {
    .edit_profile_btn_list {
      li {
        .edit_profile_btn {

          span {
            font-size: 13px;
          }
        }
      }
    }

    .edit_profile_del {
      margin: 10px 20px 0 0;
    }
  }
}

/* 프로필 편집 체형 */

.profile_body_btn_wrap {
  padding: 40px 20px;
  padding-bottom: 80px;

  .body_btn_list {
    li {
      padding-bottom: 12px;
      cursor: pointer;

      .bodytype_btn {
        background-color: #fff;
        border: 1px solid #eee;
        border-radius: 10px;
        height: 52px;
        padding: 0 15px;

        .bodytype_tit {
          float: left;
          color: #606060;
          font-size: 14px;
          line-height: 52px;
        }

        .bodytype_txt {
          float: right;
          line-height: 52px;
          font-size: 14px;
          color: #1c1c1c;

          .bodytype_input_btn {
            background-color: #fff5f5;
            display: inline-block;
            width: 35px;
            height: 20px;
            border-radius: 10px;
            color: #ff7474;
            font-size: 11px;
            line-height: 20px;
          }

          .type {
            font-style: normal;
            color: #ccc;
          }
        }

        &:after {
          content: '';
          display: block;
          clear: both;
        }
      }

    }
  }

  .toggle_btn_wrap {
    top: auto;
    bottom: 30px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {}

.profile_privacy_wrap {
  padding: 40px 20px;

  .privacy_edit_list {

    li {
      padding-bottom: 20px;
      cursor: pointer;

      .bodytype_tit {
        display: inline-block;
        font-size: 13px;
        font-weight: bold;
        padding-bottom: 5px;
      }

      .bodytype_btn {
        background-color: #fff;
        border: 1px solid #eee;
        border-radius: 5px;
        height: 52px;
        padding: 0 15px;
        color: #606060;
        font-size: 14px;
        line-height: 52px;

        &.disable {
          background-color: #fafafa;
          border: none;
          color: #ccc;
        }

        .btn-ico {
          right: 8px;
          opacity: 0.5;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .profile_privacy_wrap {
    padding: 20px;

    .privacy_edit_list {
      li {
        .bodytype_tit {
          font-size: 12px;
        }

        .bodytype_btn {
          height: 42px;
          font-size: 13px;
          line-height: 42px;
        }
      }
    }
  }
}

/* 마이페이지 탈퇴작성 */
.withdrawl_check_wrap {
  padding: 20px;

  .check_title {
    display: inline-block;
    font-size: 16px;
    padding-top: 5px;
  }

  .check_title_num {
    padding: 10px 0;

    .text_under_line {
      color: #f5450c;
      font-weight: bold;
      font-size: 18px;
      display: inline-block;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 1px;
        display: inline-block;
        height: 7px;
        width: 100%;
        opacity: 0.2;
        background-color: #f5450c;
      }
    }

  }

  .check_title_sub {
    color: #606060;
    font-size: 13px;
    line-height: 18px;
  }

  .check_title_big {
    display: inline-block;
    font-size: 18px;
    padding-top: 5px;
  }

  .checkbox_wrap {
    label {
      &.required:after {
        top: 0;
      }
    }
  }
}

.not_required {
  position: relative;

  &:after {
    content: '선택';
    display: block;
    position: absolute;
    top: 5px;
    right: -26px;
    color: #ccc;
    font-size: 12px;
    font-weight: 500;
  }
}

.required {
  position: relative;

  &:after {
    content: '필수';
    display: block;
    position: absolute;
    top: 5px;
    right: -26px;
    color: #ff7474;
    font-size: 12px;
    font-weight: 500;
  }
}

.withdrawl_check_list {
  padding-top: 10px;
  padding-bottom: 15px;

  li {
    display: inline-block;
    width: 100%;
    line-height: 15px;
    padding: 6px 0;

    label {
      font-size: 12px !important;
    }
  }
}

.withdrawl_readMe_list {
  padding: 12px 0;

  li {
    padding: 4px 12px;
    color: #aaa;
    font-size: 12px;
    line-height: 16px;
    word-break: break-word;
  }
}

.list_bulit {
  position: relative;
  left: -10px;
  height: 8px;
  display: inline-block;

  &:after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background-color: #aaa;
    border-radius: 50%;
    position: absolute;
  }
}

@media screen and (max-width: 400px) {
  .withdrawl_check_wrap {
    .check_title {
      font-size: 15px;
    }
  }
}

/* 마이쇼핑 */
.mayshopping_lmpay {
  margin: 0 20px;
  padding: 18px 25px;
  background-color: #0042a7;
  border-radius: 10px;

  img {
    float: left;
  }

  .lmpay_total {
    display: block;
    font-size: 16px;
    font-weight: 500;
    float: left;
    color: #fff;
    height: 20px;
    padding-top: 4px;
    padding-left: 10px;

    .total_num {
      color: #fff;
    }
  }

  .lmpay_btn_wrap {
    float: right;
    font-size: 14px;
    color: #fff;

    .lmpay_btn {
      padding: 2px 0;
      padding-left: 20px;
      display: inline-block;
      line-height: 20px;
      height: 20px;
      position: relative;

      &:before {
        content: '';
        display: block;
        width: 1px;
        height: 12px;
        background-color: #fff;
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        left: 10px
      }

      &:first-child {
        &:before {
          display: none;
        }
      }
    }
  }
}

.icon_btn_menu_list {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 620px;

  li {
    text-align: center;
    float: left;
    width: 33.3333%;
    font-size: 15px;
    cursor: pointer;
    border-right: 1px solid #f7f7f7;

    i {
      display: inline-block;

      &.ico-new {
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 3px;
          right: -5px;
          width: 4px;
          height: 4px;
          background-color: #ff7474;
          border-radius: 50%;
        }
      }
    }

    .btn_text {
      width: 100%;
      display: inline-block;
      padding-top: 5px;

      .btn_text_num {
        color: #ff0143;
      }
    }

    &:last-child {
      border-right: none;
    }
  }
}

.myshopping_list_wrap {
  .myshopping_list {
    padding: 20px 0;

    li {
      padding: 10px 20px;
    }

    .myshopping_list_title {
      span {
        font-size: 15px;
        font-weight: 500;
        color: #ccc;
      }
    }

    .myshopping_li {
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;
      color: #1c1c1c;

      .version_num {
        color: #aaa;
        padding-left: 5px;
        line-height: 18px;
      }

      .btn_pink2 {
        right: 20px;
        font-size: 12px;
        font-weight: 500;
        padding: 5px 8px;
        height: 22px;
        line-height: 14px;
        border-radius: 22px;
      }
    }
  }
}

.footer {
  background-color: #f5f5f5;
  padding-top: 25px;

  .footer_list {
    margin: 0 20px;
    padding-top: 12px;
    border-top: 1px solid #ddd;

    li {
      line-height: 18px;
      padding: 2px;
      font-size: 12px;
      color: #aaa;
      word-break: break-word;
    }
  }

  .footer_sns_list {
    padding: 10px 20px 30px 20px;

    li {
      display: inline-block;
      padding-right: 15px;

      i {
        cursor: pointer;
        display: block
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .mayshopping_lmpay {
    padding: 15px 20px;

    .lmpay_total {
      font-size: 15px;
    }
  }

  .icon_btn_menu_list {
    li {
      font-size: 13px;
    }
  }

  .myshopping_list_wrap {
    .myshopping_list {
      padding: 15px 0;

      li {
        padding: 8px 20px;
      }

      .myshopping_list_title {
        span {
          font-size: 13px;
        }
      }

      .myshopping_li {
        font-size: 14px;
      }
    }
  }
}

/*  고객센터 팝업  */
.popup_content_wrap {
  .btn_wrap_left {
    .ico-popup-back {
      transform: translateY(0%);
    }
  }

  .btn_wrap_service {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px 15px;

    .service_time {
      padding-bottom: 8px;

      .service_time_title {
        font-size: 14px;
        font-weight: bold;
        color: #1c1c1c;
        padding-right: 8px;
        border-right: 1px solid #ddd;
      }

      .day_time {
        padding-left: 8px;
        font-size: 13px;
        color: #1c1c1c;
      }
    }

    .kakao_service_btn {
      background-color: #f9e000;
      border-radius: 5px;
      text-align: center;
      height: 48px;
      line-height: 50px;
      color: #3c1e1e;
      font-weight: bold;
      font-size: 13px;
      cursor: pointer;

      .ico-kakao-fill {
        display: inline-block;
        margin-right: 3px;
      }
    }

    .break_time {
      font-size: 12px;
      color: #aaa;
      padding-bottom: 15px;
      padding-top: 10px;

      .text-M {
        padding-left: 14px;
        color: #aaa;
        position: relative;

        &:before {
          content: '';
          display: inline-block;
          width: 4px;
          height: 4px;
          background-color: #aaa;
          border-radius: 50%;
          position: absolute;
          top: 45%;
          transform: translateY(-50%);
          left: 4px
        }
      }
    }

    .FAQ_service_btn {
      background-color: #f7f7f7;
      text-align: center;
      height: 48px;
      line-height: 48px;
      font-size: 14px;
      font-weight: 500;
      color: #333;
      border-radius: 5px;
      margin-top: 20px;
      cursor: pointer;

      .ico-popup-arrow {
        display: inline-block;
        width: 13px;
        height: 13px;
        background-size: 13px 13px;
        transform: translateY(-2px);
        padding-left: 15px;
      }
    }
  }
}

/* 개인정보 수집 이용 동의 */
.agree_title {
  font-size: 14px;
  color: #1c1c1c;
  display: inline-block;
  padding: 25px 20px 5px;
}

.agree_contents {
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1.4;
}

/* 후기 리스트 */
.review_top_btn_area {
  padding: 20px 30px;

  .review_top_btn_wrap {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 15px 0 rgba(204, 204, 204, 0.5);
    text-align: center;

    .review_top_text {
      display: inline-block;
      width: 100%;
      font-size: 14px;
      font-weight: 500;
      color: #1c1c1c;

      &.text-B {
        font-size: 20px;
        padding-bottom: 2px;
      }
    }

    .review_top_btn {
      display: inline-block;
      width: 100%;
      border-radius: 5px;
      border: 1px solid #ff7474;
      color: #ff7474;
      height: 52px;
      word-break: break-word;
      padding: 0 15px;
      font-size: 14px;
      font-weight: 500;

      .total_pay {
        color: #ff7474;
        display: inline-block;
      }
    }
  }

  .review_top_area_info_pay {
    padding-top: 20px;

    .info_pay_list {
      li {
        position: relative;
        color: #909090;
        font-size: 12px;
        padding: 2px 0;
        padding-left: 15px;

        .info_pay {
          color: #909090;
          font-size: 12px;
          font-weight: 500;
          display: inline-block;
          position: absolute;
          right: 0;
        }

        &::before {
          content: '';
          display: inline-block;
          width: 4px;
          height: 4px;
          background-color: #aaa;
          border-radius: 50%;
          position: absolute;
          top: 30%;
          left: 4px;
        }
      }
    }
  }
}

.review_list_wrap {
  .review_list {
    li {
      padding: 20px 30px;
      border-bottom: 8px solid #f7f7f7;

      .review_list_info {
        display: flex;
        align-items: center;
        width: 100%;

        .goods_list_img_wrap {
          width: 88px;
          height: 88px;
          border-radius: 5px;
          overflow: hidden;
          border: 1px solid #eee;
          margin-right: 20px;
          flex: 0 0 auto;

          img {
            width: 100%;
          }
        }

        .goods_list_text_area {
          display: flex;
          flex-direction: column;
          width: calc(100% - 108px);

          p {
            word-break: break-word;
            width: 100%;
          }

          .goods_list_title {
            display: block;
            width: 100%;
            padding-top: 3px;
            font-size: 14px;
            color: #1c1c1c;

            .date {
              float: right;
              font-size: 14px;
              font-weight: normal;
              color: #ccc;
            }
          }

          .goods_list_sub_tit {
            padding-top: 3px;
            font-size: 14px;
            color: #333;
          }

          .goods_list_option {
            display: flex;
            padding: 3px 0;
            font-size: 14px;
            color: #aaa;
          }

          .goods_list_price {
            font-weight: bold;
            font-size: 14px;
            color: #1c1c1c;
          }
        }
      }

      .review_goto_btn_wrap {
        padding: 0 10px;
        padding-top: 20px;

        .review_goto_btn {
          min-height: 42px;
          padding: 12px 25px;
          border-radius: 5px;
          background: #ff7474;
          cursor: pointer;
          padding-right: 50px;

          .review_goto_btn_text {
            color: #fff;
            font-size: 14px;

            .text-B {
              color: #fff;
            }
          }

          .ico-banner-arrow {
            right: 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .review_top_btn_area {
    padding: 20px 15px;

    .review_top_btn_wrap {
      padding: 20px 15px;

      .review_top_btn {
        padding: 0 10px;
      }
    }
  }

  .review_list_wrap {
    .review_list {
      li {
        padding: 15px 20px;

        .review_list_info {

          .goods_list_img_wrap {
            width: 64px;
            height: 64px;
            margin-right: 15px;
          }

          .goods_list_text_area {
            width: calc(100% - 96px);

            .goods_list_title {
              font-size: 12px;

              .date {
                font-size: 12px;
              }
            }

            .goods_list_sub_tit {
              font-size: 12px;
            }

            .goods_list_option {
              font-size: 12px;
            }

            .goods_list_price {
              font-size: 12px;
            }
          }
        }

        .review_goto_btn_wrap {
          padding: 0 10px;
          padding-top: 15px;

          .review_goto_btn {
            min-height: 32px;
            padding: 8px 15px;

            .review_goto_btn_text {
              font-size: 12px;
            }

            .ico-banner-arrow {
              right: 15px;
            }
          }
        }
      }
    }
  }
}

/* 알림 수신 동의 */
.notice_setting_list {
  padding-top: 15px;

  li {
    border-bottom: 1px solid #eee;

    .notice_setting_wrap {
      padding: 20px;

      .notice_title {
        font-size: 15px;
        color: #1c1c1c;
      }

      .btn {
        max-width: 54px;
        right: 20px;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .notice_setting_list {
    li {
      .notice_setting_wrap {
        padding: 20px 15px;

        .notice_title {
          font-size: 14px;
        }

        .btn {
          right: 15px;
        }
      }
    }
  }
}

/* 알림 */
.notice_list_wrap {
  padding-top: 42px;

  .notice_list {
    li {
      background: #fff;
      padding: 20px 30px;
      position: relative;

      .ico-bul {
        width: 6px;
        height: 6px;
        display: block;
        background-color: #e4e4e4;
        border-radius: 50%;
        position: absolute;
        top: 25px;
        left: 15px;
      }

      .notice_contents {
        .notice_contents_top {
          display: flex;
          align-items: center;

          i {
            margin-right: 5px;
            transform: translateY(-2px);
          }

          .notice_contents_title {
            font-weight: bold;
            font-size: 12px;
            color: #909090;
          }
        }

        .notice_contents_title {
          font-size: 14px;
          padding: 4px 0;
          font-weight: bold;
        }

        .notice_contents_day {
          font-size: 12px;
          padding: 4px 0;
          color: #aaa;
        }
      }

      &.on_pink {
        background: #fffafa;

        .ico-bul {
          background-color: #ff7474;
        }

        .notice_contents {
          .notice_contents_top {
            .notice_contents_title {
              color: #ff7474;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .notice_list_wrap {
    padding-top: 38px;

    .notice_list {
      li {

        .notice_contents {
          .notice_contents_top {

            .notice_contents_title {
              font-size: 11px;
            }
          }

          .notice_contents_title {
            font-size: 13px;
          }

          .notice_contents_day {
            font-size: 11px;
          }
        }

      }
    }
  }
}

.delivery_place_add_wrap {
  padding: 20px;
  padding-bottom: 30px;

}