/*---------- 주문서 완료 시작 ----------*/
.order_complete_info {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .order_complete_num {
    color: #ff7474;
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 20px;
  }

  .order_complete_text {
    text-align: center;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
    padding-bottom: 20px;
  }

}

// M
@media screen and (max-width: 360px) {
  .order_complete_info {
    padding: 30px 20px;

    .order_complete_num {
      padding-bottom: 15px;
    }

    .order_complete_text {
      font-size: 18px;
      padding-bottom: 15px;
    }

  }
}

/*---------- 주문서 완료 end ----------*/