//폰트

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  src: local('Spoqa Han Sans Neo Bold'),
    url('/assets/fonts/SpoqaHanSans/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('/assets/fonts/SpoqaHanSans/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('/assets/fonts/SpoqaHanSans/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  src: local('Spoqa Han Sans Neo Regular'),
    url('/assets/fonts/SpoqaHanSans/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('/assets/fonts/SpoqaHanSans/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('/assets/fonts/SpoqaHanSans/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  src: local('Spoqa Han Sans Neo Medium'),
    url('/assets/fonts/SpoqaHanSans/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('/assets/fonts/SpoqaHanSans/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('/assets/fonts/SpoqaHanSans/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 300;
  src: local('Spoqa Han Sans Neo Light'),
    url('/assets/fonts/SpoqaHanSans/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('/assets/fonts/SpoqaHanSans/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('/assets/fonts/SpoqaHanSans/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 100;
  src: local('Spoqa Han Sans Neo Thin'),
    url('/assets/fonts/SpoqaHanSans/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
    url('/assets/fonts/SpoqaHanSans/SpoqaHanSansNeo-Thin.woff') format('woff'),
    url('/assets/fonts/SpoqaHanSans/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}

//색상
//주색
$primary-1000 : #eb7c94;
$primary-950 : #ff7474;
$primary-900 : #ff305d;
$primary-800 : #ff0143;
//보조색
$point-blue-deeq :#0042a7;
$point-blue : #0da4ff;
$point-green : #a5d5c7;
$point-red : #f5450c;

//보조색 그레이컬러
//보조색 그레이컬러 - 폰트
$color-title : #1c1c1c;
$color-strong : #333;
$color-sub: #606060;
$color-sub-m: #7b7b7b;
$color-sub-s: #909090;

$color-num: #1c1c1c;
$color-num-sub: #ccc;
$color-num-point: #ff305d;

$color-c: #ccc;
$color-a: #aaa;
$color-input-top: #ccc;

//보조색 그레이컬러 - 배경
$gray-bg-a : #fafafa;
$gray-bg-7 : #f7f7f7;
$gray-bg-8 : #f8f8f8;

//보조색 그레이컬러 - 라인
$box-line: #ddd;
$input-row-line: #eee;
$row-line: #eee;
$box-top-line:#f5f5f5;

//커버및 그림자
$cover : rgba(0, 0, 0, 0.15);
$shadow : rgba(117, 117, 117, 0.1);

//브레이크 포인트
// T & P 
@media screen and (min-width: 768px) {}

// M
@media screen and (max-width: 767px) {}

@media screen and (max-width: 400px) {}

// M
@media screen and (max-width: 360px) {}

@media screen and (max-width: 499px) {}