/* 검색 */
.top_search_input_wrap {
  width: calc(100% - 25px);
  float: right;
  padding-bottom: 8px;

  .search_input_wrap {
    display: flex;
    padding: 12px 0;
    width: 100%;
    height: 40px;

    .ico-search-gray-mini {
      margin: 0 5px 0 12px;
    }

    input {
      font-size: 14px;
      font-weight: normal;
      width: calc(100% - 50px);
    }
  }
}

.search_top_wrap {
  padding: 20px;
}

.search_box {
  padding: 0 20px;

  .search_box_tit {
    display: inline-block;
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;
    color: #1c1c1c;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .search_find_wrap {
    position: relative;

    .search_find_list {
      width: 100%;
      position: absolute;
      z-index: 1;
      height: calc(100vh - 250px);
      background-color: #fff;
      overflow-y: auto;

      li {
        .search_find_btn {
          display: block;
          width: 100%;
          min-height: 46px;
          padding: 5px 0;
          border-bottom: 1px solid #f7f7f7;
          text-align: left;

          .ico-search-gray-mini {
            opacity: 0.8;
            margin-right: 5px;
          }

          .btn_txt {
            opacity: 0.8;
            display: inline;
            color: #606060;
          }
        }
      }
    }
  }
}

.search_input_wrap {
  padding: 15px 0;
  background-color: #fafafa;
  border-radius: 12px;

  .ico-search-gray {
    margin: 0 2px 0 10px;
  }

  input {
    background-color: transparent;
    border-color: transparent;
    display: inline-block;
    width: calc(100% - 60px);
    font-size: 15px;
    color: #606060;
  }

  .btn {
    right: 10px;
  }
}

.search_bottom_wrap {
  padding: 50px 20px;
  position: relative;

  .recent_searches_tit {
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 15px;
  }

  .recent_searches_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    li {
      margin-right: 5px;
      margin-bottom: 8px;

      .recent_searches_btn {
        display: inline-block;
        border: 1px solid #f0f0f0;
        height: 30px;
        border-radius: 30px;

        span {
          line-height: 30px;
          padding: 8px 28px 8px 12px;
        }

        .btn {
          right: 10px;
        }
      }
    }
  }
}

/* 검색 상세 */
.search_tab_info {
  .detail_sub_title {
    font-size: 14px;
    padding-top: 30px;
    display: flex;
    align-items: center;

    .detail_sub_title_num {
      color: #1c1c1c;
    }
  }

  .veiw_more_btn {
    font-size: 13px;
    font-weight: normal;
    right: 20px;
    transform: translateY(0%);
  }

  .info_btn_list {
    right: 15px;
    transform: translateY(-0%);
    display: flex;

    li {
      display: inline-block;

      .goods_sub_btn {
        font-size: 13px;
        font-weight: normal;
        color: #a6a6a6;
        padding: 0 5px;
        display: inline-block;
      }

      &.on {
        .goods_sub_btn {
          color: #1c1c1c;
        }
      }

      &:after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 12px;
        background-color: #dedede;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .info_btn_list {
      right: 12px;
      transform: translateY(-10%);

      li {
        .goods_sub_btn {
          font-size: 12px;
        }
      }

    }
  }
}

.loduckpick_search_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;

  li {
    width: calc(50% - 5px);
    margin-bottom: 10px;
    flex: 0 0 1;

    .loduckpick_card {
      cursor: pointer;
      position: relative;
      display: block;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);

      .loduckpick_card_img_wrap {
        display: flex;

        .loduckpick_card_img {
          width: 50%;
          overflow: hidden;
          background-color: #000;

          img {
            width: auto;
          }
        }

      }

      .loduckpick_card_img {
        display: block;
        background-color: #000;

        img {
          max-height: 15em;
        }
      }

      .loduckpick_card_text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;
        height: 38px;
        width: 100%;

        span {
          color: rgba(255, 255, 255, 0.8);
          font-size: 11px;
          font-weight: normal;
          line-height: 1.2em;
          max-height: 2.2em;
          text-align: center;

          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      .card_text {
        color: rgba(255, 255, 255, 0.8);
        font-size: 11px;
        font-weight: normal;
        text-align: center;

        position: absolute;
        top: 25%;
        transform: translateY(-50%);
        padding: 0 10px;
        line-height: 1.2em;
        max-height: 3.2em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }

  }
}

@media screen and (max-width: 767px) {
  .loduckpick_search_list {
    li {
      .loduckpick_card {

        .loduckpick_card_img {
          max-height: 8em;

          img {
            max-height: 8em;
          }
        }
      }

    }
  }
}