<template>
  <div>
    <div class="popup_scroll">
      <h2>주문 상품정보에 동의</h2>
      <p>주문 상품의 상품명, 가격, 배송정보, 할인내역을 확인하였으며 이에 동의합니다.</p>
    </div>
    <div>
      <button class="pop_close_btn" type="button" name="button" @click="$termPopup.close">닫기</button>
    </div>
  </div>
</template>

<script>
export default {
name: "AccessTerms"
}
</script>

<style scoped>
.popup_scroll {
  width: 100%;
  height: 300px;
  padding: 10px;
  overflow-y: scroll;
}
.popup_scroll h2 {
  padding-left: 0px;
  padding: 10px 0;
  font-size: 1.1rem;
}

.popup_text p {
  font-size: 0.7rem;
  padding: 10px 0;
}

.pop_close_btn {
  width: 100%;
  height: 50px;
  border: none;
  border-top: 1px solid #ddd;
  background: #fff;
  margin-top: 1rem;
}

</style>