<template>
  <div class="popup_text">
    <div class="popup_scroll">
      <p>• 회사는 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.</p>
      <table class="unstyledTable" border="1">
        <thead>
        <tr>
          <th>수탁자</th>
          <th>위탁업무</th>
          <th>연락처</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>NHN KCP</td>
          <td>신용카드, 계좌이체, 간편결제(삼성페이등), 무통장입금(가상계좌) 등을 통한 결제 처리, 잔여금 부분 환불 처리</td>
          <td>02-2108-1000</td>
        </tr>
        <tr>
          <td>㈜시옷(ciot)</td>
          <td>NHN KCP 결제 환불을 위한 API 제공 및 고객 계좌 검증</td>
          <td>1670-5176</td>
        </tr>
        <tr>
          <td>NHN Payco</td>
          <td>Payco를 통한 결제처리</td>
          <td>1544-6891</td>
        </tr>
        <tr>
          <td>케이티하이텔(주)</td>
          <td>SMS(문자) 발송 및 알림 서비스</td>
          <td>1588-5668</td>
        </tr>
        <tr>
          <td>Amazon Web Service</td>
          <td>클라우드 서비스를 이용한 시스템 운영 및 데이터 보관</td>
          <td>aws-korea-privacy@amazon.com</td>
        </tr>
        <tr>
          <td>㈜플레이통</td>
          <td>CU결제모듈 연동</td>
          <td>1666-3009</td>
        </tr>
        </tbody>
      </table>
      <p>• 회사는 위탁 계약 체결 시 관련법령에 따라 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다<br> • 위탁업무의 내용이나 수탁자가 추가, 변경될 경우에는 지체 없이 관련 법령에 따른 사전 동의 안내 또는 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.
      </p>
      <p>• 회사는 정보주체의 개인정보를 ‘1. 개인정보 수집 목적 및 항목’에서 명시한 범위 내에서만 처리하며, 정보주체의 동의, 법률의 특별한 규정 등 개인정보 보호법 제17조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.<br> • 회사는 다음과 같이 개인정보를 제3자에게 제공하고 있습니다.
      </p>
      <table class="unstyledTable">
        <thead>
        <tr>
          <th>제공받는자</th>
          <th>제공목적</th>
          <th>제공항목</th>
          <th>보유 및 이용기간</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>러블리마켓 참가 업체 (http://www.fleapop.co.kr)</td>
          <td>판매자와 구매자의 거래의 원활한 진행, 본인의사의 확인, 고객 상담 및 불만처리, 상품과 경품 배송을 위한 배송지 확인 등</td>
          <td>이름, 휴대폰번호, 주소</td>
          <td>구매종료 후 3개월</td>
        </tr>
        </tbody>
      </table>
      <p>• 회사는 이용자의 개인정보를 사전동의 없이 제 3자에게 제공할 수 없습니다. 다만 다음의 경우에는 예외로 합니다.<br> o 통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우<br> o 관계법령에 의하여 국가기관으로부터 요구 받은 경우<br> o 범죄에 대한 수사상의 목적이 있거나, 정보통신 윤리위원회의 요청이 있는 경우<br> o 기타 관계법령에서 정한 절차에 따른 요청이 있는 경우
      </p>
    </div>
    <div>
      <button class="pop_close_btn" type="button" name="button" @click="$termPopup.close">닫기</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "PersonalData"
}
</script>

<style scoped>
.popup_scroll {
  width: 100%;
  height: 300px;
  padding: 10px;
  overflow-y: scroll;
}
.popup_scroll h2 {
  padding-left: 0px;
  padding: 10px 0;
  font-size: 1.1rem;
}

.popup_text p {
  font-size: 0.7rem;
  padding: 10px 0;
}

.pop_close_btn {
  width: 100%;
  height: 50px;
  border: none;
  border-top: 1px solid #ddd;
  background: #fff;
  margin-top: 1rem;
}
.popup_text th, .popup_text p, .popup_text td {
  font-size: 0.7rem;
  padding: 10px 0;
}
table.unstyledTable {
  border: 1px solid #DDDDDD;
  border-collapse: collapse;
}
</style>