<template>
  <div>
    <div>
      <div class="btn" @click="alert">Alert</div>
    </div>
    <div>
      <div class="btn" @click="confirm">Confirm</div>
    </div>
    <div>
      <div class="btn" @click="toast">Toast</div>
    </div>
    <div>
      <div class="btn" @click="htmlPop">slide up Popup</div>
    </div>
  </div>
</template>

<script>
import SampleHtml from '@/views/Layout/_Components/SampleHtml'
export default {
  name: "Component",
  methods: {
    toast () {
      this.$toast('Toast Message !!')
    },
    alert () {
      this.$alert('Alert Message !!')
    },
    confirm () {
      this.$confirm('Confirm Test').then((res) => {
        if (res === true) {
          this.$toast('True')
        } else {
          this.$toast('False')
        }
      })
    },
    htmlPop () {
      this.$LayerPop(SampleHtml)
    }
  }
}
</script>

<style scoped>
  .btn {
    padding: 3px 5px;
    margin-top: 3px;
    border: solid 1px #e0e0e0;
    cursor: pointer;
  }
</style>