.content_body.community {
    padding: 0;
}

/* 댓글 */
.comment_left_profile{
    width: 80%;
}
.fleapop_comment_child {
    padding: 0 0 5rem 0;
}

/* .fleapop_comment_body {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1111;
    max-width: 800px;
    margin: 0 auto;
    display: none;
} */

.comment_touch {
    width: 100%;
    max-width: 800px;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 1011;
    overflow: hidden;
    margin: 0 auto;
    display: none;
}

.fleapop_content_comment {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 90%;
    position: fixed;
    z-index: 1100;
    bottom: 0;
    background: #fff;
    overflow-y: scroll;
    display: none;
    /* text-align: center; */
}

.comment_header {
    width: 100%;
    max-width: 800px;
    text-align: center;
    background: #fff;
    z-index: 10;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    padding: 15px 0;
    margin: auto;
}

.comment_header span {
    font-size: 0.8rem;
    color: #eb7c94;
    padding: 0 3px;
}

.comment_header p {
    color: #111;
    font-size: 0.8rem;
}

.comment_header a {
    position: absolute;
    right: 35px;
}

.comment_body {
    padding: 2.5rem 0 6rem 0;
}

.fleapop_content_comment img {
    width: 25px;
    height: 25px;
    opacity: 0.6;
}

.following_people_list {
    width: 100%;
    display: flex;
    align-items: center;
}

.following_people_list .people_list_parent {
    width: 100%;
    display: flex;
    align-items: center;
}

.comment_select_list {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.people_list {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
}

.people_text {
    width: 80%;
    margin-left: 10px;
    line-height: 1.2rem;
}

.delete_update {
    display: flex;
}

.comment_delete {
    width: 16px;
    height: 16px;
    background-image: url('/image/remake/fleapop_comm/fp_b_delete.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.comment_update {
    width: 14px;
    height: 14px;
    background-image: url('/image/remake/fleapop_comm/fp_b_pen.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
}

/* //댓글 좋아요 */

.comment_like_btn {
    width: 25px;
    height: 25px;
    background-image: url('/image/remake/fleapop_comm/fp_b_heart.png');
    background-size: cover;
    background-position: center;
    opacity: 0.4;
}

.comment_like_btn.active {
    width: 25px;
    height: 25px;
    background-image: url('/image/remake/fleapop_comm/fp_p_heart_paint.png');
    background-size: cover;
    background-position: center;
    opacity: 1;
}

/* //자식 댓글 좋아요 */

.child_like_btn {
    width: 25px;
    height: 25px;
    background-image: url('/image/remake/fleapop_comm/fp_b_heart.png');
    background-size: cover;
    background-position: center;
    opacity: 0.4;
}

.child_like_btn.active {
    width: 25px;
    height: 25px;
    background-image: url('/image/remake/fleapop_comm/fp_p_heart_paint.png');
    background-size: cover;
    background-position: center;
    opacity: 1;
}

#comment_heart {
    position: absolute;
    right: 15px;
    text-align: center;
}

#comment_heart p {
    color: #999;
    font-size: 0.8rem;
}

#comment_heart p.active {
    color: #eb7c94;
    font-size: 0.8rem;
}

.re_comment_heart {
    position: absolute;
    right: 15px;
    text-align: center;
}

.re_comment_heart p {
    color: #999;
    font-size: 0.8rem;
}

.re_comment_heart p.active {
    color: #eb7c94;
    font-size: 0.8rem;
}

.comment_name {
    color: #111;
    font-size: 0.8rem;
    font-weight: bold;
}

.comment_text {
    width: 100%;
    color: #666;
    font-size: 0.85rem;
    word-break:break-all;
}

.comment_day {
    display:inline-block;
    color: #999;
    font-size: 0.8rem;
}

.comment_footer {
    width: 100%;
    max-width: 800px;
    position: fixed;
    bottom: 0;
    padding: 15px;
    background: #fff;
}

.moreAction {
    margin: 10px 0;
    width: 100%;
    display: block;
    /* height: 119px; */
    text-align: center;
    color: #eb7c94;
    font-size: 0.8rem;

}

.comment_footer button {
    position: absolute;
    top: 38%;
    right: 35px;
    border: none;
    background: none;
    font-size:1rem;
    color:#eb7c94;
    font-weight: bold;

}

.comment_reple {
    width: 100%;
    padding: 0 20px;
    border: 1px solid #999;
    border-radius: 30px;
}

.comment_reple input[type=text] {
    padding-left: 10px;
}

.comment_reple input {
    width: 85%;
    height: 45px;
    margin: 0 auto;
    border: none;
}

/* 공유하기 */
.pageUrl{
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}
.fleapop_content_share {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 10009;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    display: none;
    /* text-align: center; */
}

.fleapop_content_share.active {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 1001;
    bottom: 0;
    background: #fff;
    display: block;
    /* text-align: center; */
}
.share_close_box{
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
}

.share_box {
    width: 100%;
    background: #fff;
    position: absolute;
    padding-bottom: 2rem;
    bottom: 0;
    border-top: 1px solid #eee;
}

#share_close img {
    width: 25px;
    height: 25px;
    opacity: 0.6;
}

.share_header {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.share_header span {
    font-size: 0.8rem;
    color: #eb7c94;
    padding: 0 3px;
}

.share_header p {
    color: #111;
    font-size: 1rem;
}

.share_header a {
    position: absolute;
    right: 10px;
}

.share_content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    padding: 0 20px;
}

.share_content p {
    color: #666;
    font-size: 0.8rem;
}

.share_content img {
    width: 60px;
    margin: 0 10px;
}

.search_cancel {
    width: 100%;
    height: 40vh;
    position: absolute;
    z-index: 7;
}

.fleapop_main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #fff;
}

.fleapop_main_header img {
    width: 30px;
    height: 30px;
    opacity: 0.3;
}

.fleapop_header_menu {
    display: flex;
}

.right_search {
    width: 30px;
    height: 30px;
    opacity: 0.3;
    background-image: url('/image/remake/fleapop_comm/fp_b_search.png');
    background-size: cover;
}

.right_search.active {
    width: 30px;
    height: 30px;
    opacity: 1;
    background-image: url('/image/remake/fleapop_comm/fp_p_search.png');
    background-size: cover;
}

.right_filter {
    width: 30px;
    height: 30px;
    opacity: 0.3;
    margin-left: 10px;
    background-image: url('/image/remake/fleapop_comm/fp_b_filter.png');
    background-size: cover;
}

.right_filter.active {
    width: 30px;
    height: 30px;
    opacity: 1;
    margin-left: 10px;
    background-image: url('/image/remake/fleapop_comm/fp_p_filter.png');
    background-size: cover;
}

.search {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
}

/* ///////////////left_menu */

.left_menu_center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_menu_close {
    width: 100%;
    text-align: right;
    position: absolute;
    top: 15px;
    right: 15px;
}

.left_menu_close img {
    width: 35px;
}

.left_menu_profile {
    width: 100%;
    margin-top: 3.5rem;
}

.fleapop_picture {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    box-sizing: border-box;
    background-size: cover;
    background-position: 100% 10%;
}

.left_menu_profile p {
    color: #fff;
    margin-top: 10px;
    font-size: 1.1rem;
    text-align: center;
}

.left_menu_profile p a {
    color: #fff;
    margin-top: 10px;
    font-size: 1.1rem;
    text-align: center;
}

.left_menu_list {
    width: 100%;
    height: 100%;
    margin-top: 4.5rem;
    line-height: 3.8rem;
    text-align: center;
}

.left_menu_list li { margin: 0.5rem 0;}

.left_menu_list li a {
    font-size: 1.2rem;
    font-weight: normal;
    color: #fff;
}

.left_menu_list li a.active {
    color: #111;
    font-weight: bold;
}


.fleapop_lovely {
    width: 100%;
    height: 200px;
    margin: 20px 0;
    margin-bottom: 30px;
    background: #fcebef;
}

.fleapop_lovely .a {
    padding-top: 15px;
    padding-left: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #111;
}

.loveler_profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 10%;
}

.loveler_id p {
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 10px;
    color: #111;
}

.loveler_follow {
    margin-top: 5px;
    background: #fff;
    border: 1px solid #eb7c94;
    border-radius: 5px;
}

.loveler_follow.active {
    margin-top: 5px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 5px;
}

.loveler_follow p {
    padding: 3px 10px;
    font-size: 0.7rem;
    font-weight: bold;
    color: #eb7c94;
}

.loveler_follow.active p {
    padding: 3px 10px;
    font-size: 0.7rem;
    font-weight: bold;
    color: #999;
}

/* ////////////// */

@media screen and (max-width:500px) {

    .left_menu_list {
        width: 100%;
        margin-top: 1.5rem;
        line-height: 2.8rem;
        text-align: center;
    }
    .comment_select_list {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .comment_header a {
        position: absolute;
        right: 10px;
    }
}
@media screen and (max-width:320px) {
    .left_menu_list li a {
        font-size: 1rem;
        font-weight: normal;
        color: #fff;
    }
    .left_menu_list li{
        margin: 0;
    }
}
