
.store_seller_like{
    display: flex;
    align-items: center;
}
#like_count{
    color: #999;
    font-size: 0.85rem;
    font-weight: normal;
}
.swiper-wrapper a{
    width: 100%;
    height: 100%;
}
.seller_heart a{
    height: 20px;
}
.seller_heart {
    width: 25px;
    height: 25px;
    background-image: url('/image/remake/fleapop_comm/fp_b_heart.png');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}
.seller_heart.active {
    width: 25px;
    height: 25px;
    background-image: url('/image/remake/fleapop_comm/fp_p_heart_paint.png');
    background-size: cover;
    background-position: center;
}

.review_haeder_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.review_haeder_left a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_name {
    margin-left: 10px;
}

.review_haeder_left p {
    color: #999;
    font-weight: bold;
    font-size: 0.9rem;
}

.profile_img {
    width: 35px;
    height: 35px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.fleapop_review_content {
    width: 100%;
    height: 60vh;
}



.fleapop_review_utility {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    position: relative;
}

.fleapop_review_utility .utility_heart {
    width: 35px;
    height: 35px;
    background-image: url('/image/remake/fleapop_comm/fp_b_heart.png');
    background-size: cover;
    background-position: center;

}
.fleapop_review_utility .utility_heart.active {
    width: 35px;
    height: 35px;
    background-image: url('/image/remake/fleapop_comm/fp_p_heart_paint.png');
    background-size: cover;
    background-position: center;
}
.fleapop_review_utility .utility_reply {
    width: 35px;
    height: 35px;
    background-image: url('/image/remake/fleapop_comm/fp_b_reply.png');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

.fleapop_review_utility .utility_social {
    width: 30px;
    height: 30px;
    background-image: url('/image/remake/fleapop_comm/fp_b_social.png');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}
.fleapop_review_utility .utility_basket {
    width: 30px;
    height: 30px;
    background-image: url('/image/remake/mypage_img/fp_b_basket.png');
    background-size: cover;
    background-position: center;
    opacity: 0.7;

}
.store_feed_basket{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
}
.fleapop_review_utility a{
    display: flex;
    align-items: center;
}
.fleapop_review_text {
    width: 100%;
    padding: 0 20px 40px 20px;
    line-height: 1.6rem;
    border-bottom : 10px solid #eee;
    margin-bottom : 5rem;
}


.review_text_like {
    font-size: 0.8rem;
    font-weight: bold;
}

.review_text_like span {
    letter-spacing: -1px;
}

.review_filter {
    display: flex;
    align-items: center;
    padding: 20px;
}

.review_checkbox label {
    font-size: 0.9rem;
    color: #999;
    margin-right: 10px;
}

.review_checkbox_necessary label {
    font-size: 0.9rem;
    color: #999;
    margin-right: 10px;
}
.store_feed_like{
    display: flex;
    align-items: center;
    position: relative;
}
.store_feed_like p{
    font-size: 0.8rem;
    color: #999;
}
.store_feed_review{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.store_feed_review p{
    font-size: 0.8rem;
    color: #999;
}
.store_feed_social{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.store_goods_name{
    font-size: 1.3rem;
    color: #111;
    font-weight: bold;
    margin: 0.5rem 0;
}
.store_goods_info{
    font-size: 0.9rem;
    color: #999;
}
.product_price {
    font-size: 1.3rem;
    color: #999;
    text-decoration: line-through;
}

.product_sale {
    color: #eb7c94;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 5px;
}

.product_sale_price {
    font-size: 1.5rem;
    color: #111;
    font-weight: bold;

}
.lm_txt{
    font-size: 1rem;
    color: #eb7c94;
    font-weight: bold;
    padding : 30px 0 0 0;
    letter-spacing: -1px;
}
@media screen and (max-width:500px) {

    .fleapop_review_utility {
        display: flex;
        align-items: center;
        padding: 10px 20px 0 20px;
        position: relative;
    }
    .fleapop_review_text {
        width: 100%;
        padding: 0 20px 40px 20px;
        line-height: 1.6rem;
        border-bottom: 10px solid #eee;
        margin-bottom: 2.5rem;
    }
    .store_feed_basket{
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
    }
    .review_haeder_left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
    }
    .store_goods_name{
        font-size: 1rem;
        color: #111;
        font-weight: bold;
        letter-spacing: -1px;
    }
    .product_price {
        font-size: 1.1rem;
        color: #999;
        text-decoration: line-through;
    }

    .product_sale {
        color: #eb7c94;
        font-size: 1.3rem;
        font-weight: bold;
        padding: 0 5px;
        letter-spacing: -2px
    }

    .product_sale_price {
        font-size: 1.5rem;
        color: #111;
        font-weight: bold;
        letter-spacing: -2px
    }
}
