<template>
  <div v-show="isShow" class="alert-body">
    <div class="dim-layer"></div>
    <div class="alert is-middle">
      <div class="container100 ph-15 pv-30 overflow-y " style="max-height:500px;min-height: 100px">
        <div :class="textAlignClass" v-html="replaceNewLine(message)"></div>
      </div>

      <div class="container100 ta-c cf">
        <button class="ta-c hp-50 lh-50px fs-17 fw-500 bdr-00 btn-35-normal bg-grey fc-w" :class="[colspanClass, displayConfirmClass]" @click="onCancel">{{ label.CANCEL }}</button>
        <button class="ta-c hp-50 lh-50px fs-17 fw-500 bdr-00 btn-35-sky" :class="[colspanClass]" @click="onConfirm">{{ label.OK }}</button>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'UIAlert',
  components: {},
  props: {
    type: {
      type: String,
      default: 'alert'
    },
    message: {
      type: String,
      default: '테스트',
      require: true
    },
    title: {
      type: String,
      default: ''
    },
    label: {
      type: Object,
      default: () => {
        return {OK: '확인', CANCEL: '취소'}
      }
    },
    isRequireOneSelected: { // 버튼 YES or NO 필수로 선택해야할 경우 dim 영역 Close나 닫기 버튼 무시
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      isComplete: null,
      isShow: false,
      resolve: null,
      reject: null
    }
  },
  computed: {
    buttonClassList () { // 안씀 - 2020.04.17 공통 팝업 버튼 색깔 지정
      let arr = ['btn-35-normal bg-white', 'btn-35-normal bg-white']
      if (this.label.OK !== '확인' || this.label.CANCEL !== '취소') {
        arr = ['btn-35-normal fc-w', 'btn-35-sky']
      }
      return arr
    },
    textAlignClass () {
      let c = 'ta-c'
      if (this.isCheckRegExpMsg()) {
        c = ''
      }
      return c
    },
    colspanClass () {
      let c = 'col-6'
      if (this.type === 'alert') {
        c = 'col-12'
      }
      return c
    },
    displayConfirmClass () {
      let c = ''
      if (this.type === 'alert') {
        c = 'dp-n'
      }
      return c
    },
    displayTitle () {
      let title = ''
      if (this.title === '') {
        /* if (this.type === 'alert') {
          title = '알림'
        } else if (this.type === 'confirm') {
          title = '확인'
        } */
        title = '알림' // 2020.04.29 둘다 알림으로 해달라는 요청이 있어서 변경함
      } else {
        title = this.title
      }
      return title
    }
  },
  methods: {
    isCheckRegExpMsg () {
      const reg = new RegExp(/(<([^>]+)>)/ig)
      const msg = this.message
      let isRegCheck = false
      if (msg.match(reg)) {
        isRegCheck = true
      }
      return isRegCheck
    },
    open () {
      return new Promise((resolve, reject) => {
        this.isShow = true
        this.resolve = resolve
        this.reject = reject
      })
    },
    close () { // animation close
      console.log('UIAlert::close')
      this.resolve(this.isComplete)
      this.isShow = false
      setTimeout(() => {
        this.$destroy()
        this.removeElement(this.$el)
      }, 150)
    },
    removeElement (el) {
      if (typeof el.remove !== 'undefined') {
        el.remove()
      } else {
        el.parentNode.removeChild(el)
      }
    },
    onConfirm () {
      this.isComplete = true
      this.closeComplete()
    },
    onCancel () {
      this.isComplete = false
      this.closeComplete()
    },
    onClose () {
      console.log('SsPop emit >>>> :: close')
      this.isComplete = null
      this.closeComplete()
    },
    closeComplete () {
      this.close()
    },
    replaceNewLine (str) {
      if (typeof str !== 'string') return str
      if (this.isCheckRegExpMsg()) return str
      return str.replace(/(?:\r\n|\r|\n)/g, '<br/>')
    }
  }
}
</script>

<style lang="scss" scoped>
$alert-colors: () !default;
$alert-colors: map-merge(
    (
      "warning": rgba(0, 0, 0, 0.8),
      "success": #28a745, // Test
      "default": rgba(0, 0, 0, 0.8)
    ),
    $alert-colors
);

  .alert-body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
  }

  .alert {
    position: fixed;
    width: calc(100% - 20px);
    padding: 6px 15px;
    border-radius: 4px;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #ffffff;
    min-height: 100px;
    max-width: 400px;
  }
  @each $color, $value in $alert-colors { // Colors
    .#{$color}-msg {
      color: #fff;
      background-color: $value;
    }
  }
  .is-top { top: 15%; left: 50%; }
  .is-middle { top: 50%; left: 50%; }
  .is-bottom { top: 85%; left: 50%; }

  .fade-enter-active, .fade-leave-active { transition: opacity .2s ease-in; opacity: 1}
  .fade-enter, .fade-leave-to { transition: opacity .2s ease-out; opacity: 0}

  .dim-layer{position:fixed; width:100%; height:100%; top:0; left:0; z-index: 990; background-color:#000; opacity: 0.4;}
  .dp-n {
    display: none;
  }
</style>
