<template>
  <lm-popup-layer :is-pop.sync="isShow" >
    <template v-if="term_type === 'personal'">
      <personal-data/>
    </template>
    <template v-else>
      <access-terms/>
    </template>
  </lm-popup-layer>
</template>

<script>
  import AccessTerms from "@/views/Terms/AccessTerms";
  import PersonalData from "@/views/Terms/PersonalData";
  import Vue from 'vue'
  export default {
    name: "TermsPopup",
    components: {AccessTerms, PersonalData},
    data () {
      return {
        isShow: false,
        term_type: ''
      }
    },
    created() {
      Vue.prototype.$termPopup = this.open
      Vue.prototype.$termPopup.close = this.close
    },
    methods: {
      open (term_type) {
        this.term_type = term_type
        this.isShow = true
      },
      close () {
        console.log('$termPopup.close')
        this.isShow = false
      }
    }
  }
</script>

<style scoped>

</style>