<template>
  <lm-popup-layer
    :is-pop.sync="isShow"
    :title="displayTitle"
    :is-background-click-close="!isRequireOneSelected"
     
    @close="onClose"
  >
    <div>
      <div class="container100 ph-15 pv-30 overflow-y" style="max-height:500px;">
        <div :class="textAlignClass" v-html="replaceNewLine(message)"></div>
      </div>

      <div class="container100 ta-c cf">
        <button class="ta-c hp-50 lh-50px fs-17 fw-500 bdr-00 btn-35-normal bg-grey fc-w" :class="[colspanClass, displayConfirmClass]" @click="onCancel">{{ label.CANCEL }}</button>
        <button class="ta-c hp-50 lh-50px fs-17 fw-500 bdr-00 btn-35-sky" :class="[colspanClass]" @click="onConfirm">{{ label.OK }}</button>
      </div>
    </div>

  </lm-popup-layer>
</template>

<script>
/**
 * @doc (gitlab wiki)
 * https://git.smartscore.kr/smartscore-personal/smartscore-psn4/-/wikis/1.%EA%B3%B5%ED%86%B5/1.%EC%BB%B4%ED%8F%AC%EB%84%8C%ED%8A%B8/UIAlert
 **/
export default {
  name: 'UIAlert',
  components: {},
  props: {
    type: {
      type: String,
      default: 'alert'
    },
    message: {
      type: String,
      default: '테스트',
      require: true
    },
    title: {
      type: String,
      default: ''
    },
    label: {
      type: Object,
      default: () => {
        return {OK: '확인', CANCEL: '취소'}
      }
    },
    isRequireOneSelected: { // 버튼 YES or NO 필수로 선택해야할 경우 dim 영역 Close나 닫기 버튼 무시
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      isComplete: null,
      isShow: false,
      resolve: null,
      reject: null
    }
  },
  computed: {
    buttonClassList () { // 안씀 - 2020.04.17 공통 팝업 버튼 색깔 지정
      let arr = ['btn-35-normal bg-white', 'btn-35-normal bg-white']
      if (this.label.OK !== '확인' || this.label.CANCEL !== '취소') {
        arr = ['btn-35-normal fc-w', 'btn-35-sky']
      }
      return arr
    },
    textAlignClass () {
      let c = 'ta-c'
      if (this.isCheckRegExpMsg()) {
        c = ''
      }
      return c
    },
    colspanClass () {
      let c = 'col-6'
      if (this.type === 'alert') {
        c = 'col-12'
      }
      return c
    },
    displayConfirmClass () {
      let c = ''
      if (this.type === 'alert') {
        c = 'dp-n'
      }
      return c
    },
    displayTitle () {
      let title = ''
      if (this.title === '') {
        /* if (this.type === 'alert') {
          title = '알림'
        } else if (this.type === 'confirm') {
          title = '확인'
        } */
        title = '알림'
      } else {
        title = this.title
      }
      return title
    }
  },
  methods: {
    isCheckRegExpMsg () {
      const reg = new RegExp(/(<([^>]+)>)/ig)
      const msg = this.message
      let isRegCheck = false
      if (msg.match(reg)) {
        isRegCheck = true
      }
      return isRegCheck
    },
    open () {
      return new Promise((resolve, reject) => {
        this.isShow = true
        this.resolve = resolve
        this.reject = reject
      })
    },
    close () { // animation close
      console.log('UIAlert::close')
      this.resolve(this.isComplete)
      this.isShow = false
    },
    removeElement (el) {
      if (typeof el.remove !== 'undefined') {
        el.remove()
      } else {
        el.parentNode.removeChild(el)
      }
    },
    onConfirm () {
      this.isComplete = true
      this.closeComplete()
    },
    onCancel () {
      this.isComplete = false
      this.closeComplete()
    },
    onClose () {
      console.log('SsPop emit >>>> :: close')
      this.isComplete = null
      this.closeComplete()
    },
    closeComplete () {
      this.close()
    },
    replaceNewLine (str) {
      if (typeof str !== 'string') return str
      if (this.isCheckRegExpMsg()) return str
      return str.replace(/(?:\r\n|\r|\n)/g, '<br/>')
    }
  }
}
</script>

<style lang="scss" scoped>
  .dp-n {
    display: none;
  }
</style>
