<template>
  <div class="barket_success" id="barket_success" v-show="isShow">
    <div class="barket_success_text">
      <img src="@/assets/image/icon/fp_w_check.png" alt="" width="30%;">
      <p style="color: #fff !important;" v-html="msg">
      </p>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  export default {
    name: "UIMessage",
    data () {
      return {
        isShow: false,
        msg: ''
      }
    },
    created() {
      Vue.prototype.$msgFullPage = this.open
    },
    methods: {
      open (msg) {
        this.msg = msg
        this.isShow = true
        setTimeout(() => {
          this.isShow = false
        }, 1000)
      }
    }
  }
</script>

<style scoped>
.barket_success {
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  background: #eb7c94;
  opacity: 0.9;
  position: fixed;
  z-index: 11111;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barket_success_text {
  color: #fff !important;
  text-align: center;
  line-height: 1.6rem;
}

.purchase_success {
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  background: #eb7c94;
  opacity: 0.9;
  position: fixed;
  z-index: 11111;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purchase_success_text {
  color: #fff;
  text-align: center;
  line-height: 1.6rem;
}
</style>