<template>
  <lm-popup-layer :is-pop.sync="isShow" >
      <div class="popup_option_wrap">
        <div class="popup_content_wrap">
          <strong class="popup_title" v-if="title">
            {{ title }}
          </strong>
          <div class="division_line" v-if="title"></div>

          <div class="radio_option" v-if="type === 'normal'" :class="selectItemIdx === idx ? 'active' : ''" v-for="(item, idx) in optionsLabel" :key="idx" :id="selectItemIdx === idx ? 'selAreaItemFocus' : 'item' + item" @click.once="select(idx)">
            <label :for="'return_request' + idx" >
              {{item}}
              <input type="radio" :value="item" :id="'return_request' + idx" :checked="selectItemIdx === idx">
              <i></i>
            </label>
          </div>
          <div class="radio_option" v-if="type === 'store'" :class="selectItemIdx === idx ? 'active' : ''" v-for="(item, idx) in optionsLabel" :key="idx" :id="selectItemIdx === idx ? 'selAreaItemFocus' : 'item' + item" @click.once="optionsValue[idx].hasOwnProperty('stock') && optionsValue[idx].stock.toString() === '0' ? '' : select(idx)">
            <label :for="'return_request' + idx" :class="optionsValue[idx].hasOwnProperty('stock') && optionsValue[idx].stock.toString() === '0' ? 'color-c' : ''">
              {{item}} {{optionsValue[idx].hasOwnProperty('stock') && optionsValue[idx].stock.toString() === '0' ? '[품절]' : ''}}
              <input type="radio" :value="item" :id="'return_request' + idx" :disabled="optionsValue[idx].hasOwnProperty('stock') && optionsValue[idx].stock.toString() === '0'" :checked="selectItemIdx === idx">
              <i></i>
            </label>
          </div>
        </div>
      </div>
  </lm-popup-layer>
</template>

<script>

import Vue from 'vue'
import _ from 'lodash'
export default {
  name: "UISelect",
  data () {
    return {
      isShow: false,
      selectItemIdx: 0,
      title: '선택',
      parentTarget: null,
      optionsLabel: [],
      optionsValue: [],
      parentData: null,
      setDataObjkey: [],
      valkey: '',
      def: '',
      backButtonUuid: null,
      type: 'normal'
    }
  },
  created () {
    Vue.prototype.$selectPopup = this.getSelectPopup
    Vue.prototype.$selectPopup.close = this.close
  },
  methods: {
    select (idx) {
      this.selectItemIdx = idx
      this.parentTarget.value = this.optionsValue[idx][this.valkey]
      if (this.setDataObjkey.length === 3) {
        this.parentData[this.setDataObjkey[0]][this.setDataObjkey[1]][this.setDataObjkey[2]] = this.optionsValue[idx][this.valkey]
      } else if (this.setDataObjkey.length === 2) {
        if (this.$route.name === 'TeamCreate' || this.$route.name === 'TeamDetailSetup') {
          let temp = this.setDataObjkey[0].split('[')
          if (temp.length === 2) {
            let temp1 = temp[1].split(']')
            this.parentData.areaList[temp1[0]].selectGugun = this.optionsValue[idx][this.valkey]
            this.$bus.$emit('selectPopup_select')
            this.$bus.$emit('selectPopupCreate_select', this.optionsValue[idx][this.valkey])
          } else {
            this.parentData[this.setDataObjkey[0]][this.setDataObjkey[1]] = this.optionsValue[idx][this.valkey]
            this.$bus.$emit('selectPopupCreate_select', this.optionsValue[idx][this.valkey])
          }
        } else if (this.$route.name === 'Team2Create' || this.$route.name === 'Team2DetailSetup') {
          let temp = this.setDataObjkey[0].split('[')
          if (temp.length === 2) {
            let temp1 = temp[1].split(']')
            this.parentData.areaList[temp1[0]].selectGugun = this.optionsValue[idx][this.valkey]
            this.$bus.$emit('selectPopupCreate_select', this.optionsValue[idx][this.valkey])
          } else {
            this.parentData[this.setDataObjkey[0]][this.setDataObjkey[1]] = this.optionsValue[idx][this.valkey]
            this.$bus.$emit('selectPopupCreate_select', this.optionsValue[idx][this.valkey])
          }
        } else if (this.$route.name === 'Team2Create' || this.$route.name === 'Team2DetailSetup') {
          let temp = this.setDataObjkey[0].split('[')
          if (temp.length === 2) {
            let temp1 = temp[1].split(']')
            this.parentData.areaList[temp1[0]].selectGugun = this.optionsValue[idx][this.valkey]
            this.$bus.$emit('selectPopupCreate_select', this.optionsValue[idx][this.valkey])
          } else {
            this.parentData[this.setDataObjkey[0]][this.setDataObjkey[1]] = this.optionsValue[idx][this.valkey]
            this.$bus.$emit('selectPopupCreate_select', this.optionsValue[idx][this.valkey])
          }
        } else if (this.$route.name === 'Team2Create' || this.$route.name === 'Team2DetailSetup') {
          let temp = this.setDataObjkey[0].split('[')
          if (temp.length === 2) {
            let temp1 = temp[1].split(']')
            this.parentData.areaList[temp1[0]].selectGugun = this.optionsValue[idx][this.valkey]
            this.$bus.$emit('selectPopupCreate_select', this.optionsValue[idx][this.valkey])
          } else {
            this.parentData[this.setDataObjkey[0]][this.setDataObjkey[1]] = this.optionsValue[idx][this.valkey]
            this.$bus.$emit('selectPopupCreate_select', this.optionsValue[idx][this.valkey])
          }
        } else {
          if (this.modelIdx !== null) {
            this.parentData[this.setDataObjkey[0]][this.modelIdx][this.setDataObjkey[1]] = this.optionsValue[idx][this.valkey]
          } else {
            this.parentData[this.setDataObjkey[0]][this.setDataObjkey[1]] = this.optionsValue[idx][this.valkey]
          }
        }
      } else if (this.setDataObjkey.length === 1) {
        this.parentData[this.setDataObjkey[0]] = this.optionsValue[idx][this.valkey]
      }
      this.isShow = false
      // setTimeout(() => {
      //   this.isShow = false
      //   // this.$historyRemoveAtCount(1)
      //   // history.remove(this.backButtonUuid)
      // }, 50)
    },
    close () {
      if (this.isShow) {
        // this.$historyReset()
        this.isShow = false
        // this.$historyRemoveAtCount(1)
      }
    },
    getSelectPopup (optionList, labelKey, valueKey, title, setData, event, parentData, def, modelIdx = null, type = 'normal') {
      console.log('getSelectPopup::', this)
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        setTimeout(() => { document.activeElement.blur() }, 1)
      }
      this.isShow = true
      this.title = title
      this.optionsLabel = []
      this.optionsValue = []
      this.setDataObjkey = []
      this.setDataObjkey = setData.split('.')
      this.def = def
      this.modelIdx = null
      this.type = type

      if (modelIdx !== null) {
        this.modelIdx = modelIdx
      }

      for (let item of [...optionList]) {
        this.optionsLabel.push(item[labelKey])
        this.optionsValue.push(item)
      }

      this.valkey = valueKey

      this.parentTarget = event.target
      this.parentData = parentData

      let result = {}
      let temp = {}
      let keys
      let objValType = ''
      let final = ''

      for (let property in this.parentData) {
        keys = this.setDataObjkey
        temp = result
        for (var i = 0; i < keys.length - 1; i++) {
          if (temp[keys[i]] === undefined || temp[keys[i]] === null) {
            temp[keys[i]] = {}
          }
          temp = temp[keys[i]]
        }
        if (property === keys[i]) {
          temp[keys[i]] = this.parentData[property]
          objValType = typeof (this.parentData[property])
          // 입력대행 동반자 티 입력할때 에러나서 임시방편으로 수정
          if (keys.length === 3) {
            if (this.parentData[property][keys[1]][keys[2]] != null || this.parentData[property][keys[1]][keys[2]] !== undefined) {
              final = parentData[property][keys[1]][keys[2]]
              objValType = typeof (final)
              break
            }
          }
        } else if (property !== keys[i] && keys.length === 2) {
          if (this.$route.name === 'TeamCreate' || this.$route.name === 'TeamDetailSetup') {
            let temp = this.setDataObjkey[0].split('[')
            if (temp.length === 2) {
              if (this.parentData[property][keys[i]] != null || this.parentData[property][keys[i]] !== undefined) {
                final = parentData[property][keys[i]]
                objValType = typeof (final)
                break
              }
            } else {
              if (this.parentData[keys[i - 1]][keys[i]] != null || this.parentData[keys[i - 1]][keys[i]] !== undefined) {
                final = parentData[keys[i - 1]][keys[i]]
                objValType = typeof (final)
                break
              }
            }
          } else {
            // 수정
            if (this.parentData[keys[i - 1]][keys[i]] != null || this.parentData[keys[i - 1]][keys[i]] !== undefined) {
              final = parentData[keys[i - 1]][keys[i]]
              objValType = typeof (final)
              break
            }
          }
        }
      }
      if (objValType === 'number') {
        this.selectItemIdx = _.findIndex(this.optionsValue, {[this.valkey]: Number(event.target.value)})
      } else {
        this.selectItemIdx = _.findIndex(this.optionsValue, {[this.valkey]: event.target.value})
      }
      // this.$historyPush(this.close)
      // console.log('selectPopup::backButtonUuid::', this.backButtonUuid)
      // this.backButtonUuid = history.push({name: 'selectPopup', action: this.close})
      // this.$historyReset()
    }

  }
}
</script>

<style lang="less" scoped>
.popup_option_wrap {
  max-height: 70vh;
  overflow: auto;
}
</style>