<template>
<!--  <transition name="fade">-->
  <!-- 2020.06.04 mode=in-out 넣어줘야지 트랜지션이 됨 -->
  <transition mode="in-out">
    <div v-show="isActive" class="toast-body">
      <div class="dim-layer"></div>
      <div class="toast fs-14"
        :class="[`${type}-msg`, `is-${position}`]"
        @click="onClick"
        v-html="replaceNewLine(message)"
      ></div>
    </div>
  </transition>
</template>

<script>

export default {
  name: 'UIToast',
  props: {
    message: {
      type: String,
      default: '',
      required: true
    },
    type: {
      type: String,
      default: 'default'
    },
    position: {
      type: String,
      default: 'middle'
    },
    duration: {
      type: Number,
      default: 1000
    },
    onClose: {
      type: Function,
      default: () => {}
    }
  },
  data () {
    return {
      isActive: false
    }
  },
  mounted () {
    this.open()
  },
  methods: {
    open () {
      this.isActive = true
      this.timer = setTimeout(() => this.close(), this.duration)
    },
    close () {
      clearTimeout(this.timer)
      this.isActive = false
      this.onClose.apply(null, arguments)

      setTimeout(() => {
        this.$destroy()
        this.removeElement(this.$el)
      }, 150)
    },
    removeElement (el) {
      if (typeof el.remove !== 'undefined') {
        el.remove()
      } else {
        el.parentNode.removeChild(el)
      }
    },
    onClick () {
      this.close()
    },
    replaceNewLine (str) {
      if (typeof str !== 'string') return str
      return str.replace(/(?:\r\n|\r|\n)/g, '<br/>')
    }
  }
}
</script>

<style lang="scss" scoped>
  $toast-colors: () !default;
  $toast-colors: map-merge(
      (
        "warning": rgba(0, 0, 0, 0.8),
        "success": #28a745, // Test
        "default": rgba(0, 0, 0, 0.8)
      ),
      $toast-colors
  );

  .toast-body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
  }

  .toast {
    position: fixed;
    width: calc(100% - 20px);
    padding: 6px 15px;
    border-radius: 4px;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 999;
    max-width: 300px;
  }
  @each $color, $value in $toast-colors { // Colors
    .#{$color}-msg {
      color: #fff;
      background-color: $value;
    }
  }
  .is-top { top: 15%; left: 50%; }
  .is-middle { top: 50%; left: 50%; }
  .is-bottom { top: 85%; left: 50%; }

  .fade-enter-active, .fade-leave-active { transition: opacity .2s ease-in; opacity: 1}
  .fade-enter, .fade-leave-to { transition: opacity .2s ease-out; opacity: 0}
  .dim-layer {opacity: 0}
</style>
