<template>
  <div class="container" style="z-index: 10;" >
    <div class="post_frame"></div>
  </div>
</template>

<script>
  import Native from '@/lib/native'
  export default {
    name: "postPopup",
    data () {
      return {
        osType: ''
      }
    },
    created () {
      this.osType = Native.getOsType()
    },
    mounted () {
      // let _this = this
      (function (global, document, tag, url, a, m) {
        a = document.createElement(tag)
        m = document.getElementsByTagName(tag)[0]
        a.src = url
        m.parentNode.replaceChild(a, m)
        // m.parentNode.removeChild(m);
        // })(window, document, 'script', '//dmaps.daum.net/map_js_init/postcode.v2.js')
      })(window, document, 'script', 'https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js?autoload=false', $(this.$el).find('.container')[0])


      setTimeout(() => {
        this.open()
      }, 300)

    },
    methods: {
      open () {
          window.daum.postcode.load(() => {
            new window.daum.Postcode({
              submitMode: false,
              oncomplete: (data) => {
                let rtn = {
                  zipcode: data.zonecode,
                  roadAddress: data.roadAddress,
                  buildingName: data.buildingName
                }
                if (this.osType === 'ios') {
                  webkit.messageHandlers.callbackHandler.postMessage(rtn)
                } else if (this.osType === 'android') {
                  window.TestApp.setAddress(data.zonecode, data.roadAddress, data.buildingName)
                }
              },
              width: '100%',
              height: '100%'
            }).embed($(this.$el).find('.post_frame')[0])
          })
      }
    }
  }
</script>

<style scoped>
  .post_frame {
    display: block;
    border: 0px solid;
    width: 100vw;
    height: 100vh;
    margin: 5px 0px;
    position: relative;
    left: 0px;
    top: 0px;
  }
</style>