.hide {
    display:none;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    word-break: keep-all;
}

input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

select {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
/* @font-face{
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
    unicode-range:U+0030-0039;
    font-weight: bold;
} */

html, body {
    min-height: 100%;
    max-width: 800px;
    height: 100%;
    background-color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    overflow: hidden;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-home {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 10;
}



input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    width: 100%;
    height: 50px;
    padding-left: 0.8em;
    background: url('../image/icon/s_icon4.png') no-repeat 99% 50%;
    background-size: 25px;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

select, input {
    font-size: .9rem;
}

.sub_text::-webkit-scrollbar {
    width: 7px;
}

.sub_text::-webkit-scrollbar-track {
    background: #dddddd;
}

.sub_text::-webkit-scrollbar-thumb {
    background: #eb7c94;
    border-radius: 10px;
}

.body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    /*max-width: 800px;*/
    margin: 0 auto;
    /* position: relative; */
}

.content_body {
    padding: 6.3em 0 4rem 0;
    width: 100%;
    /* height: 100%; */
    min-height: 100%;
    margin: 0 auto;
    background: #fff;
    max-width: 800px;
}

.header {
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 1099;
}

.header.active {
    background: #eb7c94;
}

.header .sub {
    /* height: 100%; */
    /* 익스플로러 때문에 주석 */
}

.header .sub .info {
    height: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
}

.info_back {
    height: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    border-bottom: 1px solid #dddddd;
}

.info_back_btn {
    position: absolute;
    left: 10px;
    cursor: pointer;
    top: 10px;
}

.info_back_title {
    color: #333;
    font-weight: 600;
}

.info_back_btn img {
    width: 25px;
    height: 25px;
}

/* //////////// 마켓 검은색 헤더*/
.lm_header {
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    background-color: #111;
    position: fixed;
    top: 0;
    z-index: 1008;
}

.info_back_b {
    height: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-bottom: 1px solid #666;
}

.info_back_b a {
    position: absolute;
    left: 10px;
    top: 10px;
}

.info_black_title {}

.info_black_btn img {
    width: 25px;
    height: 25px;
}

.b_sub_header {
    width: 100%;
    max-width: 800px;
    min-height: 50px;
    height: 50px;
    background-color: #111;
    z-index: 1008;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.b_sub_header p {
    color: #999;
}

.b_sub_header>div {
    width: 33.333333%;
}

.b_header_info a.active p, .b_header_seller a.active p, .b_header_feed a.active p {
    color: #fff;
    font-weight: bold;
}

/* .info img.active{
background-image: url('../image/header_footer_icon/pc_footer_001.png');
} */
.header_arrow {
    width: 25px;
    height: 25px;
    background-image: url('../image/header_footer_icon/header_bottom.png');
    background-size: cover;
}

#header_arrow.active {
    background-image: url('../image/header_footer_icon/header_top.png');
}

.drop {
    width: 100%;
    max-width: 800px;
    height: 100%;
    background: #eb7c94;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10099;
}

.drop ul {
    width: 100%;
    padding: 0 0 5em 0;
}

.drop ul li {
    width: 100%;
    line-height: 3.2em;
    color: #ffffff;
    text-align: center;
}

.drop ul li a.active {
    color: #111;
}

.drop ul li a.active p {
    width: 22px;
    height: 21px;
    background-image: url('../image/remake/header_footer_icon/drop_check.png');
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

.drop ul li a {
    color: #ffffff;
    font-size: 1.2em;
}

.info p {
    padding: 0 .5em 0 0;
    font-weight: bold;
    color: #333;
}

.header .sub .info.active {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    border: none;
}

.info.active p {
    color: #ffffff;
    padding: 0 .5em 0 0;
    font-weight: bold;
}

.sub_text {
    width: 100%;
    overflow: inherit;
    background: #ffffff;
    /*box-shadow: 0px 4px 3px -2px #f6f6f6;*/
    border-bottom: 1px solid #eee;
}

.sub_text .info_text {
    width: auto;
    /* height: 100%; */
    display: flex;
    align-items: center;
    padding: 1em 0.5rem;
}

.info_text .active p {
    font-size: 0.9rem;
    color: #eb7c94;
}

.info_text p {
    /* padding: 0 0.5em 0 0; */
    margin-right: 20px;
    color: #999999;
    font-size: 0.9rem;
}

.footer {
    width: 100%;
    max-width: 800px;
    min-height: 55px;
    height: 55px;
    position: fixed;
    bottom: 0;
    background: #ffffff;
    border-top: 1px solid #ddd;
    z-index: 999;
}

.footer .icon {
    width: 100%;
    height: 100%;
    display: flex;
}

.icon a {
    width: 33.33333%;
}

.icon .footer_icon {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.footer_icon.active {
    border-top: 2px solid #eb7c94;
    color: #111111;
}

.footer_icon.active span {
    color: #111111;
}

.footer_text {
    color: #999999;
    font-size: 0.7rem;
    padding: 0.5em 0 0 0;
}

.position {
    width: 22px;
    height: 22px;
    background-size: cover;
    background-position: center;
}

.fleapop {
    background-image: url('../image/header_footer_icon/footer-001.png');
}

.market {
    background-image: url('../image/header_footer_icon/footer-002.png');
}

.uproad {
    background-image: url('../image/header_footer_icon/footer-003.png');
}

.store {
    background-image: url('../image/header_footer_icon/footer-004.png');
}

.mypage {
    background-image: url('../image/header_footer_icon/footer-005.png');
}

.footer_icon.active #fleapop {
    background-image: url('../image/header_footer_icon/footer-001-2.png');
}

.footer_icon.active #market {
    background-image: url('../image/header_footer_icon/footer-002-2.png');
}

.footer_icon.active #upload {
    background-image: url('../image/header_footer_icon/footer-003-2.png');
}

.footer_icon.active #stroe {
    background-image: url('../image/header_footer_icon/footer-004-2.png');
}

.footer_icon.active #mypage {
    background-image: url('../image/header_footer_icon/footer-005-2.png');
}

.icon_right {
    display: flex;
}

.icon_right {
    float: right;
    padding: 0 1em 0 0;
}

.icon_right .sns {
    margin-right: 1em;
    border-radius: 50px;
}

.icon_right .sns img {}

.follow_btn {
    padding: 2px 15px;
    border-radius: 5px;
    border: 1px solid #eb7c94;
}

.follow_btn p {
    color: #eb7c94;
    font-size: 0.8rem;
}

.follow_btn.active {
    padding: 2px 15px;
    border-radius: 5px;
    border: 1px solid #666;
}

.follow_btn.active p {
    color: #666;
    font-size: 0.8rem;
}

/* /////장바구니 */
.barket_success {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    background: #eb7c94;
    opacity: 0.9;
    position: fixed;
    z-index: 11111;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barket_success_text {
    color: #fff;
    text-align: center;
    line-height: 1.6rem;
}

.purchase_success {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    background: #eb7c94;
    opacity: 0.9;
    position: fixed;
    z-index: 11111;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purchase_success_text {
    color: #fff;
    text-align: center;
    line-height: 1.6rem;
}

.barket_page {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    background: #111;
    opacity: 0.9;
    position: fixed;
    z-index: 11111;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barket_page_text {
    color: #fff;
    text-align: center;
    line-height: 1.6rem;
}

input[type="checkbox"] {
    display: none;
}

.login_checkbox label {
    font-weight: normal;
    color: #666;
    font-size: .9rem;
}

input[type="checkbox"]+label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -2px 8px 0 0;
    vertical-align: middle;
    background: url('../image/remake/checkbox.png') left top no-repeat;
    background-size: cover;
    cursor: pointer;
}

input[type="checkbox"]+label .small {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: -2px 8px 0 0;
    vertical-align: middle;
    background: url('../image/remake/checkbox.png') left top no-repeat;
    background-size: cover;
    cursor: pointer;
}

input[type="checkbox"]:checked+label span {
    background: url('../image/remake/checkbox_2.png') -19px top no-repeat;
    background-size: cover;
    background-position: center;
}

input:focus {
    outline: none;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -2px 8px 0 0;
    vertical-align: middle;
    background: url('../image/remake/store/radio_off.png') left top no-repeat;
    background-size: cover;
    cursor: pointer;
}

input[type="radio"]:checked+label span {
    background: url('../image/remake/store/radio_on.png') -19px top no-repeat;
    background-size: cover;
    background-position: center;
}

input[type="radio"]+label {
    font-weight: normal;
}

input[type="radio"]:checked+label {
    font-weight: bold;
}

.btn_gif {
    width: 50px;
    height: 50px;
    background-image: url('../image/remake/ticket_img/loaction_loading.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem 0;
    margin: 1rem auto;
    display: none;
}

.heart_gif {
    display: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.heart_gif img {
    width: 50px;
    height: 80px;
}

/* //브랜드 셀러 헤더 css */
.seller_brand_header {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    background: none;
    text-align: center;
    padding: 5px 10px;
    z-index: 10;
}

.seller_brand_header img {
    width: 35px;
    height: 35px;
}

.seller_brand_header p {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    line-height: 2.4rem;
    color: #fff;
}

.seller_back_icon {
    float: left;
}

.brand_header_icon {
    float: right;
    display: inline-block;
}

/* //store header */
.notice {
    background: #eb7c94;
    border-radius: 50%;
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 10px;
    padding: 4px 0 0 0;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 0;
}

.event_main_header {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    background: #fff;
    position: fixed;
    z-index: 1009;
    top: 0
}

.event_main_header img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.select_tap {
    width: 50%;
    float: left;
    text-align: center;
}

.store_back_header {
    width: 50%;
    float: left;
    text-align: left;
    padding: 10px;
    opacity: .3;
}

.more_page {
    width: 50%;
    float: right;
    text-align: right;
    padding: 10px;
}

.more_div {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}

.more_button {
    width: 30%;
    height: 64px;
    border: 1px solid #ddd;
    border-radius: 30px;
    margin: 0 auto;
    background: #fff;
}

.fleapop_search {
    width: 30px;
    height: 30px;
    background-image: url('../image/remake/fleapop_comm/fp_b_search.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    opacity: .3;
    margin-right: 10px;
}

.fleapop_basket {
    width: 30px;
    height: 30px;
    background-image: url('../image/remake/mypage_img/fp_b_basket.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    opacity: .3;
    position: relative;
    margin-right: 10px;
}

.fleapop_menu {
    width: 25px;
    height: 25px;
    background-image: url('../image/remake/fleapop_comm/fp_b_filter.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 2px;
    opacity: .3;
    margin-right: 10px;
}

.fleapop_search.active {
    width: 30px;
    height: 30px;
    background-image: url('../image/remake/fleapop_comm/fp_b_search.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    opacity: 1;
    margin-right: 10px;
}

.fleapop_basket.active {
    width: 30px;
    height: 30px;
    background-image: url('../image/remake/mypage_img/fp_b_basket.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    opacity: 1;
    margin-right: 10px;
}

.fleapop_menu.active {
    width: 25px;
    height: 25px;
    background-image: url('../image/remake/fleapop_comm/fp_b_menu.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    opacity: 1;
    margin-right: 10px;
}

.header_store, .header_event {
    width: 50%;
    display: inline-block;
    float: left;
    padding: 10px 0;
}

.header_store.active, .header_event.active {
    width: 50%;
    display: inline-block;
    float: left;
    border-bottom: 4px solid #111;
    padding: 10px 0;
}

.header_store p, .header_event p {
    color: #ddd;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2.4rem;
}

.header_store.active p, .header_event.active p {
    color: #111;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2.4rem;
}

/* //store header back btn */
.store_header_back {
    width: 100%;
    height: 50px;
    position: relative;
    color: #666666;
    border-bottom: none;
    float: left;
    text-align: center;
}

.store_back_btn {
    position: absolute;
    cursor: pointer;
    left: 10px;
    top: 10px;
}

.store_back_btn img {
    width: 25px;
    height: 25px;
}

.store_back_title {
    display: inline-block;
    color: #333;
    font-weight: 600;
    margin: 0.7em auto;
}

.success_btn button {
    width: 100%;
    background: #eb7c94;
    border: none;
    color: #fff;
    font-size: 1rem;
    line-height: 3.2rem;
}

.stoer_back {
    width: 30px;
    height: 30px;
    background-image: url('../image/remake/mypage_img/fp_b_line_left.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 10px;
    opacity: .3;
}

.company_footer {
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: 5rem;
    background: #f5f5f5;
    padding: 20px;
}

.company_footer ul li {
    font-size: 0.7rem;
    color: #999;
    line-height: 1.4rem;
    padding: 0 10px;
}

.footer_icon img {
    width: 30px;
    height: 30px;
    opacity: .4;
    margin: 10px 5px;
}

/* /// FIX SW = 팝오버 css */
.popup_contnet_body {
    width: 100%;
    max-width: 800px;
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    width: 500px;
    height: 300px;
    background: #fff;
    box-shadow: 1px 3px 5px 1px #999;
    position: absolute;
    text-align: center;
    z-index: -1;
    display: none;
}

.popup.show {
    width: 500px;
    height: 300px;
    background: #fff;
    box-shadow: 1px 3px 5px 1px #999;
    position: absolute;
    text-align: center;
    z-index: 1000;
}

.popup p {
    color: #ddd;
}

.success_btn {
    width: 100%;
    border-top: 1px solid #ddd;
    position: absolute;
    bottom: 0;
}

.success_btn:hover {
    background: #eee;
    transition: 1s;
}

.success_btn p {
    color: #111;
    font-weight: bold;
    line-height: 1.6rem;
}

/* ///// case.2 */
.popup_2 {
    width: 500px;
    height: 300px;
    background: #fff;
    box-shadow: 1px 3px 5px 1px #999;
    position: absolute;
    text-align: center;
    z-index: -1;
    display: none;
}

.popup_2.show {
    width: 500px;
    height: 300px;
    background: #fff;
    box-shadow: 1px 3px 5px 1px #999;
    position: absolute;
    text-align: center;
    z-index: 1000;
}

.popup_2 p {
    color: #ddd;
}

.select_btn {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.select_btn a {
    width: 50%;
    height: auto;
    overflow: hidden;
}

.setting_btn {
    width: 50%;
    border-top: 1px solid #ddd;
    position: absolute;
    bottom: 0;
    line-height: 3rem;
    background-color: #fff;
}

.setting_btn p {
    color: #111;
    font-weight: bold;
}

.cancel_btn {
    width: 50%;
    border-top: 1px solid #ddd;
    position: absolute;
    bottom: 0;
    line-height: 3rem;
    background: #111;
}

.cancel_btn p {
    color: #fff;
    font-weight: bold;
}

#innerText {
    font-size: 1.2rem;
    color: #111;
    font-weight: bold;
    margin-top: 7rem;
}

/* /////case .3 */
.popup_3 {
    width: 500px;
    height: 300px;
    background: #fff;
    box-shadow: 1px 3px 5px 1px #999;
    position: absolute;
    text-align: center;
    z-index: -1;
    display: none;
}

.popup_3.hide {
    width: 500px;
    height: 300px;
    background: #fff;
    box-shadow: 1px 3px 5px 1px #999;
    position: absolute;
    text-align: center;
    z-index: 1000;
}

.text {
    padding: 10px;
    text-align: left;
}

.success_btn.case {
    width: 100%;
    border-top: none;
    position: absolute;
    bottom: 0;
}

.success_btn.case p {
    color: #111;
    font-weight: bold;
    line-height: 1.6rem;
    text-align: right;
    padding: 0 20px;
}

/* ///////////////////soldOut 기획전 상세*/
.sold_out_img {
    display: none;
}

.detail_goods.sold_out .sold_out_img {
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    z-index: 998;
    top: 20%;
}

.detail_goods.sold_out .sold_out_img img {
    width: 50px;
    height: 50px;
}

.detail_goods.sold_out .sold_out_img p {
    color: #999;
    font-size: 1.1rem;
    margin-top: 10px;
}

.detail_goods.sold_out {
    width: 30%;
    margin: 0 0 2rem 20px;
    float: left;
    position: relative;
}

.detail_goods.sold_out::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    opacity: .8;
    z-index: 3;
}

.detail_goods.sold_out .price_cost {
    display: none;
}

.detail_goods.sold_out .price_percent {
    display: none;
}

.detail_goods.sold_out .price_sale {
    display: none;
}

/* ///////////////////soldOut 장바구니*/
.store_product.sold_out .sold_out_img {
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    z-index: 998;
    top: 20%;
}

.store_product.sold_out .sold_out_img img {
    width: 50px;
    height: 50px;
}

.store_product.sold_out .sold_out_img p {
    color: #999;
    font-size: 1.1rem;
    margin-top: 10px;
}

.store_product.sold_out {
    width: 100%;
    position: relative;
}

.store_product.sold_out::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    opacity: .8;
    z-index: 3;
}

.store_product.sold_out .product_sale_price {
    display: none;
}

.store_product.sold_out .product_sale {
    display: none;
}

.store_product.sold_out .product_price {
    display: none;
}

/* ////////////////스토어 리스트 soldOut */
.list_store.sold_out .sold_out_img {
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    z-index: 998;
    top: 40%;
}

.list_store.sold_out .sold_out_img img {
    width: 50px;
    height: 50px;
}

.list_store.sold_out .sold_out_img p {
    color: #999;
    font-size: 1.1rem;
    margin-top: 10px;
}

.list_store.sold_out {
    width: 100%;
    /* margin : 0 0 2rem 20px; */
    position: relative;
}

.list_store.sold_out::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    opacity: .8;
    z-index: 3;
}

.list_store.sold_out .product_price {
    display: none;
}

.list_store.sold_out .product_sale {
    display: none;
}

.list_store.sold_out .product_sale_price {
    display: none;
}

/* ////////////////셀러 상세 soldOut */
.seller_brand_product.sold_out .sold_out_img {
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    z-index: 998;
    top: 40%;
}

.seller_brand_product.sold_out .sold_out_img img {
    width: 50px;
    height: 50px;
}

.seller_brand_product.sold_out .sold_out_img p {
    color: #999;
    font-size: 1.1rem;
    margin-top: 10px;
}

.seller_brand_product.sold_out {
    width: 100%;
    /* margin : 0 0 2rem 20px; */
    position: relative;
}

.seller_brand_product.sold_out::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    opacity: .8;
    z-index: 3;
}

.seller_brand_product.sold_out .detail_brand_result {
    display: none;
}

.seller_brand_product.sold_out .detail_brand_discount {
    display: none;
}

.seller_brand_product.sold_out .detail_brand_price {
    display: none;
}

/* ///주문서 로딩 */
.loading_view{
    width: 100%;
    height: 100%;
    background-color: #111;
    position: fixed;
    top: 0;
    max-width: 800px;
    z-index: 10000;
    opacity: .8;
    display: none;
}
.loading_btn_gif{
    width: 100px;
    height: 100px;
    background-image: url('../image/remake/ticket_img/loaction_loading.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 40%;
    left: 45%;
}

.text {

}

.text.middel {
    font-size: 0.8rem;
}

.gray {
    color: #666;
}

@media screen and (max-width:800px) {

    .footer {
        width: 100%;
        max-width: 800px;
        min-height: 40px;
        height: 40px;
        position: fixed;
        bottom: 0;
        background: #ffffff;
        border-top: 1px solid #ddd;
        z-index: 999;
    }

    .footer_text {
        color: #999999;
        font-size: 0.7rem;
        padding: 0.2em 0 0 0;
    }

    .position {
        width: 17px;
        height: 17px;
        background-size: cover;
        background-position: center;
    }


    .content_body {
        padding: 6.3rem 0 3.9rem 0;
    }

    .sub_text {
        width: 100%;
        overflow: scroll;
        background: #ffffff;
        /*box-shadow: 0px 4px 3px -2px #f6f6f6;*/
    }

    .sub_text::-webkit-scrollbar {
        display: none;
    }

    .sub_text::-webkit-scrollbar-track {
        display: none;
    }

    .sub_text::-webkit-scrollbar-thumb {
        display: none;
    }

    select {
        width: 100%;
        height: 50px;
        padding-left: 0.8em;
        background: url('../image/icon/s_icon4.png') no-repeat 97% 50%;
        background-size: 25px;
        border: none;
        border-bottom: 1px solid #d4d4d4;
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    /* 셀러브랜드 헤더 css */
    .seller_brand_header p {
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
        line-height: 2rem;
        color: #fff;
    }

    .seller_brand_header img {
        width: 25px;
        height: 25px;
    }

    .company_footer {
        width: 100%;
        position: relative;
        bottom: 0;
        margin-top: 2rem;
        background: #f5f5f5;
        padding: 20px;
    }

    .more_button {
        width: 50%;
        height: 50px;
        border: 1px solid #ddd;
        border-radius: 30px;
        margin: 0 auto;
        background: #fff;
    }

    /* ///////////soldOut */
    .detail_goods.sold_out {
        width: 50%;
        margin: 0 0 20px 0;
        float: left;
        position: relative;
    }
    .header_store.active, .header_event.active {
        width: 50%;
        display: inline-block;
        float: left;
        border-bottom: 2px solid #111;
        padding: 10px 0;
    }
    .detail_goods.sold_out .sold_out_img img {
        width: 35px;
        height: 35px;
    }

    .detail_goods.sold_out .sold_out_img p {
        color: #999;
        font-size: 1rem;
        margin-top: 10px;
        font-weight: bold;
    }

    /* ///////////soldOut 장바구니*/
    .store_product.sold_out {
        width: 100%;
        margin: 0 0 20px 0;
        position: relative;
    }

    .store_product.sold_out .sold_out_img img {
        width: 35px;
        height: 35px;
    }

    .store_product.sold_out .sold_out_img p {
        color: #999;
        font-size: 1rem;
        margin-top: 10px;
        font-weight: bold;
    }

    /* ///////////soldOut 리스트*/
    .list_store.sold_out {
        width: 100%;
        position: relative;
    }

    .list_store.sold_out .sold_out_img img {
        width: 35px;
        height: 35px;
    }

    .list_store.sold_out .sold_out_img p {
        color: #999;
        font-size: 1rem;
        margin-top: 10px;
        font-weight: bold;
    }

    .popup {
        width: 300px;
        height: 200px;
        background: #fff;
        box-shadow: 1px 3px 5px 1px #999;
        position: absolute;
        left: 20px;
        text-align: center;
        z-index: -1;
    }

    .popup.show {
        width: 300px;
        height: 200px;
        background: #fff;
        box-shadow: 1px 3px 5px 1px #999;
        position: absolute;
        left: 20px;
        text-align: center;
        z-index: 1000;
    }

    .popup_2 {
        width: 300px;
        height: 200px;
        background: #fff;
        box-shadow: 1px 3px 5px 1px #999;
        position: absolute;
        left: 20px;
        text-align: center;
        z-index: -1;
    }

    .popup_2.show {
        width: 300px;
        height: 200px;
        background: #fff;
        box-shadow: 1px 3px 5px 1px #999;
        position: absolute;
        left: 20px;
        text-align: center;
        z-index: 1000;
    }

    .popup_3 {
        width: 300px;
        height: 200px;
        background: #fff;
        box-shadow: 1px 3px 5px 1px #999;
        position: absolute;
        left: 20px;
        text-align: center;
        z-index: -1;
    }

    .popup_3.show {
        width: 300px;
        height: 200px;
        background: #fff;
        box-shadow: 1px 3px 5px 1px #999;
        position: absolute;
        left: 20px;
        text-align: center;
        z-index: 1000;
    }

    #innerText {
        font-size: 0.9rem;
        color: #111;
        font-weight: bold;
        margin-top: 4rem;
    }

    .header_store p, .header_event p {
        color: #ddd;
        font-weight: bold;
        font-size: 1.1rem;
        line-height: 2.4rem;
    }

    .header_store.active p, .header_event.active p {
        color: #111;
        font-weight: bold;
        font-size: 1.1rem;
        line-height: 2.4rem;
    }
    /* ///주문서 로딩 */
    .loading_view{
        width: 100%;
        height: 100%;
        background-color: #111;
        position: fixed;
        top: 0;
        max-width: 800px;
        z-index: 10000;
        opacity: .8;
    }
    .loading_btn_gif{
        width: 50px;
        height: 50px;
        background-image: url('../image/remake/ticket_img/loaction_loading.gif');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 40%;
        left: 45%;
    }
}

@media screen and (max-width : 325px) {
    .more_page {
        width: 50%;
        float: right;
        text-align: right;
        padding: 10px 5px;
    }

    .fleapop_search {
        width: 35px;
        height: 35px;
        background-image: url('../image/remake/fleapop_comm/fp_b_search.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        opacity: .3;
        margin-right: 0;
    }

    .fleapop_basket {
        width: 35px;
        height: 35px;
        background-image: url('../image/remake/mypage_img/fp_b_basket.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        opacity: .3;
        position: relative;
        margin-right: 0;
    }

    .fleapop_menu {
        width: 30px;
        height: 30px;
        background-image: url('../image/remake/fleapop_comm/fp_b_filter.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        margin-bottom: 2px;
        opacity: .3;
        margin-right: 0;
    }

    .fleapop_search.active {
        width: 35px;
        height: 35px;
        background-image: url('../image/remake/fleapop_comm/fp_b_search.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        opacity: 1;
        margin-right: 0;
    }

    .fleapop_basket.active {
        width: 35px;
        height: 35px;
        background-image: url('../image/remake/mypage_img/fp_b_basket.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        opacity: 1;
        margin-right: 0;
    }

    .fleapop_menu.active {
        width: 35px;
        height: 35px;
        background-image: url('../image/remake/fleapop_comm/fp_b_menu.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        opacity: 1;
        margin-right: 0;
    }
    .popup {
        width: 250px;
        height: 200px;
        background: #fff;
        box-shadow: 1px 3px 5px 1px #999;
        position: absolute;
        left: 20px;
        text-align: center;
        z-index: -1;
    }

    .popup.show {
        width: 250px;
        height: 200px;
        background: #fff;
        box-shadow: 1px 3px 5px 1px #999;
        position: absolute;
        left: 20px;
        text-align: center;
        z-index: 1000;
    }

    .popup_2 {
        width: 250px;
        height: 200px;
        background: #fff;
        box-shadow: 1px 3px 5px 1px #999;
        position: absolute;
        left: 20px;
        text-align: center;
        z-index: -1;
    }

    .popup_2.show {
        width: 250px;
        height: 200px;
        background: #fff;
        box-shadow: 1px 3px 5px 1px #999;
        position: absolute;
        left: 20px;
        text-align: center;
        z-index: 1000;
    }

    .popup_3 {
        width: 250px;
        height: 200px;
        background: #fff;
        box-shadow: 1px 3px 5px 1px #999;
        position: absolute;
        left: 20px;
        text-align: center;
        z-index: -1;
    }

    .popup_3.show {
        width: 250px;
        height: 200px;
        background: #fff;
        box-shadow: 1px 3px 5px 1px #999;
        position: absolute;
        left: 20px;
        text-align: center;
        z-index: 1000;
    }
}
.footer {
    width: 100%;
    min-height: 3.375rem;
    height: 3.375rem;
    position: fixed;
    bottom: 0;
    text-align: center;
    border-top: 1px solid #f0f0f0;
    transition: top 0.2s ease-in-out;
    background-color: #fff;
    z-index: 1000;
}

.footer.hide {
    bottom: -5rem;
}
#footer_tab {
    display: table;
    min-height: 100%;
    height: 100%;
}

.max_wrap {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    z-index: 1;
}

.max_wrap.bg {
    position: absolute;
    height: 100%;
    min-height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.max_wrap.sub_menu {
    z-index: 100;
}

#footer_tab .tab {
    display: table-cell;
    width: 25%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

#footer_tab .tab img {
    width: 1.25rem;
}

#footer_tab .tab p {
    width: 100%;
    font-size: 0.75rem;
    font-family: NanumSquareRoundB;
    color: #c0c0c0;
    text-align: center;
}

#footer_tab .tab.selected p {
    color: #eb7c94;
}

.store-home-contents {
    height: calc(100% - 112px);
}

.contents_area {
    /*padding-top: unset !important;*/
    padding-bottom: 40px;
}