.store_header {
    border-bottom: 0px solid #f3f3f3;
}

#top_header {
    display: table;
    min-height: 3.0769230769rem;
    height: 3.0769230769rem;
}

#top_header > #logo_wrap {
    width: 10%;
    padding-left: 0.7692307692rem;
    padding-right: 0.7692307692rem;
}

#top_header > #back_wrap {
    padding-left: 0.7692307692rem;
}

#top_header > #logo_wrap img {
    height: 1.5384615385rem;
}

#top_header > #search_wrap {
    width: 65%;
    padding-right: 0.7692307692rem;
}

#top_header > #title_wrap p {
    width: 100%;
    font-family: NanumGothicEB;
    font-size: 1rem;
    color: #1c1c1c;
    text-align: center;
}

#top_header > #menu_wrap {
    width: 35%;
    text-align: right;
}

#top_header #search_wrap > #search {
    width: 100%;
    padding-top: 0.5384615385rem;
    padding-bottom: 0.5384615385rem;
}

#top_header #menu_wrap {
    padding-right: 0.7692307692rem;
}

#top_header #menu_wrap #goods_btn {
    vertical-align: middle;
}

#top_header #menu_wrap #goods_btn img {
    height: 1.1538461538rem;
    margin-right: 0.3846153846rem;
}

.cart_btn {
    position: relative;
    vertical-align: middle;
}

.cart_btn img {
    height: 1.1538461538rem;
    margin-right: 0.7692307692rem;
}

.cart_btn > span {
    position: absolute;
    font-size: 0.6153846154rem;
    color: #fff;
    background-color: #eb7c94;
    padding: 2px 5px;
    top: -10px;
    right: 5px;
    border-radius: 5px;
}

#bottom_header ul {
    text-align: left;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Firefox */
}

#bottom_header ul::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

#bottom_header ul li a {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.max_wrap.padding {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.7692307692rem;
    padding-bottom: 1.1538461538rem;
    box-sizing: border-box;
}

.goods_item {
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1%;
    margin-bottom: 1.1538461538rem;
}

.goods_item .info_wrap > .price {
    margin-bottom: 0.6153846154rem;
}

