/* .content_body {
    padding: 0rem 0 4rem 0;
} */

/* //좋아요 버튼 */
.heart_btn {
    width: 30px;
    height: 30px;
    background-image: url('../../image/remake/store/like_star_off_b.png');
    background-size: cover;
    background-position: center;
    display: inline-block;
    opacity: .3;
}

.heart_btn.active {
    width: 30px;
    height: 30px;
    background-image: url('../../image/remake/store/like_star_on_p.png');
    background-size: cover;
    background-position: center;
    display: inline-block;
    opacity: 1;
}

.heart_btn_count{
    font-size: 0.8rem;
    color: #999;
    display: inline-block;
    position: absolute;
    bottom: 4px;
    left: 30px;
}
.barket_btn{
    display: inline-block;
    float: right;
}
.barket_btn img {
    width: 25px;
    height: 25px;
    margin-top: 3px;
}
/* //radio box */
.store_radio{
    display: inline-block;
    margin-right:15px;
}
.store_radio label {
    /* font-weight: normal; */
    color: #666;
    font-size: .9rem;
}

input[type="radio"]+label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -2px 8px 0 0;
    vertical-align: middle;
    background: url('../../image/remake/store/radio_off.png') left top no-repeat;
    background-size: cover;
    cursor: pointer;
}
input[type="radio"]:checked+label span {
    background: url('../../image/remake/store/radio_on.png') -19px top no-repeat;
    background-size: cover;
    background-position: center;
}
input[type="radio"]+label{
    font-weight: normal;
    float: left;
}
input[type="radio"]:checked+label{
    font-weight: bold;
}
input:focus {
    outline: none;
}
.store_goods_count{
    display: inline-block;
    float:right;
}
.store_goods_count p{
    font-weight: normal;
    color: #666;
    font-size: .9rem;
}
.store_goods_count span{
    font-weight: bold;
    color: #eb7c94;
    font-size: .9rem;
}
/* //푸터 고정버튼 */
.store_order_btn{
    width: 100%;
}
.store_order_btn {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 999;
}
.store_order_btn.black p{
    height: 70px;
    color: #fff;
    background: #111;
    line-height: 4.5rem;
}
.store_order_btn.pink p{
    height: 70px;
    color: #fff;
    background: #eb7c94;
    line-height: 4.5rem;
    font-weight: bold;
}

.soldout {
    color: #eb7c94;
}

.sold_out_img p {
    color: #eb7c94;
}

.product_sale_price.soldout {
    color: #eb7c94;

}

@media screen and (max-width : 500px) {
    .heart_btn_count{
        font-size: 0.8rem;
        color: #999;
        display: inline-block;
        left: 37px;
    }

}
.store_header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #f3f3f3;
    z-index: 1100;
}

.store_header.back {
    min-height: 0px;
}

.header_padding_wrap.store {
    width: 100%;
}

.store_header.fixed {
    top: -3.3125rem;
}

#top_header {
    display: table;
    min-height: 3.3125rem;
    height: 3.3125rem;
}

#top_header > .wrap {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

#top_header > #logo_wrap {
    width: 15%;
}

#top_header > #back_wrap {
    z-index: 100;
    width: 5%;
}

#top_header.sub > #back_wrap {
    z-index: 100;
    width: 10%;
}

#top_header > #search_wrap {
    width: 70%;
}

#top_header #title_wrap {
    position: relative;
    width: 80%;
    height: 100%;
    text-align: center;
    margin: auto;
    z-index: 99;
    overflow: hidden;
}

#top_header #title_wrap p {
    position: absolute;
    display: inline-block;
    width: 50%;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    font-family: NanumGothicEB;
    font-size: 0.9375rem;
    color: #1c1c1c;
    text-align: center;
    z-index: 99;
    margin: auto;
    transform: translateY(-50%, -50%);
}

#top_header > #menu_wrap {
    width: 15%;
    text-align: right;
}

#top_header.sub > #menu_wrap {
    width: 10%;
    text-align: right;
}

#top_header #logo_wrap a {
    display: inline-block;
    padding: 0.625rem;
}

#top_header > #logo_wrap img {
    height: 40%;
    max-height: 40%;
}

#top_header > #back_wrap img {
    width: 0.5625rem;
    height: 0.875rem;
}

#top_header #search_wrap > #search {
    display: inline-block;
    width: 34.125rem;
    max-width: 34.125rem;
    vertical-align: middle;
    padding-left: 1.25rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    background-color: #fafafa;
    color: #c0c0c0;
    font-size: 0.9375rem;
    border-radius: 0.5rem;
}

#top_header #search_wrap > #search > img {
    height: 0.9375rem;
    vertical-align: middle;
}

#top_header #menu_wrap #goods_btn img {
    height: 1.5625rem;
    margin-right: 0.9375rem;
}

.cart_btn {
    position: relative;
}

.cart_btn img {
    height: 1.125rem;
    margin-right: 0.625rem;
}

.cart_btn > span {
    position: absolute;
    font-size: 0.0625rem;
    color: #fff;
    background-color: #eb7c94;
    padding: 0.1875rem 0.5rem;
    top: -12px;
    right: -3px;
    border-radius: 10px;
}

#bottom_header ul {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    list-style-type: none;
    white-space: nowrap;
    overflow-x: auto;
    text-align: left;
    margin-bottom: 0;
    overflow-y: hidden;
    vertical-align: middle;
}

#bottom_header ul li {
    display: inline-block;
    width: 8%;
    height: 100%;
    vertical-align: middle;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
}

#bottom_header ul li a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    line-height: 0.9375rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
}

#bottom_header ul li:first-child {
    margin-left: 0;
}

#bottom_header ul li a:first-child {
    margin-left: 0;
}

#bottom_header ul li.tab a {
    color: #1c1c1c;
    font-size: 0.8125rem;
    font-family: NanumGothicR;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

#bottom_header ul li.tab.selected a {
    color: #1c1c1c;
    font-size: 0.8125rem;
    font-family: NanumGothicEB;
    border-bottom: 2px solid #1c1c1c;
}

.max_wrap.body.home {
    width: 100%;
    padding-top: 0rem;
}

/*.goods_item {*/
/*    width: 23%;*/
/*    margin-left: 1%;*/
/*    margin-right: 1%;*/
/*    margin-top: 1%;*/
/*    margin-bottom: 2%;*/
/*}*/

.goods_item a {
    text-decoration: none;
}

.goods_item .img_wrap {
    position: relative;
    width: 100%;
    border: 1px solid #f5f5f5;
    overflow: hidden;
    border-radius: 0.625rem;
}

.goods_item .img_wrap:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.goods_item .img_wrap > .soldout {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.goods_item .img_wrap > .soldout > p {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 0.875rem;
    font-family: NanumGothicB;
    color: #fff;
}

.goods_item .img_wrap > .rank {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-bottom-right-radius: 0.625rem;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 0.6875rem;
    font-family: NanumGothicB;
    color: #fff;
}

.goods_item .img_wrap img {
    position: absolute;
    width: 100%;
    max-width: 110%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.goods_item .info_wrap {
    width: 100%;
    margin-top: 0.625rem;
    z-index: 100;
}

.goods_item .info_wrap > .seller_name {
    font-size: 0.75rem;
    font-family: NanumGothicEB;
    color: #454545;
    margin-bottom: 0.625rem;
}

.goods_item .info_wrap > .goods_title {
    width: 100%;
    font-size: 0.8125rem;
    font-family: NanumGothicR;
    color: #1c1c1c;
    margin-bottom: 0.625rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

.goods_item .info_wrap > .price {
    margin-bottom: 0.625rem;
}

.goods_item .info_wrap > .price > .discount_price {
    font-size: 1.0625rem;
    color: #ff305d;
    font-family: NanumGothicEB;
    margin-right: 0rem;
}

.goods_item .info_wrap > .price > .sale_price {
    font-size: 1.0625rem;
    font-family: NanumGothicEB;
    color: #1c1c1c;
    margin-right: 0rem;
}

.goods_item .info_wrap > .price > .origin_price {
    font-size: 0.8125rem;
    font-family: NanumGothicR;
    color: #a6a6a6;
    text-decoration: line-through;
}

.goods_item .info_wrap > .view .goods_cnt {
    font-family: NanumGothicR;
    font-size: 0.6875rem;
    color: #a6a6a6;
}

.goods_item .info_wrap > .view img {
    height: 0.625rem;
    vertical-align: middle;
    margin-right: 0.1875rem;
}

.goods_item .img_wrap .timer_wrap {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.goods_item .img_wrap .timer_wrap {
    font-family: NanumGothicB;
    font-size: 0.6875rem;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.goods_item .img_wrap .timer_wrap span {
    font-family: NanumGothicB;
    font-size: 0.6875rem;
    color: #fff;
}

.goods_item .img_wrap .timer_wrap span div {
    display: inline;
    background-color: rgba(0, 0, 0, 0);
}

.goods_item .info_wrap .view .badge {
    display: inline-block;
    font-size: 0.625rem;
    padding-left: 0.4375rem;
    padding-right: 0.4375rem;
    font-family: NanumGothicB;
    line-height: 0.9375rem;
    vertical-align: middle;
    margin-right: 0.3125rem;
}

.goods_item .info_wrap .view .badge.hot_deal {
    border: 1px solid #eb7c94;
    color: #eb7c94;
}

.goods_item .info_wrap .view .badge.new {
    border: 1px solid #0da4ff;
    color: #0da4ff;
}

.max_wrap.padding {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.9375rem;
    padding-bottom: 0rem;
    box-sizing: border-box;
}

.more_loading_wrap {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.more_loading_wrap.hidden {
    display: none;
}

.more_loading_wrap img {
    width: 80px;
}

