.footer {
    display: none;
}
.content_body {
    padding: 3.5rem 0 4rem 0;
}

.fleapop_review_body {
    position: relative;
}

.store_reveiw {
    width: 100%;
    padding: 25px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.share_img {
    display: none;
}

.store_review_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bx-wrapper {
    margin-bottom: 20px;
}

.store_review_header p {
    color: #111;
    font-weight: bold;
}

.store_review_header p span {
    color: #eb7c94;
    margin-left: 5px;
}

.store_review_header a {
    color: #999;
    font-size: 0.9rem;
}

.store_review_img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.review_img {
    width: 33.33333333%;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin: 0 3px;
}

.review_detail_header {
    padding: 20px 25px 0;
}

.review_detail_header p {
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.7rem;
}

.review_detail_header span {
    font-size: 0.85rem;
    color: #666;
    line-height: 1.4rem;
}

.review_detail_body {
    width: 100%;
}

.review_footer {
    width: 100%;
    margin: 5px 0;
}

.review_footer p {
    color: #111;
    font-size: 1rem;
    font-weight: bold;
}

.store_review_detail {
    padding: 0 40px;
    margin: 10px 0;
}

.store_review_detail p {
    font-weight: bold;
}

.review_detail_body img {
    width: 100%;
}

.review_noti, .review_guidance {
    width: 100%;
    height: 64px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.review_noti img, .review_guidance img {
    width: 25px;
    height: 25px;
    opacity: 0.3;
}

.purchase_btn {
    width: 100%;
    height: 64px;
    background: #eb7c94;
    text-align: center;
    line-height: 4rem;
}

.purchase_btn_move p {
    color: #fff;
    font-weight: bold;
}

.store_goods_img .bxslider_img {
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.store_goods_img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.fleap

    /* ///boxslide css*/
.bx-wrapper {
    width: 90%;
    margin: 0 auto;
    border: none;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #ddd;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #fff;
}
.swiper-container.disabled .swiper-pagination{
    display: none;
}
.swiper-container.disabled .swiper-button-next{
    display: none;
}
.swiper-container.disabled .swiper-button-prev{
    display: none;
}
.purchase_select_body {
    width: 100%;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    display: none;
    z-index: 9999;
}

.purchase_select_body::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #111;
    opacity: .8;
    position: absolute;
}

.purchase_select_box {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    display: none;
    background: #fff;
    z-index: 10000;
}

.purchase_option select {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.purchase_option {
    width: 100%;
    padding: 10px;
}

.select_btn {
    width: 100%;
    overflow: hidden;
}

.select_btn button {
    width: 50%;
    height: 54px;
    float: left;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 0.875em;
}

.selected_option_list {
    width: 100%;
    overflow: hidden;
    padding: 0 10px;
    margin-bottom: 20px;
}

.selected_option_view {
    width: 100%;
    padding: 15px 10px;
    border:1px solid #eee;
}

/* .selected_option_view p {
    display: inline-block;
} */

.selected_option_view img {
    width: 26px;
    height: 26px;
    vertical-align: middle;
}

.count_select {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#my-select {
    color: #666;
}

#product_minus {
    width: 25px;
    height: 25px;
    background-image: url('../../image/remake/order/fp_b_circleminus.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .3;
}

#product_plus {
    width: 25px;
    height: 25px;
    background-image: url('../../image/remake/order/fp_b_circleplus.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .3;
}

.selected_info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 15px 0 0 0;
}

.selected_info p {
    font-size: 1.1rem;
    color: #111;
    font-weight: bold;
    line-height: 1.6rem;
    padding: 0 5px;
}

.selected_product_price {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #111;
    text-align: right;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.selected_product_price p {
    display: inline-block;
}

.option_name {
    width: auto;
    font-size: 0.875rem;
    color: #666;
    border-bottom : 1px solid #ddd;
    padding : 0 0 15px 0;
}

.count_num {
    margin-bottom: 0;
}

.goods_info {
    width: 100%;
    padding: 0 40px;
    margin-top:2rem;
    border-top:1px solid #ddd;
}

.goods_info h3 {
    padding: 32px 0 10px 0;
}

.goods_info table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.goods_info tr, .goods_info td {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 0.8rem;
    color: #666;
}

.goods_info td:first-child {
    width: 30%;
    background: #eee;
    color: #666;
}

.seller_info {
    width: 100%;
    padding: 0 40px;
    border-top : 1px solid #ddd;
}

.seller_info h3 {
    padding: 32px 0 10px 0;
}

.seller_info p {
    padding: 5px 0;
    font-size: 0.8rem;
    color: #666;
}

.seller_info table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.seller_info tr, .seller_info td {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 0.8rem;
    color: #666;
}

.seller_info td:first-child {
    width: 30%;
    background: #eee;
    color: #666;
}

.avg_delivery {
    width: 100%;
    padding: 0;
    color: #eb7c94;
}

.avg_delivery h3 {
    padding: 10px 0;
}

.avg_delivery p {
    padding: 10px 0 0 0;
    font-size: 1rem;
}

.avg_delivery table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.avg_delivery tr, .avg_delivery td {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 0.8rem;
    color: #666;
}

.avg_delivery td:first-child {
    width: 30%;
    background: #eee;
    color: #666;
}

.change_address {
    width: 100%;
    padding: 0 40px;
}

.change_address p {
    color: #666;
    padding: 10px 0;
    font-size: 0.8rem;
}



.detail-content {
    padding: 20px 40px 0 40px;
    word-break: break-all;
}

.detail-content img {
    width: 100%;
    max-width: 100%;
    display: block;
}

@media screen and (max-width:500px) {
    .store_goods_img {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .review_img {
        width: 33.33333333%;
        height: 150px;
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        margin: 0 3px;
    }

    .store_goods_img .bxslider_img {
        width: 100%;
        height: 375px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* ///boxslide css*/
    .bx-wrapper {
        width: 100%;
        margin: 0 auto;
        border: none;
    }

    .bx-prev {
        display: none;
    }

    .bx-next {
        display: none;
    }

    .bx-wrapper .bx-pager.bx-default-pager a {
        background: #ddd;
        width: 5px;
        height: 5px;
        border-radius: 50%
    }

    .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
        background: #fff;
        width: 5px;
        height: 5px;
    }

    .option_name {
        font-size: 0.875rem;
        color: #666;
        border-bottom : 1px solid #ddd;
        padding : 0 0 10px 0;
    }

    .avg_delivery table {
        width: 100%;
        border: 1px solid #ddd;
        border-collapse: collapse;
    }

    .avg_delivery tr, .avg_delivery td {
        border: 1px solid #ddd;
        padding: 5px;
        font-size: 0.8rem;
    }

    .avg_delivery td:first-child {
        width: 30%;
        background: #eee;
        color: #111;
    }

    .selected_info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding : 10px 0 0 0;
    }

    .selected_info p {
        font-size: 0.875rem;
        color: #111;
        font-weight: bold;
        line-height: 1.6rem;
        display: inline-block;
    }

    .count_select {
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .avg_delivery {
        width: 100%;
        padding: 0;
        color:#eb7c94;
    }

    .goods_info {
        width: 100%;
        padding: 0 20px;
        margin-top : 4rem;
        border-top:1px solid #ddd;
    }

    .seller_info {
        width: 100%;
        padding: 0 20px;
        border-top:1px solid #ddd;
    }

    .change_address {
        width: 100%;
        padding: 20px;
        border-top: 1px solid #ddd;
    }
    .detail-content {
        padding: 20px 20px 0 20px;
        word-break: break-all;
    }
    .review_noti, .review_guidance {
        width: 100%;
        height: 64px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
    }
    .review_footer p {
        color: #111;
        font-size: 0.9rem;
        font-weight: bold;
    }
    .seller_info tr, .seller_info td {
        border: 1px solid #ddd;
        padding: 5px;
        font-size: 0.8rem;
        color: #666;
    }
    .goods_info tr, .goods_info td {
        border: 1px solid #ddd;
        padding: 5px;
        font-size: 0.8rem;
        color: #666;
    }
    .selected_option_list {
        width: 100%;
        overflow: hidden;
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .selected_product_price {
        width: 100%;
        overflow: hidden;
        border-top: 1px solid #111;
        text-align: right;
        padding: 20px 15px;
    }
    .count_num {
        margin-bottom: 4px;
    }
}
@media screen and (max-width:320px) {
    .store_goods_img .bxslider_img {
        width: 100%;
        height: 320px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .selected_info {
        width: 100%;
        display: flex;
        align-content: center;
    }

    .option_name {
        width: 90px;
        font-size: 0.875rem;
        color: #666;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
