<template>
  <lm-popup-layer
    :is-pop.sync="isShow"
    :is-background-click-close="false"
    mode="popup-layer"
    @close="onClose"
  >
    <div>
        Html Sample Page.
    </div>
    <div style="border: solid 1px #e0e0e0">
      Test
    </div>
    <div>
      <button @click="change">변경</button>
    </div>
  </lm-popup-layer>
</template>

<script>
import SampleHtml from '@/views/Layout/_Components/SampleHtml'
export default {
  name: "SampleHtml",
  data () {
    return {
      isShow: false
    }
  },
  props: {
    isAni: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    change () {
      let params = {
        isAni: false
      }
      this.$LayerPop(SampleHtml, params)

      this.isShow = false
    },
    open () {
      this.isShow = true
    },
    close () {
      console.log('Close')
      this.isShow = false
    },
    onClose () {
      this.close()
    }
  }
}
</script>

<style scoped>

</style>