<template>
  <!-- 상품정보 시작 -->
  <div class="page bg-white">
    <transition-group mode="in-out" :name="isAnimation ? 'page-slide-right' : ''">
      <component
        ref="scom"
        v-for="c in stack"
        :key="c.uuid"
        :is="c.name"
        :uuid="c.uuid"
        :name="c.name"
        :param="c.param"
        :query="c.query"
        :option="c.option"
        :backup="c.backupData"
        @stackPush="stackPush"
        @stackReplace="stackReplace"
        @stackBack="stackBack"
        @stackPass="stackPass"
        @stackBackAll="stackBackAll"
        @getStackNames="getStackNames"
        @freeze="freezeComponent"
        @afterEnter="afterEnter"
        v-if="c.showCom"
      ></component>
    </transition-group>
  </div>
  <!-- 상품정보 끝 -->
</template>

<script>
  let lastRequest = {
    name: null,
    query: null,
    param: null,
    option: null,
    time: 0
  }

  export default {
    name: 'ComponentStack',
    props: ['componentList', 'comp', 'param', 'isAnimation'],
    data: () => ({
      stack: [],
      nextUuid: 1,
      curIdx: 0,
      curUid: null,
      removeId: null, // replace 일때 잠시 애니메이션을 위해 놔뒀다가 애니메이션 끝나면 지울 uuid
      maxComp: 7,
      isCreated: 0
    }),
    watch: {
      '$route.query.uuid' (n, o) {
        console.log('ComponentStack::$route.query.uuid::', n, o)
        this.watchUuid(n, o)
      },
      removeId (n, o) {
        console.log('ComponentStack::removeId::', n, o)
      }
    },
    created () {
      for (let k in this.componentList) {
        this.$options.components[k] = this.componentList[k]
      }
      console.log('ComponentStack::created::', this.$options.components)
      if (this.comp) this.watchUuid(this.$route.query.uuid)
    },
    mounted () {
      console.log('===== ComponentStack mounted =====', this.componentList, this.comp, this.param, this.option)
    },
    methods: {
      watchUuid (n, o) {
        let lsStackk = localStorage.getItem('stackHistory')
        console.log('ComponentStack::watchUuid::', n, o)
        if (!n && this.$route.params.comp) {
          // uuid 없이 진입했을시 uuid 생성하여 라우트를 replace
          // const query = Object.assign(JSON.parse(JSON.stringify(this.$route.query)), {uuid: this.generateUuid()})
          const query = {...this.$route.query, uuid: this.generateUuid()}
          const params = {...this.$route.params}
          params.param = params.param ? params.param : 0
          // query.uid = this.generateUuid()
          console.log('ComponentStack::$router.replace::', {name: this.$route.name, params: params, query: query})
          if (!(lsStackk && JSON.parse(lsStackk).stack.length > 1 && o === undefined)) this.$store.dispatch('setStackHistory',{key: n, stack: this.stack})
          this.$router.replace({name: this.$route.name, params: this.$route.params, query: query})
        } else {

          // uuid 존재하면 스택에서 찾아본다.
          n = n === undefined ? 0 : n
          const idx = this.stack.findIndex(comp => comp.uuid + '' === n + '')
          if (idx >= 0) {
            // 스택에 있고 상단 인덱스보다 작으면 그 위꺼를 모두 지운다.
            if (idx < this.curIdx) {
              console.log('ComponentStack::stack.splice::', idx + 1, this.stack.length - idx - 1)
              let lastName = this.stack[this.stack.length - 1].name
              this.stack.splice(idx + 1, this.stack.length - idx - 1)
              this.curIdx = this.stack.length - 1

              // 지워진 갯수만큼 숨겨져있는 컴포넌트 출력
              let start = this.curIdx - this.maxComp >= 0 ? this.curIdx - this.maxComp + 1 : 0
              for (let i = start; i <= this.curIdx; ++i) {
                console.log('-------- show com', i, this.stack[i].backupData)
                if (this.stack[i].backupData && this.stack[i].backupData._ani) this.stack[i].option.animation = this.stack[i].backupData._ani
                this.stack[i].showCom = true
              }

              // 제일 위에 있는 컴포넌트에 자신을 업데이트 할 필요 있으면 하라고 호출한다.
              let ref = this.$refs.scom.find(o => { return o.uuid + '' === this.stack[this.curIdx].uuid + '' })
              if (ref) ref.updateComponent(lastName)
            }
          } else {
            // 스택에 없으면 신규 생성해서 최 상단에 위치시킨다.
            // let info = this.$route.params.info ? this.$route.params.info : null
            console.log('ComponentStack::stack.push::', {name: this.comp, param: this.param, option: this.$route.params.option, uuid: n, showCom: true})

            // 중복 호출 제거
            if (this._chkRequest(this.comp, this.$route.query, this.param, this.$route.params.option)) {
              history.back()
              return
            }

            let opt = Object.assign({}, this.$route.params.option)
            // 최초로 들어가는 컴포넌트는 애니를 제거한다. sub-webview 자체가 애니 있으므로..
            if (!opt.hasOwnProperty('animation')) opt.animation = this.stack.length > 0 ? 'page-slide-right' : ''

            let stackInfo = {name: this.comp, param: this.param, query: this.$route.query, option: opt, uuid: n, showCom: true, backupData: null}

            // 타서비스로 이동 후 백으로 들어온 후 지속적인 백 처리
            if ((this.stack.length === 0 && Number(n) !== 1) || (this.stack.length > 0 && Number(n) < this.stack[this.stack.length - 1].uuid)) {
              stackInfo.option.animation = ''
              this.stack.splice(0, 0, stackInfo)
              this.$nextTick(_ => {
                let lsStackk = localStorage.getItem('stackHistory')
                if (lsStackk) {
                  this.stack = JSON.parse(lsStackk).stack
                  this.curIdx = this.stack.length - 1
                } else {
                  this.stack.splice(1, this.stack.length - 1)
                  this.curIdx = this.stack.length - 1
                }

                stackInfo.option.animation = 'page-slide-right'
              })
            } else this.stack.push(stackInfo)

            if (this.nextUuid <= n) this.nextUuid = Number(n) + 1
            this.curIdx = this.stack.length - 1
            this.$nextTick(_ => {
              this.runComponent(n)
            })

            // 최대 출력 컴포넌트수를 넘어가면 숨김처리
            let limit = this.maxComp + (this.removeId ? 1 : 0) // 삭제대상이 있으면 일단 하나 더 허용한다.
            let low = this.curIdx - limit
            if (low >= 0) {
              let hIdx = low
              let ref = this.$refs.scom.find(o => { return o.uuid + '' === this.stack[hIdx].uuid + '' })
              if (ref) {
                ref.freeze()
                this.stack[hIdx].option.animation = '' // 컴포넌트가 삭제될때 사라지는 애니메이션 제거를 위해
              }
              this.$nextTick(_ => {
                this.stack[low].showCom = false
              })
            }
          }
          if (!(lsStackk &&JSON.parse(lsStackk).stack.length > 1 && o === undefined)) this.$store.dispatch('setStackHistory',{key: n, stack: this.stack})
        }
      },
      runComponent (uuid, cnt = 0) {
        let ref = this.$refs.scom ? this.$refs.scom.find(o => { return o.uuid + '' === uuid + '' }) : null
        if (ref) {
          if (this.$refs.scom && this.$refs.scom.length > 1) {
            this.$refs.scom[this.$refs.scom.length - 2].pausedComponent()
            ref.startComponent()
          }
        } else if (cnt < 3) setTimeout(_ => { this.runComponent(uuid, ++cnt) }, 500)
      },
      generateUuid () {
        console.log('ComponentStack::generateUuid::', this.nextUuid + 1)
        return this.nextUuid++
      },
      // name, propsData, option, query, info
      // comp, param = null, opt = null, query = {}, info = null
      stackPush (comp, param = null, option = null, query = {}) {
        console.log('ComponentStack::stackPush::', comp, param, option, query)
        if (!query) query = {}
        // 기존에 uid 넘어와도 리셋하게한다.
        let params = this.$route.params
        params.comp = comp
        params.param = param
        params.option = option

        query.uuid = this.generateUuid()
        // if (!info.fromUid) info.fromUid = this.stack[this.curIdx].uid
        this.$router.push({name: this.$route.name, params: params, query: query})
      },
      stackReplace (comp, param = null, option = null, query = {}) {
        console.log('ComponentStack::stackReplace::', comp, param, option, query)
        if (!query) query = {}
        query.uuid = this.generateUuid()
        this.$router.replace({name: this.$route.name, params: {comp, param, option}, query: query})

        let idx = this.curIdx
        this.stack[idx].option.animation = ''
        this.removeId = this.stack[idx].uuid
      },
      stackBack (to, uuid, obj) {
        console.log('ComponentStack::stackBack::', to, uuid, obj)
        console.log(to, obj, this.$refs.scom.length)
        let step = this.stackPass(to, uuid, obj)
        if (step !== 0) this.$router.go(step)
      },
      stackBackAll () {
        console.log('ComponentStack::stackBackAll')
        this.$router.go(-this.stack.length)
      },
      stackPass (to, uuid, obj) {
        console.log('ComponentStack::stackBack::', to, uuid, obj)
        console.log(to, obj, this.$refs.scom.length)
        let myIdx = this.stack.findIndex(o => { return o.uuid + '' === uuid + '' })
        if (myIdx === -1) return

        let len = this.stack.length
        let receiver = null
        let step = 0
        if (!to) {
          if (len > 1) {
            receiver = this.$refs.scom.find(o => { return this.stack[len - 2].uuid + '' === o.uuid + '' })
            step = -1
          }
        } else if (typeof to === 'number' && to < 0) {
          let toIdx = myIdx + Number(to)
          if (toIdx < 0) return
          receiver = this.$refs.scom.find(o => { return this.stack[toIdx].uuid + '' === o.uuid + '' })
          step = -(this.stack.length - 1 - toIdx)
        } else {
          for (let i = myIdx; i >= 0; --i) {
            if (this.stack[i].uuid + '' === to + '' || this.stack[i].name + '' === to + '') {
              receiver = this.$refs.scom.find(o => { return this.stack[i].uuid + '' === o.uuid + '' })
              step = -(this.stack.length - 1 - i)
              break
            }
          }
        }
        console.log('------------------------', step, receiver)
        if (receiver) {
          receiver.resultComponent(obj)
          return step
        }
        return 0
      },
      getStackNames (callback) {
        console.log('getStackNames::', callback)
        callback(this.stack.map(s => s.name))
        // this.stack.map(s => s.name)
      },
      _chkRequest (name, query, param, option) {
        let ret = false
        let now = new Date().getTime()
        if (now - lastRequest.time > 1000) { // 1초 지났으면 초기화
          lastRequest.time = 0
          lastRequest.name = null
        }
        if (lastRequest.name === name &&
          lastRequest.param === param &&
          this._cmp(lastRequest.query, query) &&
          this._cmp(lastRequest.option, option)
        ) ret = true

        if (ret) console.log('-------------------- same request', now - lastRequest.time, lastRequest, {name, query, param, option})
        else {
          lastRequest.name = name
          lastRequest.query = query
          lastRequest.param = param
          lastRequest.option = option
          lastRequest.time = now
        }
        return ret
      },
      _cmp (a, b) {
        if (a === b) return true
        if (typeof a !== typeof b) return false
        for (let k in a) {
          if (k === 'uuid' || typeof a[k] === 'object') continue // uuid, __proto__ 는 건너뛴다.
          if (a[k] !== b[k]) { return false }
        }
        return true
      },
      afterEnter (el) {
        console.log('----------- after leave in com stack', this.removeId, el)
        if (this.removeId) {
          const idx = this.stack.findIndex(o => { return o.uuid + '' === this.removeId + '' })
          if (idx < 0) return
          this.stack.splice(idx, 1)
          this.curIdx = this.stack.length - 1
          this.removeId = null
        }
      },
      freezeComponent (obj) {
        console.log('-------------- freezeComponent', obj)
        let sInfo = this.stack.find(o => { return o.uuid + '' === obj.uuid + '' })
        console.log('sInfo', sInfo)
        if (sInfo) sInfo.backupData = Object.keys(obj).length === 1 ? null : obj
      },
      getStacks () {
        return this.stack
      }
    }
  }
</script>

<style lang="scss" scoped>
  .page {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 15;
  }
</style>
