<template>
  <transition name="custom-layer" @before-leave="beforeLeave" @after-Enter="afterEnter" @after-leave="afterLeave">
    <div v-if="isAiOpen" class="content-wrap layer-container touch-none" :class="position">
<!--      <div class="layer-background" :style="backgroundRgbaVars" @click="onClose" style="position: fixed"></div>-->
      <div class="background-popup" @click="onClose"></div>
      <template v-if="mode === 'popup-layer'">
        <div class="layer-content" :class="position">

<!--          <div class="container100 hp-10 pt-05 ta-c lh-00 fs-00">-->
<!--            <button class="layer-line-close" v-show="isBackgroundClickClose" @click="onClose"></button> &lt;!&ndash; Close 버튼 &ndash;&gt;-->
<!--          </div>-->
<!--          <div class="container100 bd-f5-b01" v-if="title && title.length > 0"> &lt;!&ndash; title &ndash;&gt;-->
<!--            <button class="layer-close" @click="close">X</button>&lt;!&ndash; Close 버튼 &ndash;&gt;-->
<!--          </div>-->
<!--          <div class="container100 max-height-80">-->
            <slot></slot>
<!--          </div>-->
        </div>
      </template>

      <template v-else-if="mode === 'notice'">
        <div class="user-notice-box" :class="position">
          <div class="user-notice-con fc-3">
            <slot></slot>
          </div>
        </div>
      </template>

      <template v-else-if="mode === 'none'">
        <div class="layer-content" :class="position">
          <slot></slot>
        </div>
      </template>
    </div>
  </transition>
</template>

<script>
import ComponentAppendMixin from '@/lib/mixins/component-append-mixin'
/**
 * @author sykim@smartscore.kr
 * @version 0.1
 * @since 2020년 04월 10일
 * @description popupLayer ( +modal, +notice, +right side Menu )
 * 팝업레이어, 알림, 라이트 메뉴 트랜지션 창
 version 0.1
 * aimation none 추가 (right side menu)
 */
export default {
  name: 'LmPopupLayer',
  components: {},
  mixins: [ComponentAppendMixin],
  props: {
    isPop: {
      type: Boolean,
      default: false,
      require: true
    },
    mode: {
      type: String,
      default: 'popup-layer' // popup-layer, notice, 그외,,, 등등
    },
    title: { // 타이틀 없애려면 '' 빈값으로 넣으세요
      type: String,
      default: '타이틀 필수'
    },
    position: {
      type: String,
      default: 'up' // up, down, right, left // none => leave시 transition remove
    },
    backgroundRgba: { // 백그라운드 투명도 값
      type: Number,
      default: 4 // 1,2,3,4,5,6,7,8,9,10
    },
    isBackgroundClickClose: { // background 클릭해서 닫기 default: true // false 일때 클릭해도 닫히지 않음
      type: Boolean,
      default: true
    },
    isShowCloseIcon: { // X icon
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      // isOpen: false,
      closeRightMenuAnimation: '', // right menu에서 backKey나 close 버튼 외 클릭시 애니메이션 제거된 상태로 닫혀야함
      backButtonUuid: null
    }
  },
  computed: {
    backgroundRgbaVars () {
      return ({
        '--layer-bg-rgba': this.backgroundRgba * 0.1
      })
    }
  },
  watch: {
    position: {
      handler (value) {
        if (value === 'none') {
          this.closeRightMenuAnimation = value
        }
      }
    },
    isPop (value) {
      console.log('LmPopupLayer::watch::isPop', value)

      this.isAiOpen = value
      // this.setNativeBackKey(value)
    }
  },
  created () {
    console.log('LmPopupLayer::created::', this.isPlugin)
  },
  methods: {
    setNativeBackKey (isOnOff) {
      if (isOnOff) {
        this.backButtonUuid = history.push({name: this.$options.name, action: this.close})
      } else {
        history.remove(this.backButtonUuid)
      }
    },
    onClose () {
      if (!this.isBackgroundClickClose) return
      this.close()
    },
    close () {
      console.log('LmPopupLayer::close::')
      this.isAiOpen = false
      this.$emit('close')
      this.$emit('update:isPop', false)
    },
    beforeLeave (el) {
      if (this.closeRightMenuAnimation === 'none') {
        el.classList.add(this.closeRightMenuAnimation)
      }
      this.$emit('beforeLeave', el)
    },
    afterLeave (el) {
      this.closeRightMenuAnimation = ''
      this.$emit('afterLeave', el)
    },
    afterEnter (el) {
      this.$emit('afterEnter', el)
    }
  },
  beforeDestroy () {
    console.log('LmPopupLayer::beforeDestroy::')
  }
}
</script>

<style lang="scss" scoped>
.layer-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.layer-container .layer-background {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 10;
}

.layer-container .layer-content.up, .layer-container .layer-content.down { /* default(modal) */
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 301;
}

.layer-container .layer-content.right, .layer-container .layer-content.left { /* default(modal) */
  position: fixed;
  height: 100%;
  top: 0;
  background: #fff;
  z-index: 301;
}
.layer-container .layer-content .max-height-80 {
  max-height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
}

.layer-line-close {
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: #d8d8d8;
}

.layer-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 7px;
}
/*.user-notice-box{*/
/*  top: auto;*/
/*  height: auto;*/
/*  bottom: 0;*/
/*}*/

$layer-bg-rgba: 0.4 !default;
$layer-bg-rgba: var(--layer-bg-rgba);
:root {
  --layer-bg-rgba: #{$layer-bg-rgba}
}

$timer: (.4s, .4s);
$cubic-bezier-in: cubic-bezier(0.165, 0.84, 0.44, 1);
$cubic-bezier-out: cubic-bezier(1, 0.44, 0.44, 1);
$translates: (
  'left' : (-100vw, 0, 0),
  'right' : (100vw, 0, 0),
  'up' : (0, 100vh, 0),
  'down' : (0, -100vh, 0)
);
@keyframes fade-in {
  0% {
    background: transparent;
  }
  100% {
    background: rgba(0, 0, 0, $layer-bg-rgba);
  }
}

@keyframes fade-out {
  0% {
    background: rgba(0, 0, 0, $layer-bg-rgba);
  }
  100% {
    background: transparent;
  }
}

.layer-container.custom-layer-enter-active, .layer-container.custom-layer-leave-active { /* all animation */
  animation: all nth($timer, 1) forwards;
}

.layer-container.custom-layer-leave-active.none { /* animation none */
  animation: none;
}

.layer-container .layer-background { /* background animation in */
  background: transparent;
  animation: fade-in nth($timer, 1) linear forwards;
}

.layer-container.custom-layer-leave-to .layer-background { /* background animation out */
  animation: fade-out nth($timer, 2) linear forwards;
}

@each $position, $value in $translates {
  @keyframes slide-#{$position}-in { /* content animation in */
    from {
      transform: translate3d(nth($value, 1), nth($value, 2), nth($value, 3));
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slide-#{$position}-out { /* content animation out */
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(nth($value, 1), nth($value, 2), nth($value, 3));
    }
  }

  @if $position == 'up' {
    .layer-container.up .layer-content, /* default */
    .layer-container.up .user-notice-box { /* notice */
      animation: slide-up-in nth($timer, 1) $cubic-bezier-in forwards;
    }
    .layer-container.up.custom-layer-leave-to .layer-content,
    .layer-container.up.custom-layer-leave-to .user-notice-box {
      animation: slide-up-out nth($timer, 2) $cubic-bezier-out forwards;
    }
  } @else if $position == 'down' {
    .layer-container.down .layer-content,
    .layer-container.down .user-notice-box {
      animation: slide-down-in nth($timer, 1) $cubic-bezier-in forwards;
    }
    .layer-container.down.custom-layer-leave-to .layer-content,
    .layer-container.down.custom-layer-leave-to .user-notice-box {
      animation: slide-down-out nth($timer, 2) $cubic-bezier-out forwards;
    }
  } @else {
    .layer-container.#{$position} .layer-content {
      animation: slide-#{$position}-in nth($timer, 1) forwards;
    }
    .layer-container.#{$position}.custom-layer-leave-to .layer-content {
      animation: slide-#{$position}-out nth($timer, 2) forwards;
    }
  }
}

.touch-none { -webkit-overflow-scrolling: touch; }

</style>
