<template>
  <div id="footer" class="footer">
    <div class="max_wrap" id="footer_tab">
      <div class="tab  selected " id="tab_store">
        <a href="/store/store">
          <img src="@/assets/image/user_service/icons/ic-bt-home-on@3x.png">
          <p>스토어</p>
        </a>
      </div>
      <div class="tab " id="tab_magazine">
        <a href="/Magazine">
          <img src="@/assets/image/user_service/icons/ic-bt-mz-off@3x.png">
          <p>매거진</p>
        </a>
      </div>
      <div class="tab " id="tab_lm">
        <a href="/re/market/ing/list">
          <img src="@/assets/image/user_service/icons/ic-bt-lm-off@3x.png">
          <p>오프라인</p>
        </a>
      </div>
      <div class="tab " id="tab_my">
        <a href="/re/mypage/home">
          <img src="@/assets/image/user_service/icons/ic-bt-my-off@3x.png">

          <p>마이</p>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
name: "UIFooter"
}
</script>

<style scoped>
</style>