<template>
<!--  <div class="header">-->
<!--    <div class="history_back" onclick="history.back()"></div>-->
<!--    <div class="btn_menu">-->
<!--      <div class="search"></div>-->
<!--      <div class="basket"></div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="top_title">
    <div class="top_title_wrap floatclear">
      <a @click="historyBack" class="ico ico_arrow_left top_left">
      </a>
      <h3 class="top_title">
        {{ title }}
      </h3>
<!--      <a class="ico ico_basket top_right">-->
<!--      </a>-->
    </div>
  </div>
</template>

<script>
  import Native from '@/lib/native'
  export default {
    name: "UIHeader",
    methods: {
      historyBack () {
        console.log(this.isLastStack)
        console.log(this.isNative)
        if ((this.isLastStack && this.isNative) || this.queryString('uuid') === '1') {
          console.log(1)
          Native.windowClose()
          history.back()
        } else {
          console.log(2)
          history.back()
        }
      },
      queryString (paramName) {
        let tempUrl = window.location.search.substring(1)
        let tempArray = tempUrl.split('&')

        for (let i = 0; i < tempArray.length; i++) {
          let keyValuePair = tempArray[i].split('=')
          console.log(keyValuePair[0])
          console.log(paramName)
          console.log(keyValuePair[0] === paramName)
          if (keyValuePair[0] === paramName) {
            return keyValuePair[1]
          } else {
            return false
          }
        }
      }
    },
    props: {
      title: {
        type: String,
        default: '상품상세'
      }
    },
    computed: {
      isLastStack () {
        let stackArray = this.$store.getters.getStackHistory

        return stackArray.stack.length <= 1
      },
      isNative () {
        return Native.isHybrid()
      }
    }
  }
</script>

<style lang="less" scoped>
  //.top_title {
  //  position: unset;
  //}
  .header {
    width: 100%;
    height: 47px;
    background-color: #ffffff;
    border-bottom: 1px solid #fafafa;
    overflow: hidden;
    margin: 0 auto;

    .history_back {
      width: 30px;
      height: 30px;
      background-image: url('../assets/image/remake/mypage_img/fp_b_line_left.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: inline-block;
      margin: 7px 5px 5px 5px;
      opacity: .3;
    }

    .btn_menu {
      width: 50%;
      float: right;
      text-align: right;
      padding: 5px;

      .search {
        width: 30px;
        height: 30px;
        background-image: url('../assets/image/remake/fleapop_comm/fp_b_search.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        opacity: .3;
        margin-right: 10px;
      }
      .basket {
        width: 30px;
        height: 30px;
        background-image: url('../assets/image/remake/mypage_img/fp_b_basket.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        opacity: 1;
        margin-right: 10px;
      }
    }
  }
</style>