<template>
  <div class="container" >
    <u-i-header :title="'주문하기'"/>
    <section class="scroll_area_section" v-scroll-lock="false">
    <div class="contents_area padding-b-0" >
      <div class="contents_wrap">
        <ul class="arcodian_list order_sheet">
          <!-- li에 class="off" 붙일시 토글   -->
          <li :class="goodsArea ? 'on' : 'off'" >
            <!-- 아코디언 타이틀 -->
            <div class="arcodian_title btn_wrap_right" @click="goodsArea = !goodsArea">
              <strong class="arcodian_contents_title">
                주문상품정보
              </strong>
              <span class="arcodian_contents_title_sub">
                                (총 {{dataGoods.length|number}}개)
                            </span>
              <a class="btn btn_arrow_toggle ico_arrow_toggle">
              </a>
            </div>

            <!-- 아코디언 토글 될 컨텐츠  -->
            <div class="arcodian_contents_wrap">

              <ul class="goods_list">
                <div class="division_line"></div>
                <li v-for="(item, index) in dataGoods" :key="index">
                  <div class="goods_list_img_wrap">
                    <img :src="item.imgs" alt="">
                  </div>
                  <div class="goods_list_text_area">
                    <strong class="goods_list_title">
                      {{item.seller.name}}
                    </strong>
                    <p class="goods_list_sub_tit">
                      {{ item.title }}
                    </p>
                    <p class="goods_list_option">
                      <i class="goods_list_tag">
                        <span>옵션</span>
                      </i>
                      <span class="goods_list_tag_tit">
                                                {{ item.option_value }} / {{item.quantity}}개
                                            </span>
                    </p>
                    <p class="goods_list_price">
                      <template v-if="item.price !== item.promotion_price">
                        <span class="goods_price_sub">
                            {{ item.price|number }}원
                        </span>
                        <span class="goods_price_point">
                            {{ Math.round(((item.price - item.promotion_price) / item.price) * 100) }}%
                        </span>
                      </template>
                      <span class="goods_price_main">
                          {{ item.promotion_price|number }}원
                      </span>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li :class="orderArea ? 'on' : 'off'">
            <!-- 아코디언 타이틀 -->
            <div class="arcodian_title btn_wrap_right"  @click="orderArea = !orderArea">
              <strong class="arcodian_contents_title">
                주문자정보
              </strong>

              <a class="btn btn_arrow_toggle ico_arrow_toggle">
              </a>
            </div>

            <!-- 아코디언 토글 될 컨텐츠  -->
            <div class="arcodian_contents_wrap">
              <!-- 인풋 얼럿(빨간글씨) 노출시 클래스 on -->
              <div class="input_wrap">
                                <span class="input_title">
                                    이름(실명)
                                </span>
                <input class="input_underline_type" type="text" title="주문자 이름" placeholder="이름(실명)" v-model="dataOrder.name">
                <p class="input_alert">
                  이름을 입력하세요.
                </p>
              </div>
              <!-- 인풋 얼럿(빨간글씨) 노출시 클래스 on -->
              <div class="input_wrap" :class="dataOrder.phone.length < 10 || !phoneNumberCheck ? 'on' : ''">
                                <span class="input_title">
                                    연락처
                                </span>
                <input class="input_underline_type" type="number" title="주문자 연락처" placeholder="연락처" maxlength="11" v-model="dataOrder.phone">
                <p class="input_alert" v-if="dataOrder.phone.length < 10">
                  번호를 입력하세요.
                </p>
                <p class="input_alert" v-else-if="!phoneNumberCheck">
                  올바르지 않은 연락처입니다.
                </p>
              </div>

            </div>
          </li>
          <li :class="deliveryArea ? 'on' : 'off'" >
            <!-- 아코디언 타이틀 -->
            <div class="arcodian_title btn_wrap_right" @click="deliveryArea = !deliveryArea">
              <strong class="arcodian_contents_title">
                배송정보
              </strong>

              <a class="btn btn_arrow_toggle ico_arrow_toggle">
              </a>
            </div>

            <!-- 아코디언 토글 될 컨텐츠  -->
            <div class="arcodian_contents_wrap">

              <div class="delivery_place_card margin-b-15">
                <div class="delivery_top">
                  <strong class="delivery_place">
                    {{ deliveryInfo.address_type }}
                  </strong>
                  <a class="btn delivery_top_btn btn_box_round_s_pink" @click="changeAddress()">
                                        <span>
                                            변경
                                        </span>
                  </a>
                </div>
                <p class="delivery_name">
                  {{ deliveryInfo.name }}
                </p>
                <p class="delivery_address">
                  {{ deliveryInfo.address_1 }}
                </p>
                <p class="delivery_address_detail">
                  {{ deliveryInfo.address_2 }}
                </p>
                <p class="delivery_tell">
                  {{ deliveryInfo.phone }}
                </p>
              </div>

              <select class="select_boxline_type" name="delivery_request"  @click.prevent.stop="$selectPopup(deliveryMemoArray, 'title', 'code', '선택', 'deliveryMemo', $event, $data)">
                <option value="">배송시 요청사항을 선택해 주세요.</option>
                <option v-for="(item, index) in deliveryMemoArray" :key="index" :value="item.code">{{ item.title }}</option>
              </select>

              <!--  직접 입력 선택시 텍스트박스 노출 (최대 50자) -->
              <div class="text_area_box box_h_50 margin-t-15 margin-b-10" v-if="deliveryMemo === '직접입력'">
                                <textarea class="textarea_boxline_type" v-model="deliveryMemoSub" :input="keyType()"
                                          placeholder="배송메시지 직접 입력 (0 ~ 최대 100자)" cols="50" maxlength="100">
                                </textarea>
                <p class="textarea_sub">
                  <span class="textarea_sub_num" id="byteLen">0</span> / 100
                </p>
              </div>
              <!-- // 직접 입력 선택시 텍스트박스 노출 (최대 50자) -->

            </div>
          </li>
          <li :class="lmPayArea ? 'on' : 'off'">
            <!-- 아코디언 타이틀 -->
            <div class="arcodian_title btn_wrap_right" @click="lmPayArea = !lmPayArea">
              <strong class="arcodian_contents_title ">
                러마페이
              </strong>

              <strong class="arcodian_contents_title right point-blue-dq margin-r-20">
                {{ (dataOrder.lmpay - lmPay)|number }}원
              </strong>
              <span class="arcodian_contents_title_sub right color-a margin-r-10">
                                사용 가능 페이
                            </span>

              <a class="btn btn_arrow_toggle ico_arrow_toggle">
              </a>
            </div>

            <!-- 아코디언 토글 될 컨텐츠  -->
            <div class="arcodian_contents_wrap">

              <div class="input_btn_wrap">
                <!-- 인풋 얼럿(빨간글씨) 노출시 클래스 on -->
                <div class="input_wrap">
                                    <span class="input_title">
                                        러마페이
                                    </span>
                  <input class="input_underline_type" type="text" title="러마페이 금액"  v-model="lmPay">
                  <p class="input_alert">
                    시용할 금액을 숫자로 입력해주세요.
                  </p>
                </div>

                <button class="input_side_btn btn_blue" type="button" @click="setLmpay">
                  모두사용
                </button>
              </div>
            </div>
          </li>
          <li :class="paymentArea ? 'on' : 'off'">
            <!-- 아코디언 타이틀 -->
            <div class="arcodian_title btn_wrap_right" @click="paymentArea = !paymentArea">
              <strong class="arcodian_contents_title ">
                결제금액
              </strong>
              <strong class="arcodian_contents_title text-B right margin-r-20">
                {{ (accountTotalPrice)|number }}원
              </strong>

              <a class="btn btn_arrow_toggle ico_arrow_toggle">
              </a>
            </div>

            <!-- 아코디언 토글 될 컨텐츠  -->
            <div class="arcodian_contents_wrap">

              <p class="contents_side_text">
                                <span>
                                    총 상품 금액
                                </span>
                <span class="right">
                                    {{ (dataPay.origin_price)|number }} 원
                                </span>
              </p>
              <p class="division_line">
              </p>
              <p class="contents_side_text">
                                <span>
                                    러마페이
                                </span>
                <span class="right">
                                    - {{ lmPay|number }} 원
                                </span>
              </p>
              <p class="contents_side_text">
                                <span>
                                    배송비
                                </span>
                <span v-if="extraShippingPrice.state" style="font-size:11px">(도서산간비)</span>
                <span class="right">
                                    + {{ dataPay.shipping_price|number }} 원
                                </span>
              </p>
              <p class="contents_side_text">
                                <span>
                                    상품할인
                                </span>
                <span class="right">
                                    - {{ dataPay.promotion_price|number }} 원
                                </span>
              </p>
            </div>
          </li>
          <li :class="accountType ? 'on' : 'off'">
            <!-- 아코디언 타이틀 -->
            <div class="arcodian_title btn_wrap_right" @click="accountType = !accountType">
              <strong class="arcodian_contents_title ">
                결제방법
              </strong>

              <a class="btn btn_arrow_toggle ico_arrow_toggle">
              </a>
            </div>

            <!-- 아코디언 토글 될 컨텐츠  -->
            <div class="arcodian_contents_wrap">

              <div class="btn_wrap_col_4" v-show="accountTotalPrice > 0">
                <!-- a태그 선택시 class="on_pink_line" 로 분홍색 변형  -->
                <a class="btn btn_box_line" :class="payType === 'card' ? 'on_pink_line' : ''" @click="payType = 'card'">
                  <span>
                      신용카드
                  </span>
                </a>
                <a class="btn btn_box_line" :class="payType === 'kakaopay' ? 'on_pink_line' : ''" @click="payType = 'kakaopay'">
                  <span>
                    카카오페이
                  </span>
                </a>
                <a class="btn btn_box_line" :class="payType === 'PAYCO' ? 'on_pink_line' : ''" @click="payType = 'PAYCO'">
                  <span>
                      페이코
                  </span>
                </a>
                <a class="btn btn_box_line" v-if="getOsType !== 'ios'" :class="payType === 'samsung' ? 'on_pink_line' : ''" @click="payType = 'samsung'">
                  <span>
                      삼성페이
                  </span>
                </a>
                <a class="btn btn_box_line" :class="payType === 'vbank' ? 'on_pink_line' : ''" @click="payType = 'vbank'">
                  <span>
                      무통장입금
                      <br>
                      (가상 계좌)
                  </span>
                </a>
              </div>
            </div>
          </li>
          <li :class="refundArea ? 'on' : 'off'" v-if="payType === 'vbank'">
            <!-- 아코디언 타이틀 -->
            <div class="arcodian_title btn_wrap_right"  @click="refundArea = !refundArea">
              <strong class="arcodian_contents_title">
                환불계좌 정보
              </strong>

              <a class="btn btn_arrow_toggle ico_arrow_toggle">
              </a>
            </div>

            <!-- 아코디언 토글 될 컨텐츠  -->
            <div class="arcodian_contents_wrap">
              <!-- 인풋 얼럿(빨간글씨) 노출시 클래스 on -->
              <div class="input_wrap">
                                <span class="input_title">
                                    은행명
                                </span>
                <select class="select_boxline_type select-bank-list" name="delivery_request"  @click.prevent.stop="$selectPopup(refundBankArray, 'title', 'code', '선택', 'refundBank', $event, $data)">
                  <option value="">은행을 선택해 주세요.</option>
                  <option v-for="(item, index) in refundBankArray" :key="index" :value="item.code">{{ item.title }}</option>
                </select>
              </div>
              <!-- 인풋 얼럿(빨간글씨) 노출시 클래스 on -->
              <div class="input_wrap" >
                                <span class="input_title">
                                    예금주
                                </span>
                <input class="input_underline_type" type="text" title="예금주" placeholder="예금주"  v-model="refundHolder" />
                <p class="input_alert" >
                  예금주
                </p>
              </div>
              <div class="input_wrap" >
                                <span class="input_title">
                                    계좌번호
                                </span>
                <input class="input_underline_type" type="text" title="계좌번호" placeholder="계좌번호 (-제외)"  v-model="refundAccount" />
                <p class="input_alert" >
                  계좌번호 (-제외)
                </p>
              </div>

            </div>
          </li>
          <li>
            <div class="arcodian_contents_wrap">
              <p class="contents_left_text margin-t-10 margin-b-20" v-show="accountTotalPrice > 0">
                <input type="checkbox" class="checkbox_square" id="payment_agreement01" v-model="setDefaultMethod" >
                <label for="payment_agreement01">선택한 결제수단으로 이후 결제 이용에 동의합니다.(선택)</label>
              </p>
              <div class="division_line" v-show="accountTotalPrice > 0">
              </div>
              <p class="contents_left_text margin-t-20 margin-b-10">
                <input type="checkbox" class="checkbox_square" id="payment_agreement02" v-model="isAgree">
                <label for="payment_agreement02" class="text-B" >전체 동의하기</label>
              </p>
              <p class="contents_side_text">
                                <span>
                                    주문 상품정보에 동의 (필수)
                                </span>
                <a class="right" @click="getTerms('access')">
                  자세히 보기
                </a>
              </p>
              <p class="contents_side_text">
                                 <span>
                                    개인정보 제3자 제공 동의 (필수)
                                </span>
                <a class="right" @click="getTerms('personal')">
                  자세히 보기
                </a>
              </p>
            </div>
          </li>
        </ul>

        <div class="btn_wrap" @click="submit">
          <a class="btn btn_wid_100 btn_pink on">
            {{ (accountTotalPrice)|number }}원 결제
          </a>
        </div>
      </div>
    </div>
  </section>
  </div>
</template>

<script>
import _ from 'lodash'
// import Vue from 'vue'
import IMPpg from '@/lib/IMPpg'
import Native from "@/lib/native";
import UIHeader from "@/components/UIHeader"
// Vue.use(IMP, 'imp09395281')
// Vue.IMP().load()
export default {
  name: "GoodsOrder",
  components: {UIHeader},
  mixins:[
    IMPpg
  ],
  data () {
    return {
      orderInfo: {
        'IAMPORT_ID' : '',
        'IS_BACK' : '',
        'data' : '',
        'meta' : ''
      },
      dataGoods: [],
      dataOrder: {
        phone: ''
      },
      dataPay: {},
      lmPay: 0,
      deliveryMemoArray: [
        {'title': '부재시 경비실에 맡겨주세요.', 'code': '부재시 경비실에 맡겨주세요.'},
        {'title': '부재시 전화 또는 문자주세요.', 'code': '부재시 전화 또는 문자주세요.'},
        {'title': '택배함에 넣어주세요.', 'code': '택배함에 넣어주세요.'},
        {'title': '배송시 파손에 주의해주세요.', 'code': '배송시 파손에 주의해주세요.'},
        {'title': '배송전에 연락주세요.', 'code': '배송전에 연락주세요.'},
        {'title': '직접입력', 'code': '직접입력'},
      ],
      refundBankArray: [
        {'title': '경남은행', 'code': '경남은행'},
        {'title': '광주은행', 'code': '광주은행'},
        {'title': '국민은행', 'code': '국민은행'},
        {'title': '기업은행', 'code': '기업은행'},
        {'title': '농협', 'code': '농협'},
        {'title': '대구은행', 'code': '대구은행'},
        {'title': '부산은행', 'code': '부산은행'},
        {'title': '산업은행', 'code': '산업은행'},
        {'title': '새마을금고', 'code': '새마을금고'},
        {'title': '수협', 'code': '수협'},
        {'title': '신한은행', 'code': '신한은행'},
        {'title': '신협', 'code': '신협'},
        {'title': '외환은행', 'code': '외환은행'},
        {'title': '우리은행', 'code': '우리은행'},
        {'title': '우체국', 'code': '우체국'},
        {'title': '전북은행', 'code': '전북은행'},
        {'title': 'SC제일은행', 'code': 'SC제일은행'},
        {'title': '카카오뱅크', 'code': '카카오뱅크'},
        {'title': '케이뱅크', 'code': '케이뱅크'},
        {'title': 'KEB하나은행', 'code': 'KEB하나은행'}
      ],
      deliveryMemo: '',
      deliveryMemoSub: '',
      payType: 'card',
      deliveryInfo: {},
      sku_ids: '',
      quantities: '',
      orderData: {},
      goodsArea: true,
      orderArea: true,
      deliveryArea: true,
      paymentArea: true,
      accountType: true,
      lmPayArea: true,
      refundArea: true,
      isAgree: false,
      setDefaultMethod: true,
      isSubmit: false,
      evalByte: 0,
      refundBank: '',
      refundHolder: '',
      refundAccount: ''
    }
  },
  props: {
    'param': {
      type: String,
      default: ''
    }
  },
  computed: {
    userData () {
      return this.$store.getters.userData
    },
    getOsType () {
      return this.$native.getOsType()
    },
    extraShippingPrice () {
      let shippingPrice = {
        price: 0,
        state: false
      }
      let sellerCheck = []
      if (this.deliveryInfo.address_1 && this.deliveryInfo.address_1.indexOf('제주') >= 0) {
        _.forEach(this.dataGoods, (o) => {
          if (o.use_extra_shipping_price && sellerCheck.indexOf(o.seller_id) < 0) {
            sellerCheck.push(o.seller_id)
            shippingPrice.price += o.seller.extra_shipping_price
            shippingPrice.state = true
          }
        })

      }
      return shippingPrice
    },
    accountTotalPrice () {
      return this.dataPay.origin_price - this.dataPay.promotion_price - this.lmPay + this.dataPay.shipping_price
    },
    phoneNumberCheck () {
      let phone = this.dataOrder.phone
      if ( /^((01[1|6|7|8|9])[1-9]+[0-9]{6,7})|(010[1-9][0-9]{7})$/.test(phone)) {
        return true;
      } else {
        return false;
      }
    }
  },
  watch: {
    extraShippingPrice(v) {
      this.dataPay.shipping_price = v.price
    },
    'dataPay.shipping_price' (o, n) {
      if (o !== n) {
       this.lmPay = 0
      }
    }
  },
  created() {
    this.getOrderSheetInfo()
    this.$bus.$on('deliveryPostRefresh', this.setDeliveryInfo)
  },
  destroyed () {
    this.$bus.$off('deliveryPostRefresh', this.setDeliveryInfo)
  },
  methods: {
    keyType () {
      if (this.evalByte >= 100) {
        this.deliveryMemoSub = this.deliveryMemoSub.substring(0, 100)
      }
      $('#byteLen').text(this.getTextLength(this.deliveryMemoSub))
    },
    getTextLength (str) {
      let codeByte = 0
      for (let idx = 0; idx < str.length; idx++) {
        codeByte++
      }
      this.evalByte = codeByte
      return codeByte
    },
    setDeliveryInfo (data) {
      this.deliveryInfo = data.data
    },
    getTerms (type) {
      this.$termPopup(type)
    },
    setLmpay () {
      let tempAmount = this.dataPay.origin_price - this.dataPay.promotion_price + this.dataPay.shipping_price
      if(this.dataOrder.lmpay > tempAmount) {
        this.lmPay = tempAmount
      } else {
        this.lmPay = this.dataOrder.lmpay
      }
    },
    changeAddress () {
      Native.setAddress();
    },
    getOrderSheetInfo () {
      //
      this.$http.get('store/order/sheet/' + this.param).then(res => {
        this.orderInfo = res.data
        this.dataGoods = res.data.data.data_goods
        this.dataOrder = res.data.data.data_order
        this.dataPay = res.data.data.data_pay

        let usePayType = res.data.data.data_order.use_pay_type
        if (usePayType === 'PAYCO' && usePayType === 'samsung' && usePayType ==='card')
        this.payType = res.data.data.data_order.use_pay_type

        this.dataOrder.shipping_address.forEach(data => {
          if(data.is_default === "true") {
            this.deliveryInfo = data
          }
        })

        this.dataGoods.forEach(data => {
          this.sku_ids += (data.sku_id + ',')
          this.quantities += (data.quantity + ',')
        })
      }).catch(e => {
        console.warn(e)
      })
    },
    isSubmitCheck () {
      if (!this.phoneNumberCheck) {
        alert('올바르지 않은 연락처입니다.')
        return false
      } else if (!this.isAgree) {
        alert('필수 동의사항을 체크해주세요.')
        return false
      } else if (this.dataOrder.phone.length < 10) {
        alert('전화번호를 입력하세요.')
        return false
      } else if (this.payType === 'vbank' && (this.refundBank === '' || this.refundAccount === '' || this.refundHolder === '')) {
        alert('환불계좌 정보를 입력하세요.')
        return false
      } else {
        return true
      }
    },
    submit () {
      if (this.isSubmitCheck() && !this.isSubmit) {
        let addressData = {
          'address_type': '',
          'sel_address_id': '',
        }
        this.orderData = {
          'user_id': this.dataOrder.user_id,
          'device': Native.getOsTypeCode(),
          'token': '9da0bfb08451e28aa7071b891e0e07c97545ee18783253ba8cc5a0b0335ab3e3',
          'user_type': this.dataOrder.user_type,
          'sku_ids': this.sku_ids,
          'quantities': this.quantities,
          'order_name': this.dataOrder.name,
          'order_phone': this.dataOrder.phone,
          'address_name': this.deliveryInfo.address_type,
          'shipping_name': this.deliveryInfo.name,
          'shipping_phone': this.deliveryInfo.phone,
          'shipping_zipcode': this.deliveryInfo.zip_code,
          'shipping_address_1': this.deliveryInfo.address_1,
          'shipping_address_2': this.deliveryInfo.address_2,
          'shipping_msg': (this.deliveryMemo === '직접입력' ? this.deliveryMemoSub : this.deliveryMemo),
          'method': (this.dataPay.origin_price - this.dataPay.promotion_price + this.dataPay.shipping_price) === this.lmPay ? 'lmpay' : this.payType,
          'total': this.dataPay.total_price - this.lmPay - this.dataPay.promotion_price,
          'shipping': 0,
          'shipping_cnt': this.dataPay.shipping_count,
          'add_shipping': this.dataPay.add_shippong ? this.dataPay.add_shippong : 0,
          'lmpay': this.lmPay ? this.lmPay : 0,
          'set_default_method': this.setDefaultMethod,
          'bank': '',
          'holder': '',
          'account': '',
          'origin_price': 0,
          'option_price': 0,
          'promotion_price': 0,
          'shipping_price': this.extraShippingPrice.state ? this.extraShippingPrice.price : this.dataPay.shipping_price,
          'total_price': 0
        }
        if (this.payType === 'vbank') {
          this.orderData.bank = this.refundBank.replace(/(\s*)/g, "")
          this.orderData.holder = this.refundHolder
          this.orderData.account = this.refundAccount.replace(/(\s*)/g, "").replace(/(-*)/g, "")
        }
        this.$http.post('order/checkout/submit', this.orderData).then(res => {
          console.log(res);
          this.orderData.origin_price = res.data.data.origin_price;
          this.orderData.option_price = res.data.data.option_price;
          this.orderData.promotion_price = res.data.data.promotion_price;
          this.orderData.shipping_price = res.data.data.shipping_price;
          this.orderData.total_price = res.data.data.total_price;
          this.isSubmit = true
          if (parseInt(res.data.data.total_price) > 0) {
            let params = res.data
            params.data.method = (this.dataPay.origin_price - this.dataPay.promotion_price) === this.lmPay ? 'lmpay' : this.payType
            params.data.email = this.userData.email_account
            params.data.order_name = this.deliveryInfo.name
            params.data.order_phone = this.deliveryInfo.phone
            params.data.shipping_address_1 = this.deliveryInfo.address_1
            params.data.shipping_address_2 = this.deliveryInfo.address_2
            params.data.shipping_zipcode = this.deliveryInfo.zip_code
            this.isSubmit = false
            this.excutePayment(this.orderData);
          } else {
            this.requestResultSubmit('lmpay');
          }
        }).catch(e => {
          this.isSubmit = false
          console.warn(e)
          Native.alert(e.msg)
        })
      }
    },
    requestResultSubmit (imp_uid) {
      // let url = "/api/order/checkout/submit";
      this.orderData.imp_uid = imp_uid;

      this.$http.post('order/checkout/submit',this.orderData).then(res => {
        console.log(res);
        this.isSubmit = false
        this.stackPush('GoodsOrderResult',null,res.data)
      }).catch(e => {
        console.warn(e)
      })
    }
  }
}
</script>

<style scoped>
  .select-bank-list {
    border: unset;
    border-bottom: 1px solid #ddd;
    border-radius: unset;
  }
</style>