<template>
  <div class="container" >
    <u-i-header :title="'상품상세'"/>
    <section class="scroll_area_section" v-scroll-lock="false">
      <div class="contents_area">
        <div class="contents_wrap">
          <!-- 상품 상세 이미지 슬라이드 -->
          <div class="goods_img_slide_wrap" :style="{'height':windowWidth + 'px'}">
            <!--          <img :src="goodsDetail.imgs" alt="">-->
            <swiper class="swiper" :options="swiperOption">
              <swiper-slide v-for="(item, idx) in goodsDetail.images" :key="idx" :style="{'height':windowWidth + 'px'}"><img :src="item.path" class="img-crop" alt=""></swiper-slide>
              <div class="swiper-pagination img" slot="pagination"></div>
              <!--            :height="windowWidth"-->
            </swiper>
          </div>

          <!-- 상품 상세 상품명 가격 -->
          <div class="goods_title_wrap">
            <dl class="goods_top_title">
              <dt>
                <p class="color-title">
                  {{ goodsDetail.title }}
                </p>
              </dt>
              <dd>
                <template v-if="goodsDetail.promotion_price != goodsDetail.price">
                  <span class="price color-num-point2">{{ Math.ceil(((goodsDetail.price - goodsDetail.promotion_price) / goodsDetail.price) * 100)}}%</span>
                  <span class="price color-num">{{ goodsDetail.promotion_price|number }}원</span>
                  <span class="price_sub color-num-sub2">{{goodsDetail.price|number}}원</span>
                </template>
                <span v-else class="price color-num">{{ goodsDetail.promotion_price|number }}원</span>
              </dd>
              <dd class="btn_wrap_right">
                <button @click="sharePop()" class="btn ico-share-line"></button>
              </dd>
            </dl>
          </div>
          <!-- 상품 상세 배송정보 -->
          <!-- 상품 상세 상단 아코디언 -->
          <div class="goods_info_wrap">
            <table>
              <colgroup>
                <col width="20px;">
                <col width="75px;">
                <col width="1px;">
                <col width="*">
                <col width="20px;">
              </colgroup>
              <tbody>
              <tr>
                <th class="padding-t-8 padding-b-10">
                  <i class="img-goods-money"></i>
                </th>
                <th class="padding-r-10 padding-t-8 padding-b-10">
                  구매적립금
                </th>
                <th class="line padding-t-8 padding-b-10">
                </th>
                <td class="padding-l-10 padding-t-8 padding-b-10">
                  {{ (goodsDetail.promotion_price * 0.015)|number }}원
                </td>
                <td class="padding-t-8 padding-b-10">
                  <!-- 버튼클릭시 토글 -->
                  <button :class="isMileageToggle ? 'icon-arrow-goood-on' : 'icon-arrow-goood-off'" @click="isMileageToggle = !isMileageToggle"></button>
                  <!-- <button class="icon-arrow-goood-off"></button> -->
                </td>
              </tr>
              <!-- 토글 버튼 클릭시 해당 .info_contents 요소 v-if 처리 -->
              <tr class="info_contents" v-if="isMileageToggle">
                <td colspan="5" class="info_txt">
                  적립금은 러마페이로 지급되며 구매확정 이후에 적립됩니다.
                </td>
              </tr>
              <tr class="border">
                <td colspan="5"></td>
              </tr>
              <tr>
                <th class="padding-t-8 padding-b-10">
                  <i class="up img-goods-delivery"></i>
                </th>
                <th class="padding-r-10 padding-t-8 padding-b-10">
                  배송정보
                </th>
                <th class="line padding-t-8 padding-b-10">
                </th>
                <td class="padding-l-10 padding-t-8 padding-b-10">
                                        <span class="delivery_data">
                                            {{goodsDetail.ship_price == 0 ? '무료배송' : (goodsDetail.ship_price) }}
                                        </span>
                  <span class="delivery-data" v-if="goodsDetail.diff_total > 0">
                                   · 평균 <span class="text-B" v-if="goodsDetail.delivery_diff.top_diff === 'diff_3'">3일 이내</span>
                                        <span class="text-B" v-if="goodsDetail.delivery_diff.top_diff === 'diff_4'">4일 이내</span>
                                        <span class="text-B" v-if="goodsDetail.delivery_diff.top_diff === 'diff_5'">5~6일</span>
                                        <span class="text-B" v-if="goodsDetail.delivery_diff.top_diff === 'diff_7'">7일 이상</span>

                                      </span>
                </td>
                <td class="padding-t-8 padding-b-10">
                  <!-- 버튼클릭시 토글 -->
                  <button :class="isDeliveryToggle ? 'icon-arrow-goood-on' : 'icon-arrow-goood-off'" @click="isDeliveryToggle = !isDeliveryToggle"></button>
                  <!-- <button class="icon-arrow-goood-off"></button> -->
                </td>
              </tr>
              <!-- 토글 버튼 클릭시 해당 .info_contents 요소 v-if 처리 -->
              <tr class="info_contents" v-if="isDeliveryToggle">
                <td colspan="5" >
                  <!-- 상품 상세 배송정보 : 배송일 표 -->
                  <ul class="goods_info_delivery_days">
                    <li>
                      <dl class="delivery_days">
                        <dt class="delivery_days_tit text-M" :class="goodsDetail.delivery_diff.top_diff === 'diff_3' ? 'primary-950' : ''">3일 이내</dt>
                        <!-- 퍼센트 바 배경 -->
                        <dd class="delivery_days_bar">
                          <!-- 퍼센트 바  -->
                          <span class="per_bar" :class="goodsDetail.delivery_diff.top_diff === 'diff_3' ? 'btn_pink_pick' : ''" :style="{ 'width': ((goodsDetail.delivery_diff.diff_3 / goodsDetail.diff_total) * 100) +'%' }"></span>
                        </dd>
                        <dd class="delivery_days_per" v-if="goodsDetail.diff_total > 0">{{ isNanCheck(Math.ceil((goodsDetail.delivery_diff.diff_3 / goodsDetail.diff_total) * 100 ))}}%</dd>
                        <dd class="delivery_days_per" v-else>-</dd>
                      </dl>
                    </li>
                    <li>
                      <dl class="delivery_days">
                        <dt class="delivery_days_tit" :class="goodsDetail.delivery_diff.top_diff === 'diff_4' ? 'primary-950' : ''">4일 이내</dt>
                        <dd class="delivery_days_bar">
                          <!-- 퍼센트 바  -->
                          <span class="per_bar" :class="goodsDetail.delivery_diff.top_diff === 'diff_4' ? 'btn_pink_pick' : ''" :style="{ 'width': ((goodsDetail.delivery_diff.diff_4 / goodsDetail.diff_total) * 100) +'%' }"></span>
                        </dd>
                        <dd class="delivery_days_per" v-if="goodsDetail.diff_total > 0">{{ isNanCheck(Math.ceil((goodsDetail.delivery_diff.diff_4 / goodsDetail.diff_total) * 100)) }}%</dd>
                        <dd class="delivery_days_per" v-else>-</dd>
                      </dl>
                    </li>
                    <li>
                      <dl class="delivery_days">
                        <dt class="delivery_days_tit" :class="goodsDetail.delivery_diff.top_diff === 'diff_5' ? 'primary-950' : ''">5 ~ 6일</dt>
                        <dd class="delivery_days_bar">
                          <!-- 퍼센트 바  -->
                          <span class="per_bar" :class="goodsDetail.delivery_diff.top_diff === 'diff_5' ? 'btn_pink_pick' : ''" :style="{ 'width': ((goodsDetail.delivery_diff.diff_5 / goodsDetail.diff_total) * 100) +'%' }"></span>
                        </dd>
                        <dd class="delivery_days_per" v-if="goodsDetail.diff_total > 0">{{ isNanCheck(Math.ceil((goodsDetail.delivery_diff.diff_5 / goodsDetail.diff_total) * 100)) }}%</dd>
                        <dd class="delivery_days_per" v-else>-</dd>
                      </dl>
                    </li>
                    <li>
                      <dl class="delivery_days">
                        <dt class="delivery_days_tit" :class="goodsDetail.delivery_diff.top_diff === 'diff_7' ? 'primary-950' : ''"s>7일 이상</dt>
                        <dd class="delivery_days_bar">
                          <!-- 퍼센트 바  -->
                          <span class="per_bar" :class="goodsDetail.delivery_diff.top_diff === 'diff_7' ? 'btn_pink_pick' : ''" :style="{ 'width': ((goodsDetail.delivery_diff.diff_7 / goodsDetail.diff_total) * 100) +'%' }"></span>
                        </dd>
                        <dd class="delivery_days_per" v-if="goodsDetail.diff_total > 0">{{ isNanCheck(Math.ceil((goodsDetail.delivery_diff.diff_7 / goodsDetail.diff_total) * 100)) }}%</dd>
                        <dd class="delivery_days_per" v-else>-</dd>
                      </dl>
                    </li>
                  </ul>
                  <p class="goods_info_delivery_sub">
                    최근 N기간 주문의 배송기간(주말, 공휴일 제외)
                  </p>
                </td>
              </tr>
              <tr class="border">
                <td colspan="5"></td>
              </tr>
              <tr>
                <th class="padding-t-8 padding-b-10">
                  <i class="img-goods-favorite"></i>
                </th>
                <th class="padding-r-10 padding-t-8 padding-b-10">
                  후기 {{ goodsDetail.review_cnt|number }}개
                </th>
                <th class="line padding-t-8 padding-b-10">
                </th>
                <td class="padding-l-10 padding-t-8 padding-b-10">
                  {{ goodsDetail.like_count|number }}명이 좋아하는 상품
                </td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- //상품 상세 상단 아코디언 -->
          <!--        <div class="goods_info_wrap">
                    <ul class="goods_info_top">
                      <li class="color-default">
                        후기 {{ goodsDetail.review_cnt|number }}개
                      </li>
                      <li>
                        {{ goodsDetail.like_count|number }}명이 좋아하는 상품
                      </li>
                    </ul>
                    <ul class="goods_info_delivery floatclear">
                      <li>
                                      <span>
                                          배송비
                                      </span>
                        <p>
                          {{goodsDetail.ship_price == 0 ? '무료배송' : (goodsDetail.ship_price) }}
                        </p>
                      </li>
                      <li>
                                      <span>
                                          배송기간
                                      </span>
                        <p v-if="goodsDetail.diff_total > 0">
                          평균 <span class="text-B" v-if="goodsDetail.delivery_diff.top_diff === 'diff_3'">3일 이내</span>
                              <span class="text-B" v-if="goodsDetail.delivery_diff.top_diff === 'diff_4'">4일 이내</span>
                              <span class="text-B" v-if="goodsDetail.delivery_diff.top_diff === 'diff_5'">5~6일</span>
                              <span class="text-B" v-if="goodsDetail.delivery_diff.top_diff === 'diff_7'">7일 이상</span>

                        </p>
                        <p v-else>
                          <span class="text-B">-</span>
                        </p>
                      </li>
                    </ul>
                    &lt;!&ndash; 상품 상세 배송정보 : 배송일 표 &ndash;&gt;
                    <ul class="goods_info_delivery_days">
                      <li>
                        <dl class="delivery_days">
                          <dt class="delivery_days_tit text-M" :class="goodsDetail.delivery_diff.top_diff === 'diff_3' ? 'primary-950' : ''">3일 이내</dt>
                          &lt;!&ndash; 퍼센트 바 배경 &ndash;&gt;
                          <dd class="delivery_days_bar">
                            &lt;!&ndash; 퍼센트 바  &ndash;&gt;
                            <span class="per_bar" :class="goodsDetail.delivery_diff.top_diff === 'diff_3' ? 'btn_pink_pick' : ''" :style="{ 'width': ((goodsDetail.delivery_diff.diff_3 / goodsDetail.diff_total) * 100) +'%' }"></span>
                          </dd>
                          <dd class="delivery_days_per" v-if="goodsDetail.diff_total > 0">{{ isNanCheck(Math.ceil((goodsDetail.delivery_diff.diff_3 / goodsDetail.diff_total) * 100 ))}}%</dd>
                          <dd class="delivery_days_per" v-else>-</dd>
                        </dl>
                      </li>
                      <li>
                        <dl class="delivery_days">
                          <dt class="delivery_days_tit" :class="goodsDetail.delivery_diff.top_diff === 'diff_4' ? 'primary-950' : ''">4일 이내</dt>
                          <dd class="delivery_days_bar">
                            &lt;!&ndash; 퍼센트 바  &ndash;&gt;
                            <span class="per_bar" :class="goodsDetail.delivery_diff.top_diff === 'diff_4' ? 'btn_pink_pick' : ''" :style="{ 'width': ((goodsDetail.delivery_diff.diff_4 / goodsDetail.diff_total) * 100) +'%' }"></span>
                          </dd>
                          <dd class="delivery_days_per" v-if="goodsDetail.diff_total > 0">{{ isNanCheck(Math.ceil((goodsDetail.delivery_diff.diff_4 / goodsDetail.diff_total) * 100)) }}%</dd>
                          <dd class="delivery_days_per" v-else>-</dd>
                        </dl>
                      </li>
                      <li>
                        <dl class="delivery_days">
                          <dt class="delivery_days_tit" :class="goodsDetail.delivery_diff.top_diff === 'diff_5' ? 'primary-950' : ''">5 ~ 6일</dt>
                          <dd class="delivery_days_bar">
                            &lt;!&ndash; 퍼센트 바  &ndash;&gt;
                            <span class="per_bar" :class="goodsDetail.delivery_diff.top_diff === 'diff_5' ? 'btn_pink_pick' : ''" :style="{ 'width': ((goodsDetail.delivery_diff.diff_5 / goodsDetail.diff_total) * 100) +'%' }"></span>
                          </dd>
                          <dd class="delivery_days_per" v-if="goodsDetail.diff_total > 0">{{ isNanCheck(Math.ceil((goodsDetail.delivery_diff.diff_5 / goodsDetail.diff_total) * 100)) }}%</dd>
                          <dd class="delivery_days_per" v-else>-</dd>
                        </dl>
                      </li>
                      <li>
                        <dl class="delivery_days">
                          <dt class="delivery_days_tit" :class="goodsDetail.delivery_diff.top_diff === 'diff_7' ? 'primary-950' : ''"s>7일 이상</dt>
                          <dd class="delivery_days_bar">
                            &lt;!&ndash; 퍼센트 바  &ndash;&gt;
                            <span class="per_bar" :class="goodsDetail.delivery_diff.top_diff === 'diff_7' ? 'btn_pink_pick' : ''" :style="{ 'width': ((goodsDetail.delivery_diff.diff_7 / goodsDetail.diff_total) * 100) +'%' }"></span>
                          </dd>
                          <dd class="delivery_days_per" v-if="goodsDetail.diff_total > 0">{{ isNanCheck(Math.ceil((goodsDetail.delivery_diff.diff_7 / goodsDetail.diff_total) * 100)) }}%</dd>
                          <dd class="delivery_days_per" v-else>-</dd>
                        </dl>
                      </li>
                    </ul>
                    <p class="goods_info_delivery_sub">
                      최근 N기간 주문의 배송기간(주말, 공휴일 제외)
                    </p>
                  </div>-->

          <div class="division_bold"></div>
          <!-- 상품 상세 브랜드 택 -->
          <div class="goods_brand">
            <div class="btn_wrap_right floatclear">
              <div class="profile_img_m_wrap">
                <img :src="goodsDetail.profile_image" alt="" @click="nativePageOpen('seller', goodsDetail.seller_idx)">
              </div>
              <div class="brand_profile_text" @click="nativePageOpen('seller', goodsDetail.seller_idx)">
                <strong class="profile_name text_ellipsis">
                  {{ goodsDetail.seller_name }}
                </strong>
                <p class="profile_sub text_ellipsis">
                  {{ goodsDetail.seller_introduce }}
                </p>
              </div>
              <button class="btn btn_pink btn_box_round_s" @click="setFollow()" :class="isSellerLike ? '' : 'on'">
                {{isSellerLike ? '팔로잉' : '팔로우'}}
              </button>
            </div>
          </div>
          <div class="division_bold"></div>

          <!-- 상품 상세 탭영역 -->
          <div class="goods_detail_tab">
            <!-- 상품 상세 탭 네비 -->
            <ul class="goods_detail_tab_nav">
              <li :class="tabSelected === 'detail' ? 'on_black_line' : ''" @click="tabSelected = 'detail'">
                <button >
                  상품정보
                </button>
              </li>
              <li :class="tabSelected === 'review' ? 'on_black_line' : ''" @click="tabSelected = 'review'">
                <button >
                  후기 {{ review_total|number }}{{review_total > 999 ? '+' : ''}}
                </button>
              </li>
              <li :class="tabSelected === 'qna' ? 'on_black_line' : ''" @click="tabSelected = 'qna'">
                <button >
                  Q&A
                </button>
              </li>
              <li :class="tabSelected === 'orderInfo' ? 'on_black_line' : ''" @click="tabSelected = 'orderInfo'">
                <button >
                  주문정보
                </button>
              </li>
            </ul>

            <!-- 상품 상세 탭 컨텐츠 -->
            <div class="goods_detail_tab_contents">
              <!--------------------- 상품정보 --------------------->
              <div class="goods_detail" v-if="goodsDetail.delivery_notice_image">
                <img  :src="goodsDetail.delivery_notice_image" />
              </div>
              <div class="goods_detail" v-if="tabSelected === 'detail'" v-html="goodsDetail.content">
              </div>
              <!--------------------- 상품정보 end --------------------->

              <!--------------------- 상품 후기 ---------------------->
              <div class="goods_detail_review" v-if="tabSelected === 'review'" >

                <strong class="detail_sub_title">
                  후기 {{ review_total }}개
                </strong>
                <dl class="goods_review_graph" v-if="goodsDetail.review_cnt > 0">
                  <dt class="goods_review_satisfy" >
                    <strong class="primary-950">{{ Math.ceil((reviewGood.cnt/review_total) *100) }}%</strong> 의 구매자가
                    <br class="display_only_pc">
                    만족했습니다.
                  </dt>
                  <dd class="goods_review_graph_bar">
                    <strong class="goods_review_graph_tit">
                      상품만족도
                    </strong>
                    <p class="goods_review_graph_sub">
                      {{reviewGrade.text|reviewGradeText}}
                      <span>
                                            {{ Math.round((reviewGrade.cnt/review_total) *100)}}%
                                        </span>
                    </p>
                    <span class="bar">
                                        <span class="per_bar " :style="{'width':(reviewGrade.cnt/review_total) *100 + '%'}"></span>
                                    </span>
                  </dd>
                  <dd class="goods_review_graph_bar">
                    <strong class="goods_review_graph_tit">
                      색상
                    </strong>
                    <p class="goods_review_graph_sub">
                      {{reviewColor.text}}
                      <span>
                                            {{ Math.round((reviewColor.cnt/review_total) *100)}}%
                                        </span>
                    </p>
                    <span class="bar">
                                        <span class="per_bar " :style="{'width':(reviewColor.cnt/review_total) *100 + '%'}"></span>
                                    </span>
                  </dd>
                  <dd class="goods_review_graph_bar">
                    <strong class="goods_review_graph_tit">
                      사이즈
                    </strong>
                    <p class="goods_review_graph_sub">
                      {{reviewSize.text}}
                      <span>
                                            {{ Math.round((reviewSize.cnt/review_total) *100)}}%
                                        </span>
                    </p>
                    <span class="bar">
                                        <span class="per_bar " :style="{'width':(reviewSize.cnt/review_total) *100 + '%'}"></span>
                                    </span>
                  </dd>
                  <dd class="goods_review_graph_join">
                    {{ review_total }}명 참여
                  </dd>
                </dl>

                <div class="division_line"></div>
                <!-- 후기 필터 -->
                <div class="goods_review_filter btn_wrap_right" >
                  <input type="checkbox" class="" id="poto_check" v-model="isReviewPhoto">
                  <label for="poto_check">포토후기만 보기</label>

                  <button class="btn btn_box_round_line_ss " :class="myBody ? 'btn_pink_line' : 'btn_gray_line'" @click="getGoodsReviewBody">
                    내 체형 후기
                  </button>
                </div>

                <div class="division_bold"></div>
                <!-- 후기 리스트 -->
                <ul class="goods_detail_review_list">
                  <li v-for="item in reviewList" v-if="reviewList.length > 0" :key="item.idx" @click="nativePageOpen('postscript', item.idx, item)">
                    <!-- 후기 프로필 -->
                    <div class="goods_review_profile">
                      <div class="review_profile_img">
                        <img :src="item.profile_img" alt="">
                      </div>
                      <div class="profile_sub">
                        <div class="stars_wrap">
                          <i class="ico" :class="item.postscript.review_grade >= 1 ? 'ico-stars-on' : 'ico-stars-off'"></i>
                          <i class="ico" :class="item.postscript.review_grade >= 2 ? 'ico-stars-on' : 'ico-stars-off'"></i>
                          <i class="ico" :class="item.postscript.review_grade >= 3 ? 'ico-stars-on' : 'ico-stars-off'"></i>
                          <i class="ico" :class="item.postscript.review_grade >= 4 ? 'ico-stars-on' : 'ico-stars-off'"></i>
                          <i class="ico" :class="item.postscript.review_grade === 5 ? 'ico-stars-on' : 'ico-stars-off'"></i>
                        </div>
                        <p class="review_profile_sub">
                          {{ item.nic_name }} | {{ item.create_date }}
                        </p>
                      </div>
                    </div>

                    <!-- 체형 택 -->
                    <div class="body_profile_tag" v-if="item.is_body_open === '1'">
                      <p>{{ item.user_height }}</p>
                      <i/>
                      <p>{{ item.user_size }}</p>
                      <template v-if="item.postscript.order.option_type !== 'beauty'">
                        <i/>
                        <p>{{ item.user_foot_size }}</p>
                      </template>
                      <template v-if="item.postscript.order.option_type === 'beauty'">
                        <i/>
                        <p>{{ item.user_skin }}</p>
                      </template>

                    </div>
                    <!-- //체형 택 -->

                    <!-- 후기 텍스트 -->
                    <p class="goods_review_text">
                      {{
                        item.contents
                      }}
                      <!--                    <p class="view_more_type1">-->
                      <!--                      + 더보기-->
                      <!--                    </p>-->
                    </p>

                    <!-- 후기 이미지 -->
                    <div class="square_img_col_3">
                      <div class="square_img_col_wrap floatclear">
                        <button class="img_wrap" v-for="img in item.files" :key="img.idx">
                          <img :src="img.full_path" alt="">
                        </button>
                      </div>
                    </div>
                  </li>
                  <li v-if="reviewInfo.last_page > reviewPage">
                    <div class="arcodian_title btn_wrap_right"  @click="getReviewMore()">
                      <strong class="arcodian_contents_qna_title">
                        더보기
                      </strong>
                    </div>
                  </li>
                  <li class="empty_contents" v-if="reviewList.length <= 0">
                    <div class="empty_contents_wrap">
                      <span class="empty_contents_ico"></span>
                      <p class="empty_contents_text">
                        상품별 첫 포토후기 작성 시 러마페이 2,000원 지급
                      </p>
                    </div>
                  </li>
                </ul>

              </div>
              <!--------------------- 상품 후기 end ---------------------->

              <!--------------------- 상품 Q&A --------------------->
              <div class="goods_detail_QnA" v-if="tabSelected === 'qna'" >

                <strong class="detail_sub_title">
                  상품 문의
                </strong>

                <div class="goods_detail_QnA_wrap">
                  <select class="select_boxline_type margin-b-12" @click.prevent.stop="$selectPopup(qnaCategory, 'status', 'code', '선택', 'mStatus', $event, $data)">
                    <option value="">카테고리를 선택해주세요.</option>
                    <option v-for="item in qnaCategory" :key="item.code" :value="item.code">{{item.status}}</option>
                  </select>

                  <div class="text_area_box">
                                    <textarea class="textarea_boxline_type" v-model="qnaComment"
                                              :input="keyType()"
                                              placeholder="내용을 입력해주세요." cols="80" rows="6" maxlength="1000">
                                    </textarea>
                    <p class="textarea_sub">
                      <span class="textarea_sub_num" id="byteLen">0</span> / 1,000
                    </p>
                  </div>

                  <button type="submit" @click="qnaComment.length > 0 && mStatus ? setQna() : ''" class="btn btn_box btn_pink margin-t-20 margin-b-20" :class="qnaComment.length > 0 && mStatus ? 'on' : ''">
                    문의하기
                  </button>
                </div>
                <div class="division_bold"></div>

                <div class="goods_review_filter btn_wrap_right" >
                  <input type="checkbox" class="" id="myqna_check" v-model="isMyQna">
                  <label for="myqna_check">나의 Q&A</label>

                </div>

                <ul class="arcodian_list" >
                  <!-- li에 class="on" 붙일시 토글   -->
                  <li v-for="item in qnaList" :key="'qna_'+item.id" :class="getQnaFold(item.id) ? 'on' : 'off'">
                    <!-- 아코디언 타이틀 -->
                    <div class="arcodian_title btn_wrap_right"  @click="setQnaFold(item.id)">
                      <div class="arcodian_contents_qna_top">
                                            <span class="qna_top_state primary-950">
                                                {{item.state}}
                                            </span>
                        <i class="division_line_text"></i>
                        <p class="qna_top_time">
                          {{ item.created_at}}
                        </p>
                      </div>
                      <strong class="arcodian_contents_qna_title">
                        {{ item.question }}
                      </strong>

                      <button class="btn btn_arrow_toggle ico_arrow_toggle">
                      </button>
                    </div>

                    <!-- 아코디언 토글 될 컨텐츠  -->
                    <div class="arcodian_contents_wrap">
                      <!-- 아코디언 컨텐츠 질문  -->
                      <div class="arcodian_contents_box profile_boxs">
                        <div class="arcodian_contents_img_wrap">
                          <div class="arcodian_contents_img">
                            <i class="ico ico-quest"></i>
                          </div>
                        </div>
                        <div class="arcodian_contents_text">
                          <p class="arcodian_contents_qus">
                            {{ item.question }}
                          </p>
                          <p class="arcodian_contents_time">
                            {{ item.created_at }}
                          </p>
                        </div>
                      </div>

                      <!-- 아코디언 컨텐츠 답변  -->
                      <div class="arcodian_contents_box profile_boxs bg-white" v-if="item.answered_at">
                        <div class="arcodian_contents_img_wrap">
                          <div class="arcodian_contents_img">
                            <img :src="item.seller_profile" alt="">
                          </div>
                        </div>
                        <div class="arcodian_contents_text">
                                                <span class="arcodian_contents_name">
                                                    {{ item.seller_name }}
                                                </span>
                          <div class="arcodian_contents_qus" >
                            {{item.answer}}
                          </div>
                          <p class="arcodian_contents_time">
                            {{ item.answered_at }}
                          </p>
                        </div>
                      </div>
                      <!-- 아코디언 컨텐츠 답변end  -->
                    </div>
                  </li>
                  <li>
                    <div class="arcodian_title btn_wrap_right" v-if="qnaInfo.last_page > qnaPage" @click="getQnaMore()">
                      <strong class="arcodian_contents_qna_title">
                        더보기
                      </strong>
                    </div>
                  </li>
                  <li class="empty_contents" v-if="qnaList.length <= 0">
                    <div class="empty_contents_wrap">
                      <span class="empty_contents_ico"></span>
                      <p class="empty_contents_text">
                        등록된 게시글이 없습니다.
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
              <!--------------------- 상품 Q&A end --------------------->

              <!--------------------- 상품 주문정보 ----------------------->
              <div class="goods_detail_orderinfo" v-if="tabSelected === 'orderInfo'" >

                <strong class="detail_sub_title">
                  주문정보
                </strong>

                <ul class="arcodian_list">
                  <!-- 클래스 li에 클래스 on 줄시 토글 -->
                  <li :class="orderInfo1 ? 'on' : 'off'" >
                    <!-- 아코디언 타이틀 -->
                    <div class="arcodian_title btn_wrap_right" @click="orderInfo1 = !orderInfo1">
                      <strong class="arcodian_contents_title">
                        상품 정보 고시
                      </strong>

                      <button class="btn btn_arrow_toggle ico_arrow_toggle" >
                      </button>
                    </div>

                    <!-- 아코디언 토글 될 컨텐츠  -->
                    <div class="arcodian_contents_wrap">
                      <div class="arcodian_contents_box">
                        <!--                      <div class="contents_box_left">-->
                        <!--                        <p v-for="(item, idx) in goodsDetailContent" :key="idx">{{ item.label }}</p>-->
                        <!--                      </div>-->
                        <!--                      <div class="contents_box_right">-->
                        <!--                        <p class="color-default" v-for="(item, idx) in goodsDetailContent" :key="idx">{{ item.value }}</p>-->
                        <!--                      </div>-->
                        <ul class="contents_box_list">
                          <li v-for="(item, idx) in goodsDetailContent" :key="idx" style="margin-bottom: 5px">
                          <span class="left" style="width: 40%">
                              {{ item.label }}
                          </span>
                            <span class="color-default right" style="width: 60%;padding-left: 10px">
                              {{ item.value }}
                          </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>

                  <li :class="orderInfo2 ? 'on' : 'off'" >
                    <!-- 아코디언 타이틀 -->
                    <div class="arcodian_title btn_wrap_right" @click="orderInfo2 = !orderInfo2">
                      <strong class="arcodian_contents_title">
                        스토어 정보
                      </strong>

                      <button class="btn btn_arrow_toggle ico_arrow_toggle" >
                      </button>
                    </div>

                    <!-- 아코디언 토글 될 컨텐츠  -->
                    <div class="arcodian_contents_wrap">
                      <div class="arcodian_contents_box floatclear">
                        <p class="margin-b-10 color-default">
                          해당 판매자에게 문의하시면 더 신속, 정확한 안내를 받아보실 수 있습니다.
                        </p>

                        <ul class="contents_box_list">
                          <li>
                                                        <span class="left">
                                                            상호
                                                        </span>
                            <span class="color-default right">
                                                            {{ goodsDetail.seller_co_name }}
                                                        </span>
                          </li>
                          <li>
                                                        <span class="left">
                                                            브랜드
                                                        </span>
                            <span class="color-default right">
                                                            {{ goodsDetail.seller_name }}
                                                        </span>
                          </li>
                          <li>
                                                        <span class="left">
                                                            사업자번호
                                                        </span>
                            <span class="color-default right">
                                                            {{ goodsDetail.seller_company_reg_num }}
                                                        </span>
                          </li>
                          <li>
                                                        <span class="left">
                                                            통신사판매 신고번호
                                                        </span>
                            <span class="color-default right">
                                                             {{ goodsDetail.seller_comm_reg_num }}
                                                            </span>
                          </li>
                          <li>
                                                        <span class="left">
                                                            연락처
                                                        </span>
                            <span class="color-default right">
                                                            {{ goodsDetail.seller_cs_tel }}
                                                        </span>
                          </li>
                          <li>
                                                        <span class="left">
                                                            E-mail
                                                        </span>
                            <span class="color-default right">
                                                            {{ goodsDetail.seller_manager_mail }}
                                                        </span>
                          </li>
                          <li>
                                                        <span class="left">
                                                            주소
                                                        </span>
                            <span class="color-default right">
                                                            {{ goodsDetail.seller_co_address1 + ' ' + goodsDetail.seller_co_address2 }}
                                                        </span>
                          </li>
                          <li>
                                                        <span class="left">
                                                            교환 / 반품 주소
                                                        </span>
                            <span class="color-default right">
                                                            {{ goodsDetail.seller_default_return_address }}
                                                        </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>

                  <li :class="orderInfo3 ? 'on' : 'off'">
                    <!-- 아코디언 타이틀 -->
                    <div class="arcodian_title btn_wrap_right"  @click="orderInfo3 = !orderInfo3">
                      <strong class="arcodian_contents_title">
                        배송정보
                      </strong>

                      <button class="btn btn_arrow_toggle ico_arrow_toggle">
                      </button>
                    </div>

                    <!-- 아코디언 토글 될 컨텐츠  -->
                    <div class="arcodian_contents_wrap">
                      <div class="arcodian_contents_box">
                        <p>- 브랜드 및 제품에 따라 입점 업체(브랜드) 배송과 러블리마켓 자체 배송으로 나뉩니다.</p>
                        <p>- 입점 업체(브랜드) 배송의 경우 업체마다 개별 배송비가 부여됩니다.</p>
                        <p>- 결제완료 후 약 1~3일 후 출고됩니다.</p>
                        <p>- 제주/도서산간 지역은 추가 배송일과 추가 배송비가 결제금액에 추가될 수 있습니다.</p>
                      </div>
                    </div>
                  </li>

                  <li :class="orderInfo4 ? 'on' : 'off'" >
                    <!-- 아코디언 타이틀 -->
                    <div class="arcodian_title btn_wrap_right" @click="orderInfo4 = !orderInfo4">
                      <strong class="arcodian_contents_title">
                        교환/환불 안내
                      </strong>

                      <button class="btn btn_arrow_toggle ico_arrow_toggle">
                      </button>
                    </div>

                    <!-- 아코디언 토글 될 컨텐츠  -->
                    <div class="arcodian_contents_wrap">
                      <div class="arcodian_contents_box">
                        <p>- 상품 수령일로부터 7일 이내 교환/환불 접수 가능합니다.</p>
                        <p>- 상품 개봉 후 소비자 부주의에 의한 파손이나 결함은 교환/환불 사유가 되지 않습니다.</p>
                        <p>- 사이즈/색상 변경으로 인한 교환인 경우 반송비를 동봉해주셔야 합니다.</p>
                        <p>- 단순변심 반품의 경우 결제 금액에서 반송비를 차감하므로 반송비를 동봉하지 않습니다.</p>
                        <p>- 단순변심 반품의 경우 제품 및 포장 상태가 재판매 가능하여야 합니다.</p>
                        <p>- 오배송, 상품불량인 경우는 배송비를 포함한 전액이 환불됩니다.</p>
                        <p>- 반품 주소지는 업체(브랜드)마다 다르므로 반송 시 각각 보내야 합니다.</p>
                        <p>- 출고 이후 환불요청 시 상품 회수 후 처리됩니다.</p>
                        <p>- ㈜플리팝은 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 ㈜플리팝는 상품·거래정보 및 거래에 대하여 책임을 지지
                          않습니다.</p>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
              <!--------------------- 상품 주문정보 end ----------------------->

            </div>


          </div>
        </div>
      </div>
      <!-- 하단 팝업 (구매옵션 용) -->
      <!-- 디폴트 display: none; 클래스 on 붙일시 팝업 -->
      <div class="popup_option"  style="display: none">
        <div class="background-popup" ></div>
        <div class="popup_option_wrap">
          <div class="popup_content_wrap">
            <!-- <strong class="popup_title">
                옵션을 선택해 주세요.
            </strong> -->
            <select class="select_boxline_type in_popup margin-b-20" name="" >
              <option value="">옵션을 선택해주세요.</option>
              <option value="">그레이</option>
              <option value="">블랙</option>
              <option value="">네이비</option>
              <option value="">베이지</option>
            </select>
            <select class="select_boxline_type in_popup margin-b-20" name="" >
              <option value="">옵션을 선택해주세요.</option>
              <option value="">160cm</option>
              <option value="">150cm</option>
              <option value="">140cm</option>
            </select>

            <div class="division_line"></div>

            <p class="in_popup_total">
              총 결제금액
              <span class="price">
                                10,500원
                            </span>
            </p>
            <div class="popup_btn_wrap col_2">
              <button class="btn btn_pink_line btn_box">
                장바구니
              </button>
              <!-- a태그에 class="on" 붙일시 클릭효과 -->
              <button class="btn btn_pink btn_box">
                바로구매
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- //하단 팝업 (구매옵션 용) -->
      <!-- 하단 팝업 (셀렉트 용) -->
      <!-- 디폴트 display: none; 클래스 on 붙일시 팝업 -->
      <div class="popup_option" style="display: none">
        <div class="popup_option_wrap">
          <div class="popup_content_wrap">
            <strong class="popup_title">
              반품신청 사유를 선택해 주세요.
            </strong>
            <div class="division_line"></div>

            <div class="radio_option">
              <label for="return_request1">
                재입고
                <input type="radio" value="restock" name="return_request" id="return_request1" checked>
                <i></i>
              </label>
            </div>
            <div class="radio_option">
              <label for="return_request2">
                사이즈
                <input type="radio" value="size" name="return_request" id="return_request2">
                <i></i>
              </label>
            </div>
            <div class="radio_option">
              <label for="return_request3">
                배송
                <input type="radio" value="delivery" name="return_request" id="return_request3">
                <i></i>
              </label>
            </div>
            <div class="radio_option">
              <label for="return_request4">
                기타
                <input type="radio" value="Etc" name="return_request" id="return_request4">
                <i></i>
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- //하단 팝업 (셀렉트 용) -->

      <!-- 하단 팝업 (공유 용) -->
      <!-- 디폴트 display: none; 클래스 on 붙일시 팝업 -->
      <div class="popup_option" style="display: none">
        <div class="popup_option_wrap">
          <div class="popup_content_wrap">
            <div class="btn_wrap_left">
              <button class="btn ico-close"></button>
            </div>

            <strong class="popup_title center">
              러블리마켓 게시물을
              <br>
              SNS에 공유해보세요
            </strong>

            <div class="btn_wrap_sns">
              <button class="btn ico-sns-facebook"></button>
              <button class="btn ico-sns-kakao"></button>
              <button class="btn ico-sns-url"></button>
            </div>
          </div>
        </div>
      </div>
      <!-- //하단 팝업 (공유 용) -->
      <store-purchase-popup :goodsId="param" :goodsInfo="goodsDetail"/>
    </section>
    <!-- 하단 버튼 -->
    <!--    <div class="btn_wrap_bottom"  @click="StorePurchaseOpen()">-->
    <!--      &lt;!&ndash; a태그에 class="on" 붙일시 클릭효과 &ndash;&gt;-->
    <!--      <button class="btn btn_wid_100 btn_pink_cock" :class="goodsDetail.is_like_state === 1 ? 'on' : ''">-->
    <!--        <span class="btn_wrap_right"  >-->
    <!--            구매하기-->
    <!--            <i class="btn-ico ico-fleapop-cock" @click="goodsLike()"></i>-->
    <!--        </span>-->
    <!--      </button>-->
    <!--    </div>-->
    <div class="btn_wrap_bottom" v-if="isDetailInfo">
      <!-- 핫딜 버튼 베너 -->
      <div class="hotdeal_banner_wrap" v-if="isHotdealTime && hotdealTimer">
        <p class="hotdeal_text">
          <i class="ico-hotdeal-timer"></i>
          마감까지
          <span class="hotdeal_time">
            {{hotdealTimer}}
                    </span>
          남았습니다.
        </p>
      </div>
      <!-- //핫딜 버튼 베너 -->
      <button class="btn btn_wid_100 btn_pink_cock floatclear" v-if="goodsDetail.isStockSale && goodsDetail.stock_state === 'sale'">
        <span class="btn_100_text" @click="StorePurchaseOpen()">
            구매하기
        </span>
        <!-- i태그에 class="on" 붙일시 클릭효과 -->
        <span class="ico-fleapop-cock-wrap"  :class="goodsDetail.is_like_state === 0 ? 'off' : 'on'">
            <i class="ico-fleapop-cock-100" @click="goodsLike()" ></i>
        </span>
      </button>
      <button class="btn btn_wid_100 btn_gray floatclear" style="background-color: #a7a7a7" v-else>
        <span class="btn_100_text" style="color: #fff">
            이 상품은 품절되었습니다.
        </span>
        <!-- i태그에 class="on" 붙일시 클릭효과 -->
        <span class="ico-fleapop-cock-wrap"  :class="goodsDetail.is_like_state === 0 ? 'off' : 'on'">
            <i class="ico-fleapop-cock-100" @click="goodsLike()" ></i>
        </span>
      </button>
    </div>
    <!-- //하단 버튼 -->
  </div>
</template>

<script>
import _ from 'lodash'
import subviewStackMixin from '@/mixins/subview-stack-mixin'
import UIHeader from "@/components/UIHeader"
import Native from '@/lib/native'

// Swiper
import SwiperClass, { Navigation, Pagination, /* add some modules if you need */ } from "swiper";
SwiperClass.use([Navigation, Pagination]);

import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper'
import 'swiper/swiper-bundle.css'
import 'swiper/swiper.min.css';
import 'swiper/components/navigation/navigation.min.css';
import 'swiper/components/pagination/pagination.min.css';

import StorePurchasePopup from '@/components/store/StorePurchasePopup'
export default {
  name: "GoodsDetail",
  components: {UIHeader, StorePurchasePopup, Swiper, SwiperSlide},
  mixins: [
    subviewStackMixin
  ],
  directives: {
    swiper: directive
  },
  data () {
    return {
      swiperOption: {
        spaceBetween: 0,
        pagination: {
          el: '.swiper-pagination.img',
          type: "bullets",
          clickable: true
        }
      },
      isImgShow: false,
      goodsDetail: {
        delivery_diff: {
          diff_3: 0,
          diff_4: 0,
          diff_5: 0,
          diff_7: 0,
          top_diff: '',
          is_like_state: 0
        },
        isStockSale: true
      },
      isDetailInfo: false,
      isNative: '',
      tabSelected: 'detail',
      orderInfo1: true,
      orderInfo2: true,
      orderInfo3: true,
      orderInfo4: true,
      reviewList: [],
      reviewInfo: {
        last_page: 0
      },
      isReviewPhoto: false,
      isMyQna: false,
      qnaInfo: {
        last_page: 0
      },
      qnaList: [],
      qnaListTemp: [],
      qnaFold: [],
      qnaCategory: [
        {status: '재입고', code: '재입고'},
        {status: '사이즈', code: '사이즈'},
        {status: '배송', code: '배송'},
        {status: '기타', code: '기타'}
      ],
      mStatus: '',
      qnaComment: '',
      isQnaSecret: false,
      reviewGrade: {},
      reviewColor: {},
      reviewSize: {},
      reviewGood: {},
      review_total: 0,
      reviewLength: 0,
      qnaPage: 1,
      reviewPage: 1,
      isQnaFullPage: false,
      isSellerLike : false,
      isHotdealTime: false,
      hotdealTimer: '',
      timerObj: null,
      isReviewData : true,
      goodsDetailContent: [],
      evalByte: 0,
      myBody: false,
      windowWidth: 375,
      isMileageToggle: false,
      isDeliveryToggle: false
    }
  },
  props: {
    param: {
      // eslint-disable-next-line vue/require-prop-type-constructor
      type: Number | String,
      default: 0
    }
  },
  watch: {
    isReviewPhoto (v) {
      this.getGoodsReview()
    },
    isMyQna () {
      this.qnaPage = 1
      this.isQnaFullPage = true
      this.getGoodsQna()
    },
    param () {
      if(this.goodsDetail) {
        this.getGoodsDetail()
        this.getGoodsReview()
        this.getGoodsQna()
      }
    },
    qnaComment (v) {
      console.log(v)
      console.log(v.length)
    }
  },
  computed: {
    isQnaCommentLength () {
      var len = 0;
      console.log(this.qnaComment)
      for (var i = 0; i < this.qnaComment.length; i++) {
        if (escape(this.qnaComment.charAt(i)).length == 6) {
          len++;
        }
        len++;
      }
      return len;
    },
    userData () {
      return this.$store.getters.userData
    }
  },
  created() {
    this.windowWidth = window.innerWidth > 0 ? window.innerWidth : 375
    // window.requestNativeLogin(10001508, '5c383be9b0f4cdd6d76afca32f635f95ba02bf82c1ded340316a6d7c50d296f8', 1)
    this.getGoodsDetail()
    this.getGoodsReview()
    this.getGoodsQna()
    this.setRoas()
    this.isNative = navigator.userAgent + ' _____ ' + typeof (window.webkit)
  },
  mounted() {
    this.windowWidth = window.innerWidth > 0 ? window.innerWidth : 375
  },
  methods: {
    keyType () {
      if (this.evalByte >= 1000) {
        this.qnaComment = this.qnaComment.substring(0, 1000)
      }
      $('#byteLen').text(this.getTextLength(this.qnaComment))
    },
    getTextLength (str) {
      let codeByte = 0
      for (let idx = 0; idx < str.length; idx++) {
        codeByte++
      }
      this.evalByte = codeByte
      return codeByte
    },
    nativePageOpen (type, idx, item = null) {
      if (item != null && type === 'postscript') {
        let isImg = item.files.length > 0
        if (isImg) {
          this.$native.goPageOpen(type, idx, 1)
        } else {
          this.$native.goPageOpen(type, idx, 0)
        }
      } else {
        this.$native.goPageOpen(type, idx, 0)
      }

    },
    hotdealCounting () {
      let toTime = new Date(this.goodsDetail.hotdeal_end.replace(" ", "T"));
      let fromTime = new Date();
      if(toTime - fromTime < 0) {
        this.isHotdealTime = false
      } else {
        this.hotdealTimer = ''
        // console.log(123)
        this.isHotdealTime = true
        this.timerObj = window.setInterval(() => {

          let endDate = new Date(toTime)
          let startDate = new Date()

          let dateGap = endDate.getTime() - startDate.getTime();

          let timeGap = new Date(0, 0, 0, 0, 0, 0, endDate - startDate);

          let diffDay = Math.floor(dateGap / (1000 * 60 * 60 * 24)); // 일수
          let diffHour = timeGap.getHours();       // 시간
          let diffMin = timeGap.getMinutes();      // 분
          let diffSec = timeGap.getSeconds();      // 초
// console.log(Math.floor(dateGap /1000))

          this.hotdealTimer = (diffDay < 10 ? '0' + diffDay: diffDay) + '일 '
            + (diffHour < 10 ? '0' + diffHour: diffHour) + ':'
            + (diffMin < 10 ? '0' + diffMin: diffMin) + ':'
            + (diffSec < 10 ? '0' + diffSec: diffSec)
          let setSec = Math.floor(dateGap / 1000)
          if (setSec <= 0) {
            window.clearInterval(this.timerObj)
            this.isHotdealTime = false
          }
        }, 1000)
      }
    },
    goodsLike () {
      let data = {
        'table_name': 'goods',
        'table_idx': this.param
      }
      this.$http.post('common/like/set', data).then(res => {
        console.log(res)
        this.goodsDetail.is_like_state = res.data.is ? 1 : 0
      })
    },
    sharePop () {
      Native.storeSharePop('공유', this.param)
    },
    isNanCheck (v) {
      if(isNaN(v)) {
        return 0
      } else {
        return v
      }
    },
    setQna () {
      if (this.userData && (this.userData.user_idx === 0 || this.userData.user_idx === '')) {
        Native.openLoginPop()
        return false
      }
      if (this.mStatus && this.qnaComment) {
        let data = {
          'seller_id': this.goodsDetail.seller_id,
          'goods_id': this.goodsDetail.goods_id,
          'category': this.mStatus,
          'question': this.qnaComment,
          'is_secret': this.isQnaSecret,
        }
        this.$http.post('user/question/set', data).then(res => {
          this.qnaComment = ''
          console.log(res)
          this.isQnaFullPage = true
          this.getGoodsQna()
        })
      }
    },
    getQnaFold (v) {
      let arrayCheck = this.qnaFold.indexOf(v)
      return arrayCheck >= 0
    },
    setQnaFold (v) {
      let arrayCheck = this.qnaFold.indexOf(v)
      if (arrayCheck >= 0) {
        this.qnaFold.splice(arrayCheck, arrayCheck + 1)
      } else {
        this.qnaFold.push(v)
      }
    },
    StorePurchaseOpen () {
      // this.stackPush('GoodsOrderResult', null, 123)
      let localUserData = localStorage.getItem('user_data')
      if ((this.userData && (this.userData.user_idx === 0 || this.userData.user_idx === '')) || !localUserData) {
        Native.openLoginPop()
        return false
      }
      let isSingle = this.goodsDetail.option_titles.length < 2
      this.$StorePurchaseOpen.open(this.param, isSingle)
    },
    getGoodsDetail () {
      this.$http.get('store/goods/detail?goodsId=' + this.param).then(res => {
        console.log(res)
        if (res.data) {
          // this.$http.get('store/store').then(res => {
          this.windowWidth = window.innerWidth > 0 ? window.innerWidth : 375
          this.goodsDetail = res.data
          this.goodsDetail.delivery_diff.diff_3 = parseInt(this.goodsDetail.delivery_diff.diff_3)
          this.goodsDetail.delivery_diff.diff_4 = parseInt(this.goodsDetail.delivery_diff.diff_4)
          this.goodsDetail.delivery_diff.diff_5 = parseInt(this.goodsDetail.delivery_diff.diff_5)
          this.goodsDetail.delivery_diff.diff_7 = parseInt(this.goodsDetail.delivery_diff.diff_7)
          // this.goodsDetail.delivery_diff.top_diff = this.goodsDetail.delivery_diff.top_diff
          this.goodsDetail.diff_total = parseInt(this.goodsDetail.delivery_diff.diff_3) + parseInt(this.goodsDetail.delivery_diff.diff_4) + parseInt(this.goodsDetail.delivery_diff.diff_5) + parseInt(this.goodsDetail.delivery_diff.diff_7)
          this.isSellerLike = res.data.is_seller_like
          this.goodsDetailContent = JSON.parse(this.goodsDetail.detail)
          if (this.goodsDetail.is_hotdeal === 1) {
            this.hotdealCounting()
          }
          console.log(res)
          this.isDetailInfo= true
        } else {
          Native.alert('삭제된 상품입니다.')
          Native.windowClose()
        }
      }).catch(e => {
        console.warn(e)
      })
    },
    getGoodsReviewBody () {
      this.myBody = !this.myBody
      this.getGoodsReview();
    },
    getGoodsReview () {
      this.isPhoto = this.isReviewPhoto ? 1 : 0
      let myBody = this.myBody ? 1 : 0
      this.$http.get('community/fit/goods/list?goods_id=' + this.param + '&is_img=' + this.isPhoto + '&my_body=' + myBody).then(res => {
        // this.$http.get('store/store').then(res => {
        this.reviewList = res.data.data
        if (this.isReviewData) {
          this.reviewGrade = res.data.review_grade
          this.reviewColor = res.data.review_color
          this.reviewSize = res.data.review_size
          this.reviewGood = res.data.review_good
          this.review_total = res.data.total
          this.reviewLength = res.data.data.length
        }
        this.reviewInfo = res.data
        this.isReviewData = false
        console.log(res)
      }).catch(e => {
        console.warn(e)
      })
    },
    getGoodsQna () {
      let isMyQna = this.isMyQna ? 0 : 1
      this.$http.get('user/question/goods?page=' + this.qnaPage + '&is_all=' + isMyQna + '&goods_id=' + this.param + '&isQnaFullPage=' + this.isQnaFullPage + '&isMyQna=' + isMyQna).then(res => {
        // this.$http.get('store/store').then(res => {
        this.qnaInfo = res.data
        if (this.isQnaFullPage) {
          this.qnaList = res.data.data
        } else {
          this.qnaList = _.concat(this.qnaList, res.data.data)
        }

        this.isQnaFullPage = false
        console.log(res)
      }).catch(e => {
        console.warn(e)
      })
    },
    getQnaMore () {
      this.qnaPage = this.qnaPage + 1
      this.getGoodsQna()
    },
    getReviewMore () {
      this.reviewPage = this.reviewPage + 1
      this.getGoodsReview()
    },
    productAfterEnter (el) {
      console.log('productAfterEnter')
      console.log(this.param)
      this.isImgShow = true
      this.afterEnter(el)
    },
    parentStackPush (data) {
      this.stackPush('GoodsOrder',null,data)
    },
    setFollow () {
      if (this.userData && (this.userData.user_idx === 0 || this.userData.user_idx === '')) {
        Native.openLoginPop()
        return false
      }
      let data = {
        'table_name': 'seller_tbl',
        'table_idx': this.goodsDetail.seller_id
      }
      this.$http.post('common/like/set', data).then(res => {
        this.isSellerLike = res.data.is
        console.log(res)
      })
    },
    setRoas() {
      this.$http.get('store/goods/roas?goodsId=' + this.param).then(res => {
      }).catch(e => {
        console.warn(e)
      })
    }
  },
  filters: {
    reviewGradeText (type) {
      console.log('test___' + type)
      switch (type) {
        case 1:
          return '별로에요'
        case 2:
          return '그저그래요'
        case 3:
          return '좋아요'
        case 4:
          return '추천해요!'
        case 5:
          return '완전 추천해요!'
        default:
          return '미등록'
      }
    }
  },
  beforeRouteLeave(to, from, next) {
    this.$StorePurchaseOpen.close()
    next()
  }
}
</script>

<style scoped>
/*@import "../../assets/css/fleapop/flCommon.css";*/
/*@import "../../assets/css/fleapop/flReview.css";*/
@import "../../assets/css/store/common.css";
@import "../../assets/css/store/viewGoods.css";

.content_body {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: #fff;
}
.detail-content img {
  width: 100%;
  max-width: 100%;
  display: block;
}
.goods_detail_review {
  /*padding-bottom: 90px;*/
}
.btn_pink_pick {
  background-color: #ff7474 !important;
}

.img-crop {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

</style>