<template>
  <transition mode="" :name="option.animation" @after-Enter="productAfterEnter">
    <div class="test-body">
      <h1>
        TEST PAGE
      </h1>
    </div>
  </transition>
</template>

<script>
import subviewStackMixin from '@/mixins/subview-stack-mixin'
export default {
  name: "GoodsInquiry",
  mixins: [
    subviewStackMixin
  ],
  methods: {
    productAfterEnter (el) {
      console.log('productAfterEnter')
      this.isImgShow = true
      this.afterEnter(el)
    }
  }
}
</script>

<style scoped>
  .test-body {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #fff;
    display: block;
  }
</style>