<template>
  <div class="container">
    <div class="top_title">
      <div class="top_title_wrap floatclear">
        <a class="ico ico_arrow_left top_left" @click="submit">
        </a>
        <h3 class="top_title">
          주문하기
        </h3>
      </div>
    </div>
    <section class="scroll_area_section" v-scroll-lock="false">


      <div class="contents_area">
        <div class="contents_wrap" v-if="isLoad === 1">
          <div class="order_complete_info">
                        <span class="order_complete_num">
                            주문번호 : {{ info.order_number }}
                        </span>
            <p class="order_complete_text" v-if="info.payment.method === 'vbank'">
              입금기한 내에 아래 계좌로 입금하시면
              결제가 완료됩니다.
              <br>
              감사합니다 :)
            </p>
            <p class="order_complete_text" v-else>
              주문이 완료되었습니다.
              <br>
              감사합니다 :)
            </p>
            <a class="btn btn_box_round btn_pink_line" @click="goOrderDetail">
              구매내역 자세히 보기
            </a>

          </div>

          <ul class="arcodian_list order_sheet">
            <!-- li에 class="off" 붙일시 토글   -->
            <li v-if="info.payment.method === 'vbank'" :class="paymentVbank ? 'on' : 'off'" @click="paymentVbank = !paymentVbank">
              <!-- 아코디언 타이틀 -->
              <div class="arcodian_title btn_wrap_right">
                <strong class="arcodian_contents_title ">
                  결제 정보
                </strong>
                <!-- <strong class="arcodian_contents_title text-B right margin-r-20">
                    9,900원
                </strong> -->

                <a class="btn btn_arrow_toggle ico_arrow_toggle">
                </a>
              </div>

              <!-- 아코디언 토글 될 컨텐츠  -->
              <div class="arcodian_contents_wrap">

                <p class="contents_side_text">
                  <span> 결제방식</span>
                  <span class="right">{{payMethodText[info.payment.method]}}</span>
                </p>
                <p class="contents_side_text">
                  <span>결제상태</span>
                  <span class="right">{{ info.payment.state }}</span>
                </p>
                <p class="contents_side_text">
                  <span>결제금액</span>
                  <span class="right">{{ info.payment.amount|number }} 원</span>
                </p>
                <p class="contents_side_text">
                  <span>예금주명</span>
                  <span class="right">{{ info.payment.sender }}</span>
                </p>
                <p class="contents_side_text">
                  <span>입금은행</span>
                  <span class="right">{{ info.payment.vbank_name }}</span>
                </p>
                <p class="contents_side_text">
                  <span>입금계좌</span>
                  <span class="right">{{ info.payment.vbank_num }}</span>
                </p>
                <p class="contents_side_text">
                  <span>입금기한</span>
                  <span class="right">{{ info.payment.vbank_date }}</span>
                </p>

              </div>
            </li>
            <li :class="goodsArea ? 'on' : 'off'" @click="goodsArea = !goodsArea">
              <!-- 아코디언 타이틀 -->
              <div class="arcodian_title btn_wrap_right">
                <strong class="arcodian_contents_title">
                  주문상품정보
                </strong>
                <span class="arcodian_contents_title_sub">
                                    (총 {{info.detail.length}}개)
                                </span>
                <a class="btn btn_arrow_toggle ico_arrow_toggle">
                </a>
              </div>

              <!-- 아코디언 토글 될 컨텐츠  -->
              <div class="arcodian_contents_wrap">

                <ul class="goods_list">
                  <div class="division_line"></div>
                  <li v-for="(item, index) in info.detail" :key="index">
                    <div class="goods_list_img_wrap">
                      <img :src="item.goods.imgs" alt="">
                    </div>
                    <div class="goods_list_text_area">
                      <strong class="goods_list_title">
                        {{ item.goods.seller.name }}
                      </strong>
                      <p class="goods_list_sub_tit">
                        {{ item.goods_title }}
                      </p>
                      <p class="goods_list_option">
                        <i class="goods_list_tag">
                          <span>옵션</span>
                        </i>
                        <span class="goods_list_tag_tit">
                                                    {{ item.goods.option_value }} / {{ item.quantity }}개
                                                </span>
                      </p>
                      <p class="goods_list_price">
                                                <span class="goods_price_sub">
                                                    {{ item.origin_price|number }}원
                                                </span>
                        <span class="goods_price_point">
                                                    {{ Math.round((item.promotion_price / item.origin_price) * 100) }}%
                                                </span>
                        <span class="goods_price_main">
                                                    {{ item.origin_price - item.promotion_price|number }}원
                                                </span>
                      </p>
                    </div>
                  </li>
                </ul>

              </div>
            </li>
            <li :class="orderArea ? 'on' : 'off'" @click="orderArea = !orderArea">
              <!-- 아코디언 타이틀 -->
              <div class="arcodian_title btn_wrap_right">
                <strong class="arcodian_contents_title">
                  주문자정보
                </strong>

                <a class="btn btn_arrow_toggle ico_arrow_toggle">
                </a>
              </div>

              <!-- 아코디언 토글 될 컨텐츠  -->
              <div class="arcodian_contents_wrap">
                <!-- 인풋 얼럿(빨간글씨) 노출시 클래스 on -->
                <div class="input_wrap">
                                    <span class="input_title">
                                        이름(실명)
                                    </span>
                  <input class="input_underline_type" type="text" title="주문자 이름" placeholder="" v-model="info.name" disabled>
                  <p class="input_alert">
                    이름을 입력하세요.
                  </p>
                </div>
                <!-- 인풋 얼럿(빨간글씨) 노출시 클래스 on -->
                <div class="input_wrap">
                                    <span class="input_title">
                                        연락처
                                    </span>
                  <input class="input_underline_type" type="text" title="주문자 연락처" placeholder="" v-model="info.phone" disabled>
                  <p class="input_alert">
                    번호를 입력하세요.
                  </p>
                </div>

              </div>
            </li>
            <li :class="deliveryArea ? 'on' : 'off'" @click="deliveryArea = !deliveryArea">
              <!-- 아코디언 타이틀 -->
              <div class="arcodian_title btn_wrap_right">
                <strong class="arcodian_contents_title">
                  배송정보
                </strong>

                <a class="btn btn_arrow_toggle ico_arrow_toggle">
                </a>
              </div>

              <!-- 아코디언 토글 될 컨텐츠  -->
              <div class="arcodian_contents_wrap">

                <div class="delivery_place_card margin-b-15">
                  <div class="delivery_top">
                    <strong class="delivery_place">
                      {{ info.userAddress.address_type }}
                    </strong>
                    <!-- <a class="btn delivery_top_btn btn_box_round_s_pink">
                        <span>
                            변경
                        </span>
                    </a> -->
                  </div>
                  <p class="delivery_name">
                    {{ info.delivery[0].name }}
                  </p>
                  <p class="delivery_address">
                    {{ info.delivery[0].address_1 }}
                  </p>
                  <p class="delivery_address_detail">
                    {{ info.delivery[0].address_2 }}
                  </p>
                  <p class="delivery_tell">
                    {{ info.delivery[0].phone }}
                  </p>
                </div>

                <select class="select_boxline_type" name="delivery_request"  disabled>
                  <option value="">
                    {{info.delivery[0].msg === '' || info.delivery[0].msg === null ?  '배송시 요청사항을 선택해 주세요.' : deliveryMemoArray.indexOf(info.delivery[0].msg) >= 0 ? info.delivery[0].msg : "직접입력"}}
                  </option>
                </select>

                <!--  직접 입력 선택시 텍스트박스 노출 (최대 50자) -->
                <div class="text_area_box box_h_50 margin-t-15 margin-b-10" v-if="deliveryMemoArray.indexOf(info.delivery[0].msg) < 0">
                  <textarea class="textarea_boxline_type" v-model="delivery.msg"
                            placeholder="" cols="50" maxlength="50" disabled>
                  </textarea>
                  <p class="textarea_sub">
                    <span class="textarea_sub_num">0</span> / 100
                  </p>
                </div>
                <!-- // 직접 입력 선택시 텍스트박스 노출 (최대 50자) -->

              </div>
            </li>
            <li :class="paymentArea ? 'on' : 'off'" @click="paymentArea = !paymentArea">
              <!-- 아코디언 타이틀 -->
              <div class="arcodian_title btn_wrap_right">
                <strong class="arcodian_contents_title ">
                  결제금액
                </strong>
                <!-- <strong class="arcodian_contents_title text-B right margin-r-20">
                    9,900원
                </strong> -->

                <a class="btn btn_arrow_toggle ico_arrow_toggle">
                </a>
              </div>

              <!-- 아코디언 토글 될 컨텐츠  -->
              <div class="arcodian_contents_wrap">

                <p class="contents_side_text" v-if="info.total_price - info.payment.lmpay > 0">
                                    <span>
                                        {{payMethodText[info.payment.method]}}
                                    </span>
                  <span class="right">
                                        {{ (info.total_price - info.payment.lmpay)|number }} 원
                                    </span>
                </p>
                <p class="contents_side_text">
                                    <span>
                                        러마페이
                                    </span>
                  <span class="right">
                                        {{ info.payment.lmpay|number }} 원
                                    </span>
                </p>
                <p class="division_line">
                </p>
                <p class="contents_side_text">
                                    <span class="text-B">
                                        합계
                                    </span>
                  <span class="text-B right">
                                        {{ info.total_price|number }} 원
                                    </span>
                </p>
              </div>
            </li>

          </ul>

          <div class="btn_wrap">
            <a  class="btn btn_wid_100 btn_pink on" @click="submit">
              확인
            </a>
          </div>
        </div>
        <div class="contents_wrap" v-if="isLoad === 2">
          <div class="order_complete_info">
            <p class="order_complete_text" >
              주문에 실패했습니다.
              <br>
              결제실패로 결제를 취소하였습니다.
            </p>
            <span v-if="info.payment.method === 'vbank'" style="font-size: 0.9rem; color: #666666; padding-bottom: 10px;">* 입금자명과 실제 입금자가 같아야 합니다.</span>
            <a class="btn btn_box_round btn_pink_line" @click="historyBack()">
              이전페이지 돌아가기
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Native from '@/lib/native'
export default {
  name: "GoodsOrderResult",
  data () {
    return {
      info: {
        detail: [],
        name: '',
        phone: '',
        delivery: [
          {name: '', address_1: '', address_2: ''}
        ],
        payment: {
          lmpay: 0
        }
      },
      delivery: {},
      deliveryMemoArray: [
        '배송시 요청사항을 선택해 주세요.',
        '부재시 경비실에 맡겨주세요.',
        '부재시 전화 또는 문자주세요.',
        '택배함에 넣어주세요.',
        '배송시 파손에 주의해주세요.',
        '배송전에 연락주세요.',
        '직접입력'
      ],
      paymentVbank: true,
      goodsArea: true,
      orderArea: true,
      deliveryArea: true,
      paymentArea: true,
      resultData: null,
      payMethodText: {
        vbank: "가상계좌",
        card: "카드",
        PAYCO: "페이코",
        samsung: "삼성페이",
        kakaopay: "카카오페이"
      },
      isLoad: 0
    }
  },
  props: {
    'param': {
      type: String | Number,
      default: ''
    }
  },
  created() {
    this.getOrderResultMobileSubmit()
    // this.orderResultInfo()
  },
  methods: {
    historyBack() {
      Native.windowClose()
    },
    submit () {
      this.$native.windowClose()
    },
    getOrderResultMobileSubmit () {

      // let paymentData = JSON.parse(this.param)
      if (typeof(this.param) !== 'number') {
        let paymentData = JSON.parse(this.CryptoJS.AES.decrypt(decodeURIComponent(decodeURI(this.param)), "fleapop21!$&").toString(this.CryptoJS.enc.Utf8))
        paymentData.imp_uid = this.queryString('imp_uid')
        console.log('######################');
        console.log(paymentData);
        // if (paymentData.imp_uid) {
        this.$http.post('order/paymentv3/mobile/result', paymentData).then(res => {
          if (res.result) {
            this.isLoad = 1
            this.orderResultInfo(res.data)
          } else {
            this.isLoad = 2
            this.$alert(res.msg)
          }
        }).catch(e => {
          // window.history.go(-4)
          this.isLoad = 2
          console.warn(e)
        })
      } else {
        this.orderResultInfo(this.param)
      }
    },
    goOrderDetail () {
      this.$native.getOrderDetail('온라인', this.info.order_number)
    },
    orderResultInfo (orderId) {
      this.$http.get('order/paymentv3/result/' + orderId).then(res => {
        this.isLoad = 1
        this.info = res.data
        this.delivery = this.info.delivery[0]
        console.log(res)
      }).catch(e => {
        console.warn(e)
      })
    },
    queryString (paramName) {
      let tempUrl = window.location.search.substring(1)
      let tempArray = tempUrl.split('&')

      for (let i = 0; i < tempArray.length; i++) {
        let keyValuePair = tempArray[i].split('=')
        console.log(keyValuePair[0])
        console.log(paramName)
        console.log(keyValuePair[0] === paramName)
        if (keyValuePair[0] === paramName) {
          return keyValuePair[1]
        } else {
          return false
        }
      }
    }
  }
}
</script>

<style scoped>
.contents_area {
  padding-top: 42px !important;
}
.order_complete_text {
  padding-bottom: 50px;
}
</style>