<template>
  <div class="content-home">
    <div>
      <div>Tab Menu: {{tabInfo.title}}</div>
      <div class="tab-menu">
        <ul>
          <li v-for="item in menus" :key="item.key" :class="item.comp === homeTab ? 'fb' : ''" @click="changeTab(item.comp)">{{item.title}}</li>
        </ul>
      </div>
    </div>
    <component ref="comp" :is="curMenuComp" :tab="tab"></component>
  </div>
</template>

<script>

import Store from "@/views/Home/Store/StoreList";
import Brand from "@/views/Home/Store/StoreBrand";
import New from "@/views/Home/Store/StoreNew";
import Best from "@/views/Home/Store/StoreBest";
import Category from "@/views/Home/Store/StoreCategory";
import Exhibition from "@/views/Home/Store/StoreExhibition";

export default {
  name: "index",
  // eslint-disable-next-line vue/no-unused-components
  components: {Store, Brand, New, Best, Category, Exhibition},
  props: ['tabName', 'homeTab'],
  data () {
    return {
      curIdx: 0,
      tab: '',
      curMenu: '',
      curMenuComp: '',
      menus: [
        {'key': 'store', 'comp': 'Store', 'title': '스토어', 'icon': ''},
        {'key': 'brand', 'comp': 'Brand', 'title': '브랜드', 'icon': ''},
        {'key': 'new', 'comp': 'New', 'title': 'NEW', 'NEW': ''},
        {'key': 'best', 'comp': 'Best', 'title': 'BEST', 'BEST': ''},
        {'key': 'category', 'comp': 'Category', 'title': '카테고리', 'icon': ''},
        {'key': 'exhibition', 'comp': 'Exhibition', 'title': '기획전', 'icon': ''}
      ]
    }
  },
  computed: {
    tabInfo () {
      return this.menus.find(m => { return m.key === this.curMenu })
    }
  },
  watch: {
    homeTab (n) {
      this.loadServiceHome({homeTab: n})
    }
  },
  created () {
    this.tab = this.homeTab
    this.loadServiceHome({homeTab: this.homeTab})
    // this.$bus.$on('resetHome', this.resetHome)
  },
  methods: {
    loadServiceHome (menu) {
      console.log('HomeBox::loadServiceHome::', menu, this.$route)
      console.log('HomeBox::loadServiceHome::this.menus::this.tabName::this.homeTab::', this.menus, this.tabName, this.homeTab)
      if (!menu.homeTab) return

      this.curMenu = menu.homeTab.toLowerCase()
      this.curMenuComp = this.menus.find(m => { return m.key === this.curMenu }).comp

      // 라우터 감지해서 동작 하는게 아니라서 여기서 파라미터로 받아서 처리 해야 정상동작한다.
      this.tab = menu.homeTab ? menu.homeTab : 0
    },
    changeTab (menu) {
      if (menu !== this.homeTab) {
        this.$router.replace('/Store/' + menu)
      }
    }

  }
}
</script>

<style scoped>
.tab-menu>ul>li {
  position: relative;
  display: inline-block;
  padding: 0 1em;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  opacity: .8;
}

.fb {
  font-weight: bold !important;
}
</style>