<template>
  <div class="store">
    <component-stack :component-list="componentList" :comp="comp" :param="param"></component-stack>
    <div style="z-index:10;width:100%;height: 100px;border: solid 1px;top:0;left:0;position: fixed;" @click="stackPush('GoodsDetail',3566)">Click</div>
  </div>
</template>

<script>
import ComponentStack from '../../components/ComponentStack'
import CompRouter from '../../components/router/store-router.js'
import subviewStackMixin from '../../mixins/subview-stack-mixin'
export default {
  name: "GoodsList",
  mixins: [
    CompRouter, subviewStackMixin
  ],
  data () {
    return {
      stack: [],
      nextUuid: 1,
      curIdx: 0,
      curUid: null,
      removeId: null, // replace 일때 잠시 애니메이션을 위해 놔뒀다가 애니메이션 끝나면 지울 uuid
      maxComp: 7
    }
  },
  components: {
    ComponentStack
  },
  props: ['comp', 'param'],
  methods: {
    generateUuid () {
      console.log('ComponentStack::generateUuid::', this.nextUuid + 1)
      return this.nextUuid++
    },
    stackPush (comp, param = null, option = null, query = {}) {
      console.log('ComponentStack::stackPush::', comp, param, option, query)
      if (!query) query = {}
      // 기존에 uid 넘어와도 리셋하게한다.
      query.uuid = this.generateUuid()
      // if (!info.fromUid) info.fromUid = this.stack[this.curIdx].uid
      this.$router.push({name: this.$route.name, params: {comp, param, option}, query: query})
    },
    stackReplace (comp, param = null, option = null, query = {}) {
      console.log('ComponentStack::stackReplace::', comp, param, option, query)
      if (!query) query = {}
      query.uuid = this.generateUuid()
      this.$router.replace({name: this.$route.name, params: {comp, param, option}, query: query})

      let idx = this.curIdx
      this.stack[idx].option.animation = ''
      this.removeId = this.stack[idx].uuid
    },
    stackBack (to, uuid, obj) {
      console.log('ComponentStack::stackBack::', to, uuid, obj)
      console.log(to, obj, this.$refs.scom.length)
      let step = this.stackPass(to, uuid, obj)
      if (step !== 0) this.$router.go(step)
    },
    stackBackAll () {
      console.log('ComponentStack::stackBackAll')
      this.$router.go(-this.stack.length)
    },
    stackPass (to, uuid, obj) {
      console.log('ComponentStack::stackBack::', to, uuid, obj)
      console.log(to, obj, this.$refs.scom.length)
      let myIdx = this.stack.findIndex(o => { return o.uuid + '' === uuid + '' })
      if (myIdx === -1) return

      let len = this.stack.length
      let receiver = null
      let step = 0
      if (!to) {
        if (len > 1) {
          receiver = this.$refs.scom.find(o => { return this.stack[len - 2].uuid + '' === o.uuid + '' })
          step = -1
        }
      } else if (typeof to === 'number' && to < 0) {
        let toIdx = myIdx + Number(to)
        if (toIdx < 0) return
        receiver = this.$refs.scom.find(o => { return this.stack[toIdx].uuid + '' === o.uuid + '' })
        step = -(this.stack.length - 1 - toIdx)
      } else {
        for (let i = myIdx; i >= 0; --i) {
          if (this.stack[i].uuid + '' === to + '' || this.stack[i].name + '' === to + '') {
            receiver = this.$refs.scom.find(o => { return this.stack[i].uuid + '' === o.uuid + '' })
            step = -(this.stack.length - 1 - i)
            break
          }
        }
      }
      console.log('------------------------', step, receiver)
      if (receiver) {
        receiver.resultComponent(obj)
        return step
      }
      return 0
    }
  }
}
</script>

<style>

@import "../../assets/css/store/common.css";
@import "../../assets/css/store/viewGoods.css";
.store {
  width: 100vw;
  height: 100vh;
}

</style>