<template>
  <div class="content-home">
    <router-view/>
    <u-i-footer/>
  </div>
</template>

<script>
import UIFooter from "@/components/UIFooter";
export default {
name: "index",
  components: {UIFooter}
}
</script>

<style scoped>
  .content-home {
    position: absolute;
    overflow: auto;
  }
</style>