<template>
  <div id="app" class="body">
    <login-comp v-if="false"/>
    <u-i-message/>
    <u-i-select/>
    <terms-popup/>
    <transition mode="" :name="subWebAni">
      <!--      <sub-page-component :comp="comp" :param="param"/>-->
      <component-stack v-if="comp" :component-list="componentList" :comp="comp" :param="isParam" :isAnimation="isAnimation"></component-stack>
    </transition>
    <router-view class="sub-web-view"/>
  </div>
</template>
<script>
import ComponentStack from '@/components/ComponentStack'
import StoreCompRouter from '@/components/router'
import LoginComp from '@/views/MyPage/Login'
import UISelect from "@/components/popup/UISelect";
import UIMessage from "@/components/popup/UIMessage";
import TermsPopup from "@/components/popup/TermsPopup";
import $ from "jquery"
// import Vue from 'vue'
import Native from './lib/native'

import vueMixins from '@/lib/mixins/vue-mixins'

// const cors = require('cors')
// Vue.use(cors)
export default {
  name: "app",
  components: {UIMessage, UISelect, ComponentStack, LoginComp, TermsPopup},
  mixins: [
    StoreCompRouter, vueMixins
  ],
  data () {
    return {
      transitionMode: '',
      subWebAni: 'page-slide-right',
      comp: null,
      isParam: null,
      isAnimation: true,
      maxWidth: false
    }
  },
  watch: {
    comp (n) {
      if (!n && this.$route.name.toLocaleLowerCase().substring(0,4) === 'home') {
        localStorage.removeItem('stackHistory')
      }
    },
    '$route' (to, from) {
      console.log('############## Watch Route ###########################')
      console.log(this.$router.history.index)
      console.log(this.$router.history.stack)
      console.log(this.$router)
      console.log(to)
console.log(from)
    }
  },
  computed: {
    isNative () {
      return Native.isHybrid()
    }
  },
  created() {
    // 해상도 width 800 이상일 경우 애니메이션 제거
    let wd = window.innerWidth
    $(window).resize(e => {
       wd = window.innerWidth
      this.maxWidth = wd >= 800
      if (wd >= 800 || this.isNative) {
        this.isAnimation = false
        this.subWebAni = ''
      } else {
        this.isAnimation = true
        this.subWebAni = 'page-slide-right'
      }
    })
    this.maxWidth = wd >= 800
    if (this.isNative) {
      this.isAnimation = false
      this.subWebAni = ''
    }
    if (window.localStorage.getItem('user_data') && this.$store.getters.userData.user_id === '') {
      if (localStorage.getItem('user_data')) {
        let userData = JSON.parse(localStorage.getItem('user_data'))
        this.$store.dispatch('setUserData', userData)
      } else {
        let userdata = {
          user_idx: ''
        }
        this.$store.dispatch('setUserData', userdata)
        localStorage.removeItem('user_data')
      }
    }
    if (this.queryString('isAni') === 'false') {
      this.subWebAni = ''
    }
    let stackHistory = JSON.parse(localStorage.getItem('stackHistory'))
    if (stackHistory) this.$store.dispatch('setStackHistory', stackHistory)

    this.$router.beforeEach((to, from, next) => {
      console.log('>>>>>>>>>>>>>>>>>>> this.$router.beforeEach')
      console.log(to, from)
      if (this.maxWidth) {
        console.log(1)
        this.isAnimation = false
        this.subWebAni = ''
      } else {
        console.log(to.query.uuid)
        console.log(this.isNative)
        if (this.isNative) {
          if (to.query.uuid <= 1) {
            this.isAnimation = false
            this.subWebAni = ''
          } else {
            this.isAnimation = true
            this.subWebAni = 'page-slide-right'
          }
        } else {
          this.isAnimation = true
          this.subWebAni = 'page-slide-right'
        }
      }
    console.log('########## isAnimation ###########')
    console.log(this.isAnimation)
      console.log('########### isAnimation ##########')
      if (window.localStorage.getItem('user_data') && this.$store.getters.userData.user_id === '') {
        if (localStorage.getItem('user_data')) {
          let userData = JSON.parse(localStorage.getItem('user_data'))
          this.$store.dispatch('setUserData', userData)
        } else {
          let userdata = {
            user_idx: ''
          }
          this.$store.dispatch('setUserData', userdata)
          localStorage.removeItem('user_data')
        }
      }
      this.$netObj.cancel()
      next()
    })

    this.$router.afterEach((to, from) => {
      console.log('>>>>>>>>>>>>>>>>>>> this.$router.afterEach')
      console.log(to, from)

      this.comp = to.params.comp
      this.isParam = to.params.param

    })
  },
  mounted () {
  },
  methods: {
  }
}
</script>

<style>
@import './assets/css/common.css';

#app {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
</style>
